<template>
  <div class="d-flex flex-grow-1 flex-column">
    <v-card-title>
      <v-btn rounded color="primary" dark to="/head_project">
        <v-icon left dark> mdi-arrow-left-bold </v-icon>
        Projects
      </v-btn>
      <v-spacer></v-spacer>
      DETAIL RAB PROJECT
    </v-card-title>
    <v-row class="flex-grow-0" dense>
      <v-col cols="12" xl="6">
        <v-card>
          <v-card-title>
            <div>Project Info</div>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-row>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Nomor Project</div>
                </div>
                <div><strong>{{ selectedProject.nomor }}</strong></div>
                <div><strong>{{ selectedProject.tanggal | formatDate }}</strong></div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Nama Project</div>
                </div>
                <div><strong>{{ selectedProject.nama }}</strong></div>
                <div><strong>{{ selectedProject.jenis }}</strong></div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Lokasi</div>
                </div>
                <div><strong>{{ selectedProject.lokasi }}</strong></div>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Customer</div>
                </div>
                <div><strong>{{ selectedProject.nama_customer }}</strong></div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Email</div>
                  <div><strong>{{ selectedProject.email_customer }}</strong></div>
                </div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Contact</div>
                  <div><strong>{{ selectedProject.contact_pic }}</strong></div>
                </div>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Subtotal</div>
                </div>
                <div><strong>{{ formatNumber(selectedProject.total_nilai_project_so) }}</strong></div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Nominal SO Project (%)</div>
                  <div><strong>{{ formatNumber(selectedProject.nilai_so_project) }}</strong></div>
                  <div><strong>{{ formatNumber(selectedProject.prosentase_project) }}%</strong></div>
                </div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Total RAB Project</div>
                  <div><strong>{{ formatNumber(selectedRab.total_rab) }}</strong></div>
                </div>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" xl="6">
        <ListPekerjaanRabProject
        :rab="selectedRab"
        :pekerjaans="selectedPekerjaans"
        @afterUpdateHarga="afterUpdateHarga"
        @afterAddDetailPekerjaan="afterAddDetailPekerjaan"
        @afterRemoveDetail="afterRemoveDetail"
        @afterAddPekerjaan="afterAddPekerjaan"
      />
      </v-col>
      <v-col cols="12" xl="6" v-show="selectedRab.status_level === 0">
        <v-card>
          <v-card-title>
            <div>Confirm RAB Project</div>
          </v-card-title>
          <v-card-text>
            <v-btn
            color="blue"
            @click.prevent="confirmRab">
            Confirm RAB Project
            </v-btn>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" xl="6" v-show="selectedRab.status_level > 0">
        <v-card>
          <v-card-title>
            <div>RAB ini telah dikonfirmasi</div>
          </v-card-title>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
    

<script>
const pg = 'DetailProjectProject'
export default {
  created() {
    const t = localStorage.getItem("t");
    if (t === "head_project") {
      // user loggged in
      // do nothing
    } else {
      this.$router.push("/login");
    }
  },
  name:"DetailHeadProject",
  components: {
  },

  data() {
    return {
      valid: false,
      dialog: false,
      headers: [
        { text: 'Nomor',key: 'nomor_quotation',align: 'start',value: 'nomor'},
        { text: 'Tanggal', value: 'tanggal', align: 'center' }, 
        { text: 'Sales', value: 'nama_sales' },
        { text: 'Contact', value: 'contact_pic' },
        { text: 'No. Telp', value: 'contact_telp' },
        { text: 'Email', value: 'contact_email' },
        { text: 'Status', value: 'status' }, 
        { text: '', align: 'center', sortable: false, value: 'actions' }
      ],
    }
  },

  async fetch() {
    console.info(`${pg} fetch()`)
    const pid = this.selectedProject.id
    const rab = await this.$store.dispatch(
      'project/getRabProjectByProjectId',
      pid
    )
    console.info('rab', rab)
    if (rab.data) {
      const rabId = rab.data.id
      await this.$store.dispatch('project/getPekerjaansByRabId', rabId)
    }
  },

  mounted() {
    console.info(`${pg} mounted()`)
    // this.$store.dispatch('setSelectedMenu', 'projects')
    if (!this.selectedProject.id) {
      this.$router.push({ path: '/head_project' })
    }
  },

  computed: {
    selectedProject() {
      return this.$store.state.project.selectedProject
    },
    selectedRab() {
      return this.$store.state.project.selectedRab
    },
    selectedPekerjaans() {
      return this.$store.state.project.selectedPekerjaans
    },
  },

  methods: {
    formatNumber(num) {
      const n = Number(num).toFixed(2);
      const numParts = n.toString().split(".");
      numParts[0] = numParts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      return numParts.join(".");
    },
    async afterUpdateHarga() {
      this.$fetch()
    },
    async afterAddDetailPekerjaan() {
      this.$fetch()
    },
    async afterRemoveDetail() {
      this.$fetch()
    },
    async afterAddPekerjaan() {
      this.$fetch()
    },
    async confirmRab() {
      const id = this.selectedRab.id
      const nomor = this.selectedRab.nomor
      if (id) {
        if (confirm(`Yakin akan confirm rab: ${nomor} ?!`)) {
          const c = await this.$store.dispatch('project/confirmRabProject', id)
          if (c.error) {
            alert('Error, pesan:['+ c.msg+']')
          } else {
            alert('Success, RAB berhasil dikonfirmasi')
            this.$router.push({ path: '/head_project' })
          }
        }
      }
    },
  }
};
</script>