<template>
  <v-card>
    <v-card-title>
      QUOTATIONS
      <v-spacer></v-spacer>
      <v-dialog 
        v-model="dialog"
        persistent
        max-width="1000px"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            color="success"
            dark
            v-bind="attrs"
            v-on="on"
          >
            Add Quotation
          </v-btn>
        </template>

        <v-form v-model="valid" @submit.prevent="submitForm">
          <v-card>
            <v-card-title>
              <span class="headline">Input Quotation</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" md="4">
                    <v-text-field
                      v-model="tglQuotation"
                      label="Tanggal Quotation"
                      disabled
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="4">
                    <v-text-field
                      v-model.trim="nmrQuotation"
                      :rules="nmrRules"
                      label="Nomor Quotation"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="4">
                    <v-text-field
                      v-model.trim="sales"
                      :rules="salesRules"
                      label="Sales"
                      required
                    ></v-text-field>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col cols="12" md="4">
                    <v-text-field
                      v-model.trim="contactCust"
                      :rules="contactRules"
                      label="Contact Customer"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="4">
                    <v-text-field
                      v-model.trim="telpCust"
                      :rules="telpRules"
                      label="Telp Customer"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="4">
                    <v-text-field
                      v-model.trim="emailCust"
                      :rules="emailRules"
                      label="Email Customer"
                      required
                    ></v-text-field>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col>
                    <v-textarea
                      v-model.trim="notesQuotation"
                      outlined
                      clearable
                      clear-icon="mdi-close-circle"
                      label="Notes"
                    ></v-textarea>
                  </v-col>
                </v-row>

                <v-btn
                  class="mr-4"
                  color="error"
                  @click="dialog = false"
                >
                  Cancel
                </v-btn>
                <v-btn
                  :disabled="!valid"
                  class="mr-4"
                  color="success"
                  type="submit"
                  absolute
                  right
                  @click="dialog = false"
                >
                  Save Quotation
                </v-btn>
              </v-container>
            </v-card-text>
          </v-card>
        </v-form>
      </v-dialog>
    </v-card-title>

    <v-data-table
      :headers="headersQuotation"
      :items="quotations"
      :items-per-page="10"
      class="elevation-1"
    >
      <template v-slot:item.pic="{ item }">
        <div class="d-flex align-center py-1">
          <div class="ml-1">
            <div class="font-weight-bold">{{ item.pic.name }}</div>
            <div>{{ item.pic.telp }}</div>            
            <copy-label :text="item.pic.email" />
          </div>
        </div>
      </template>

      <template v-slot:item.status="{ item }">
        <v-chip
          label
          small
          color="secondary"
          class="font-weight-bold"
          :class="{
            'error': item.status === 'Pending'
          }"
        >{{ item.status }}</v-chip>
      </template>
        
      <template v-slot:item.actions="{ item }">
        <div class="d-flex">
          <v-btn 
            class="mx-1"
            dark
            color="orange darken-3" 
            to="/estimator/detail_quotation"
          >
            Detail
          </v-btn>
          <v-btn
            class="mx-1"
            fab
            dark
            small
            color="red darken-3"
            @click="deleteItem(item)"
          >
            <v-icon dark>mdi-close</v-icon>
          </v-btn>
        </div>
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
import CopyLabel from '../common/CopyLabel'

export default {
  components: {
    CopyLabel
  },
  data() {
    return {
      valid: false,
      dialog: false,
      tglQuotation: new Date().toISOString().substr(0, 10),
      nmrQuotation: '',
      sales: '',
      contactCust: '',
      telpCust: '',
      emailCust: '',
      notesQuotation: '',
      nmrRules: [
        (v) => !!v || 'Nomor Quotation tidak boleh kosong'
      ],
      salesRules: [
        (v) => !!v || 'Sales tidak boleh kosong'
      ],
      contactRules: [
        (v) => !!v || 'Contact Customer tidak boleh kosong'
      ],
      telpRules: [
        (v) => !!v || 'Telp Customer tidak boleh kosong'
      ],
      emailRules: [
        (v) => !!v || 'Email Customer tidak boleh kosong'
      ]
    }
  },
  computed: {
    headersQuotation() {
      return this.$store.getters['estimator/headersQuotation']
    },
    quotations() {
      return this.$store.getters['estimator/quotations']
    }
  }
}
</script>