<template>
  <div class="d-flex flex-column flex-grow-1">
    <v-card>
      <v-card-title>
        <div>Project Info</div>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-row>
          <v-col cols="12" md="4">
            <div class="caption">
              <div>Nomor Project</div>
            </div>
            <div><strong>IFCI51</strong></div>
            <div><strong>October 28, 2020</strong></div>
          </v-col>
          <v-col cols="12" md="4">
            <div class="caption">
              <div>Nama Project</div>
            </div>
            <div><strong>Project Review</strong></div>
            <div><strong>After Sales Services</strong></div>
          </v-col>
          <v-col cols="12" md="4">
            <div class="caption">
              <div>Lokasi</div>
            </div>
            <div><strong>Kudus</strong></div>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" md="4">
            <div class="caption">
              <div>Customer</div>
            </div>
            <div><strong>RS BHAYANGKARA</strong></div>
          </v-col>
          <v-col cols="12" md="4">
            <div class="caption">
              <div>Email</div>
              <div><strong>rsbhayangkara@gmail.com</strong></div>
            </div>
          </v-col>
          <v-col cols="12" md="4">
            <div class="caption">
              <div>Contact</div>
              <div><strong>dr. Johan</strong></div>
            </div>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>