<template>
  <v-card>
    <div class="d-flex flex-column flex-grow-1">
      <v-card-title>
        PROSPECT PROJECTS
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
        <v-spacer></v-spacer>
        <v-dialog 
          v-model="dialog"
          persistent
          max-width="1000px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="primary"
              dark
              v-bind="attrs"
              v-on="on"
            >
              Add New Project
            </v-btn>
          </template>

          <v-form v-model="valid" @submit.prevent="submitForm">
            <v-card>
              <v-card-title>
                <span class="headline">Input New Project</span>
              </v-card-title>
              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12" md="4">
                      <v-text-field
                        v-model.trim="namaProject"
                        :rules="namaRules"
                        label="Nama Project"
                        required
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" md="4">
                      <v-text-field
                        v-model.trim="lokasiProject"
                        :rules="lokasiRules"
                        label="Lokasi"
                        required
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" md="4">
                      <v-select
                        v-model.trim="jenisProject"
                        :rules="jenisRules"
                        label="Jenis Project"
                        :items="typesprojects"
                        placeholder="Pilih jenis project..."
                        required
                      ></v-select>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col cols="12" md="4">
                      <v-text-field
                        v-model.trim="customerProject"
                        :rules="customerRules"
                        label="Customer"
                        required
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" md="4">
                      <v-text-field
                        v-model.trim="emailProject"
                        :rules="emailRules"
                        label="Email"
                        required
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" md="4">
                      <v-text-field
                        v-model.trim="contactProject"
                        :rules="contactRules"
                        label="Contact"
                        required
                      ></v-text-field>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col>
                      <v-textarea
                        v-model.trim="notesProject"
                        outlined
                        clearable
                        clear-icon="mdi-close-circle"
                        label="Notes"
                      ></v-textarea>
                    </v-col>
                  </v-row>

                  <v-btn
                    class="mr-4"
                    color="error"
                    @click="dialog = false"
                  >
                    Cancel
                  </v-btn>
                  <v-btn
                    :disabled="!valid"
                    class="mr-4"
                    color="success"
                    type="submit"
                    absolute
                    right
                    @click="dialog = false"
                  >
                    Input Project
                  </v-btn>
                </v-container>
              </v-card-text>
            </v-card>
          </v-form>
        </v-dialog>
      </v-card-title>
        
      <v-data-table
        :headers="headers"
        :items="projects.data"
        :search="search"
        :items-per-page="10"
        class="elevation-1"
      >
        <template v-slot:[`item.jenis`]="{ item }">
          <v-chip
            small
            class="font-weight-bold"
            :class="{
              'orange': item.jenis === 'trading',
              'green': item.jenis === 'custom',
              'blue': item.jenis === 'after sales services',
              'purple': item.jenis === 'maintenance',
            }"
          >{{ item.jenis }}</v-chip>
        </template>

        <template v-slot:[`item.tanggal`]="{ item }">
          <div>{{ item.tanggal | formatDate }}</div>
        </template>

        <template v-slot:[`item.email_customer`]="{ item }">
          <div><copy-label :text="item.email_customer" /></div>
        </template>

        <template v-slot:[`item.status`]="{ item }">
          <v-chip
            label
            small
            color="secondary"
            class="font-weight-bold"
            :class="{
              'error': item.status === 'pending'
            }"
          >{{ item.status }}</v-chip>
        </template>

        <template v-slot:[`item.actions`]="{ item }">
          <div class="d-flex">
            <v-btn 
              class="mx-1" 
              dark
              color="cyan darken-2" 
              to="estimator/project_quotations"
            >
              Quotations
            </v-btn>
            <v-btn
              class="mx-1"
              fab
              dark
              small
              color="red darken-3"
              @click="deleteItem(item)"
            >
              <v-icon dark>mdi-close</v-icon>
            </v-btn>
          </div>
        </template>
      </v-data-table>
    </div>
  </v-card>
</template>

<script>
import CopyLabel from '../common/CopyLabel'

export default {
  components: {
    CopyLabel
  },
  data() {
    return {
      search: '',
      valid: false,
      dialog: false,
      namaProject: '',
      namaRules: [
        (v) => !!v || 'Nama Project tidak boleh kosong'
      ],
      lokasiProject: '',
      lokasiRules: [
        (v) => !!v || 'Lokasi tidak boleh kosong'
      ],
      jenisProject: '',
      jenisRules: [
        (v) => !!v || 'Jenis Project tidak boleh kosong'
      ],
      customerProject: '',
      customerRules: [
        (v) => !!v || 'Customer tidak boleh kosong'
      ],
      emailProject: '',
      emailRules: [
        (v) => !!v || 'Email tidak boleh kosong'
      ],
      contactProject: '',
      contactRules: [
        (v) => !!v || 'Contact tidak boleh kosong'
      ],
      select: null,
      typesprojects: ['Trading', 'Custom', 'After Sales Services', 'Maintenance'],
      notesProject: '',
      headers: [
          { text: 'No Project',key: 'nomor',align: 'start',value: 'nomor'},
          { text: 'Jenis Project', value: 'jenis', align: 'center' }, 
          { text: 'Tanggal Project', value: 'tanggal' }, 
          { text: 'Nama Project', value: 'nama' }, 
          { text: 'Lokasi Project', value: 'lokasi' }, 
          { text: 'Customer', value: 'nama_customer' }, 
          { text: 'Email Customer', value: 'email_customer' }, 
          { text: 'Contact', value: 'contact_pic' }, 
          { text: 'Status', value: 'status' }, 
          { text: '', align: 'center', sortable: false, value: 'actions' }  
        ]
    }
  },
  async asyncData({$axios}) {
      let projects = {}
        try {
          const response = await $axios.$get('/api/projects/project')
          projects = response
        } catch (error) {
            alert("Oops data tidak ditemukan, silahkan hubungi administrator!")
        }
        // console.log(response)
        // console.log(response.data)
        return { projects }
    //   return this.$store.getters['estimator/projects']
    },
  computed: {
    // headers() {
      
    //   // return this.$store.getters['estimator/headers']
    // },
    // async projects() {
    //   let response = {}
    //     try {
    //       response = await this.$axios.$get('/api/projects/project')
    //     } catch (error) {
    //         alert("Oops data tidak ditemukan, silahkan hubungi administrator!")
    //     }
    //     console.log(response)
    //     console.log(response.data)
    //     return response.data
    // //   return this.$store.getters['estimator/projects']
    // }
  },
  methods: {
    submitForm() {
      console.log(this.namaProject)
      const formData = {
        nama: this.namaProject,
        lokasi: this.lokasiProject,
        jenis: this.jenisProject,
        cust: this.customerProject,
        email: this.emailProject,
        contact: this.contactProject,
        notes: this.notesProject
      }

      this.$store.dispatch('estimator/addProject', formData)
    }
  }
}
</script>