<template>
  <div class="d-flex flex-grow-1 flex-column">
    <v-card-title>
      <v-btn rounded color="primary" dark to="/skl">
        <v-icon left dark> mdi-arrow-left-bold </v-icon>
        List SKL
      </v-btn>
      <v-spacer></v-spacer>
      DETAIL SKL
    </v-card-title>
    <v-row class="flex-grow-0" dense>
      <v-col cols="12" xl="6">
        <ProjectInfoSkl :project="selectedProject" />
      </v-col>
      <v-col cols="12" xl="6">
        <WoProjectInfo :wo="selectedWo" />
      </v-col>
      <v-col cols="12" xl="6" v-show="selectedSkls.length === 0">
        <div>Tidak ada data yang dapat ditampilkan</div>
      </v-col>
      <v-col cols="12" xl="6">
        <v-card>
          <v-card-title>
            <v-spacer></v-spacer>
            <v-btn color="blue" class="text-right" @click.prevent="addSKL">
          Input SKL Baru
        </v-btn>
          </v-card-title>
          <v-card-text>
            <ListSkl :skls="selectedSkls" :key="listSklKey" />
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { formatNumber } from "../../utils/format";
const pg = "DetailSKL";

export default {
  name: "DetailSKL",
  layout: "dashboard",
  validate() {
    console.info(`${pg} validate()`);
    return true;
  },
  async asyncData() {
    console.info(`${pg} asyncData()`);
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} asynsData() after 0.1 second`);
        resolve("OK");
      });
    }, 100);
  },
  created() {
    console.info(`${pg} created()`);
  },
  async fetch() {
    console.info(`${pg} fetch()`);
    const wo_id = this.selectedWo.id;
    const project_id = this.selectedWo.project_id;
    if (wo_id) {
      await this.$store.dispatch("project/getWoProjectById", wo_id);
      await this.$store.dispatch("project/getSklsByWoId", wo_id);
      await this.$store.dispatch("project/getProjectById", project_id);
    }
  },
  data() {
    return {
      listSklKey: Math.random(),
    };
  },
  mounted() {
    console.info(`${pg} mounted()`);
    if (!this.selectedWo.id) {
      this.$router.push({ path: "/skl" });
    }
  },
  computed: {
    selectedWo() {
      return this.$store.state.project.selectedWo;
    },
    selectedProject() {
      return this.$store.state.project.selectedProject;
    },
    selectedSkls() {
      return this.$store.state.project.selectedSkls;
    },
    selectedSkl() {
      return this.$store.state.project.selectedSkl;
    },
  },
  methods: {
    formatNumber(val) {
      return formatNumber(val);
    },
    async addSKL() {
      const wo_id = this.selectedWo.id;
      if (wo_id) {
        // TODO: add all promise with catch((e) => {}) to show error message
        await this.$store
          .dispatch("project/addNewSKLByWoId", wo_id)
          .then(async (a) => {
            console.info("a detail skl", a);
            if (a.error) {
              alert("Error, pesan:["+ a.msg+"]");
            } else {
              await this.$fetch();
              this.listSklKey = Math.random();
              alert(
                "Success, SKL baru berhasil ditambahkan"
              );
            }
          })
          .catch((e) => {
            console.info("e", e);
            alert("Error, pesan:["+ e.msg+"]");
          });
      }
    },
  },
};
</script>