<template>
<v-card>
    <div class="d-flex flex-column flex-grow-1">
      <v-card-title>
        Work Order Project ( status: Approved )
        <v-spacer></v-spacer>
      </v-card-title>
      <v-card-text :key="forceReload">
        <ListWoProject :wos="selectedWos" />
      </v-card-text>
    </div>
  </v-card>
</template>

<script>
const pg = 'Skl'
export default {
  name: 'Skl',
  layout: 'dashboard',
  validate() {
    console.info(`${pg} validate()`)
    return true
  },
  async asyncData() {
    console.info(`${pg} asyncData()`)
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} asynsData() after 0.1 second`)
        resolve('OK')
      })
    }, 100)
  },
  created() {
    console.info(`${pg} created()`)
  },
  async fetch() {
    console.info(`${pg} fetch()`)
    await this.$store.dispatch('project/getWOProjectsApproved')
  },
  mounted() {
    console.info(`${pg} mounted()`)
    // this.$store.dispatch('setSelectedMenu', 'skl')
    // this.toggleSidebar(false)
  },
  data() {
    return {
      forceReload: Math.random(),
    }
  },
  computed: {
    selectedWos() {
      return this.$store.state.project.selectedWos
    },
  },
  methods: {
    toggleSidebar(sidebar) {
      this.$store.dispatch('toggleSidebar', sidebar)
    },
    reloadList() {
      this.$fetch()
      this.forceReload = Math.random()
    },
  },
}
</script>