<template>
  <div class="d-flex flex-grow-1 flex-column">
    <v-card-title>
      <v-btn rounded color="primary" dark to="/skl/detail_skl">
        <v-icon left dark> mdi-arrow-left-bold </v-icon>
        Detail SKL
      </v-btn>
      <v-spacer></v-spacer>
      INPUT SKL
    </v-card-title>
    <v-row class="flex-grow-0" dense>
      <v-col cols="12" xl="6">
        <SklInfo :skl="selectedSkl" :key="listPekerjaanKey" />
      </v-col>
      <v-col cols="12" xl="6">
        <v-card>
          <v-card-title>
            <div>Detail Surat Kerja Lapangan (SKL)</div>
          </v-card-title>
          <v-card-text>
            <hr class="mb-2 mt-2" v-show="!selectedSkl.is_approved" />
            <FormAddPekerjaanSkl
              :skl="selectedSkl"
              :pekerjaans="pekerjaans"
              @afterAddPekerjaan="afterAddPekerjaan"
              v-show="!selectedSkl.is_approved"
            />
            <hr class="mb-2 mt-2" />
            <ListPekerjaanSkl
              :skl="selectedSkl"
              :key="listPekerjaanKey"
              @afterRemoveDetail="afterRemoveDetail"
            />
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" xl="6" v-show="selectedSkl.status_level === 0">
        <v-card>
          <v-card-title> Confirm SKL </v-card-title>
          <v-card-text>
            <v-btn
              class="p-2 bg-sdarkblue text-white"
              color="blue"
              @click.prevent="confirmSkl"
            >
              Confirm SKL
            </v-btn>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" xl="6" v-show="selectedSkl.status_level > 0">
        <v-card>
          <v-card-title> SKL ini sudah dikonfirmasi </v-card-title>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
const pg = "InputSKL";
export default {
  name: "InputSKL",
  layout: "dashboard",
  validate() {
    console.info(`${pg} validate()`);
    return true;
  },
  async asyncData() {
    console.info(`${pg} asyncData()`);
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} asynsData() after 0.1 second`);
        resolve("OK");
      });
    }, 100);
  },
  created() {
    console.info(`${pg} created()`);
  },
  async fetch() {
    console.info(`${pg} fetch()`);
    const wo_id = this.selectedWo.id;
    if (wo_id) {
      await this.$store
        .dispatch("project/getPekerjaansWoByWoId", wo_id)
        .then((results) => {
          if (results.error) {
            this.$store.dispatch("showError", results.msg);
          } else {
            this.pekerjaans = results.data;
          }
        })
        .catch((e) => {
          this.$store.dispatch("showError", e.msg);
        });
    }

    const skl_id = this.selectedSkl.id;
    if (skl_id) {
      await this.$store.dispatch("project/getSklById", skl_id);
    }
  },
  mounted() {
    console.info(`${pg} mounted()`);
    if (!this.selectedSkl.id) {
      this.$router.push({ path: "/skl" });
    }
  },
  data() {
    return {
      pekerjaans: [],
      listPekerjaanKey: Math.random(),
    };
  },
  computed: {
    selectedSkl() {
      return this.$store.state.project.selectedSkl;
    },
    selectedWo() {
      return this.$store.state.project.selectedWo;
    },
  },
  methods: {
    afterAddPekerjaan() {
      this.$fetch();
      this.listPekerjaanKey = Math.random();
    },
    afterRemoveDetail() {
      this.$fetch();
      this.listPekerjaanKey = Math.random();
    },
    async confirmSkl() {
      const skl_id = this.selectedSkl.id;
      if (skl_id) {
        if (confirm(`Yakin akan confirm SKL ini?`)) {
          await this.$store
            .dispatch("project/confirmSKL", skl_id)
            .then((result) => {
              alert("Success, SKL berhasil diconfirm");
              this.$router.push({ path: "/skl" });
            })
            .catch((e) => {
              alert("Error, pesan:["+ e.msg+"]");
            });
        }
      }
    },
  },
};
</script>