<template>
  <div class="d-flex flex-grow-1 flex-column">
    <v-card-title>
      <v-btn rounded color="primary" dark to="/skl/detail_skl">
        <v-icon left dark> mdi-arrow-left-bold </v-icon>
        Detail SKL
      </v-btn>
      <v-spacer></v-spacer>
      INPUT SKL
    </v-card-title>
    <v-row class="flex-grow-0" dense>
      <v-col cols="12" xl="6">
        <SklInfo :skl="selectedSkl" :key="listPekerjaanKey" />
      </v-col>

      <v-col cols="12" xl="6">
        <v-card>
          <v-card-title>
            <div>Detail Surat Kerja Lapangan (SKL)</div>
          </v-card-title>
          <hr class="mb-2 mt-2" />
          <v-card-text>
            <ListRealisasiSkl
              :skl="selectedSkl"
              :key="listPekerjaanKey"
              @afterRemoveDetail="afterRemoveDetail"
              @afterAddRealisasiSkl="afterAddRealisasiSkl"
            />
          </v-card-text>
        </v-card>
      </v-col>

      <v-col cols="12" xl="6">
        <v-card>
          <v-card-title>
            <div>History Realisasi SKL</div>
          </v-card-title>
          <hr class="mb-2 mt-2" />
          <v-card-text>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
            <v-data-table
              :headers="headers"
              :items="realisasis"
              :search="search"
              :items-per-page="10"
              class="elevation-1"
            >
              <template v-slot:[`item.kpi`]="{ item }">
                <div>{{ item.kpi }} %</div>
              </template>
              <template v-slot:[`item.prosentase`]="{ item }">
                <div>{{ item.prosentase }} %</div>
              </template>
              <template v-slot:[`item.pekerjaan`]="{ item }">
                <div>{{ item.pekerjaan }}</div>
                <div>{{ item.detail }}</div>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-col>

      <!-- attachment -->
      <v-col cols="12" xl="6">
        <v-card>
          <v-card-title>
            <div>Attachments</div>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-simple-table>
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-left">Pekerjaan</th>
                    <th class="text-left">Filename</th>
                  </tr>
                </thead>
                <v-divider></v-divider>
                <tbody>
                  <tr v-for="attch in attachments" :key="attch.id">
                    <td class="text-left">
                      <span>{{ attch.pekerjaan }}</span>
                      <br />
                      <span>{{ attch.detail }}</span>
                    </td>
                    <td class="text-left">{{ attch.nama_file }}</td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-card-text>
        </v-card>
      </v-col>
      <!-- endo of attachment -->

      <v-col cols="12" xl="6" v-show="selectedSkl.status_level === 0">
        <v-card>
          <v-card-title>
            <div>Confirm SKL</div>
          </v-card-title>
          <v-card-text>
            <v-btn color="blue" @click.prevent="confirmSkl">
              Confirm SKL
            </v-btn>
          </v-card-text>
        </v-card>
      </v-col>

      <v-col cols="12" xl="6" v-show="selectedSkl.status_level > 0">
        <v-card>
          <v-card-title>
            <div>SKL ini sudah dikonfirmasi</div>
          </v-card-title>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
const pg = "RealisasiSKL";
export default {
  name: "RealisasiSKL",
  layout: "dashboard",
  validate() {
    console.info(`${pg} validate()`);
    return true;
  },
  async asyncData() {
    console.info(`${pg} asyncData()`);
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} asynsData() after 0.1 second`);
        resolve("OK");
      });
    }, 100);
  },
  created() {
    console.info(`${pg} created()`);
  },
  async fetch() {
    console.info(`${pg} fetch()`);
    const wo_id = this.selectedWo.id;
    if (wo_id) {
      await this.$store
        .dispatch("project/getPekerjaansWoByWoId", wo_id)
        .then((results) => {
          if (results.error) {
            this.$store.dispatch("showError", results.msg);
          } else {
            this.pekerjaans = results.data;
          }
        })
        .catch((e) => {
          this.$store.dispatch("showError", e.msg);
        });
    }

    const skl_id = this.selectedSkl.id;
    if (skl_id) {
      await this.$store.dispatch("project/getSklById", skl_id);
      await this.$store
        .dispatch("project/getSklRealisasiById", skl_id)
        .then((result) => {
          this.realisasis = result.data;
        })
        .catch((e) => {
          this.$store.dispatch("showError", e.msg);
        });
      await this.$store
        .dispatch("project/getSklAttachmentById", skl_id)
        .then((result) => {
          this.attachments = result.data;
        })
        .catch((e) => {
          this.$store.dispatch("showError", e.msg);
        });
    }
  },
  mounted() {
    console.info(`${pg} mounted()`);
    if (!this.selectedSkl.id) {
      this.$router.push({ path: "/skl/detail_skl" });
    }
  },
  data() {
    return {
      pekerjaans: [],
      listPekerjaanKey: Math.random(),
      realisasis: [],
      attachments: [],
      search: "",
      headers: [
        {
          text: "Nomor Realisasi",
          key: "nomor",
          align: "start",
          value: "nomor",
        },
        { text: "Tanggal", value: "tanggal" },
        { text: "Pekerjaan", value: "pekerjaan" },
        { text: "Qty Realisasi", value: "realisasi" },
        { text: "Prosentase", value: "prosentase" },
        { text: "KPI", value: "kpi" },
      ],
    };
  },
  computed: {
    selectedSkl() {
      return this.$store.state.project.selectedSkl;
    },
    selectedWo() {
      return this.$store.state.project.selectedWo;
    },
  },
  methods: {
    afterAddPekerjaan() {
      this.$fetch();
      this.listPekerjaanKey = Math.random();
    },
    afterRemoveDetail() {
      this.$fetch();
      this.listPekerjaanKey = Math.random();
    },
    afterAddRealisasiSkl() {
      this.$fetch();
      this.listPekerjaanKey = Math.random();
    },
    async confirmSkl() {
      const skl_id = this.selectedSkl.id;
      if (skl_id) {
        if (confirm(`Yakin akan confirm SKL ini?`)) {
          await this.$store
            .dispatch("project/confirmSKL", skl_id)
            .then((result) => {
              alert("Success, SKL berhasil diconfirm");
              this.$router.push({ path: "/skl/detail_skl" });
            })
            .catch((e) => {
              alert("Error, pesan:["+ e.msg+"]");
            });
        }
      }
    },
  },
};
</script>