<template>
  <div class="d-flex flex-grow-1 flex-column">
    <v-card-title>
      <v-btn rounded color="primary" dark to="/wo_produksi">
        <v-icon left dark> mdi-arrow-left-bold </v-icon>
        WO Produksi
      </v-btn>
      <v-spacer></v-spacer>
      Work Order Detail
    </v-card-title>
    <v-row class="flex-grow-0" dense>
      <v-col cols="12" xl="6">
        <v-card>
          <v-card-title>
            <div>Work Order Info</div>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-row>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Nomor</div>
                </div>
                <div><strong>{{ selectedWo.nomor }}</strong></div>
                <div><strong>{{ selectedWo.tanggal | formatDate }}</strong></div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Plafond Produksi</div>
                </div>
                <div><strong>{{ formatNumber(selectedWo.limit_plafond_produksi) }}</strong></div>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>

      <v-col cols="12" xl="6">
        <v-card>
          <v-card-title>
            <div>Barang</div>
          </v-card-title>
          <v-card-text>
            <v-row>
              <v-col cols="2">
                <th class="text-left">Nama Barang</th>
              </v-col>
              <v-col cols="2">
                <th class="text-left">Qty</th>
              </v-col>
              <v-col cols="2">
                <th class="text-left">Satuan</th>
              </v-col>
            </v-row>
             <div v-for="barang in barangs" :key="barang.id">
            <BarangWo
              :key="barangKey"
              :header="barang"
              @afterRemoveBarang="afterRemoveBarang"
              @afterAddDetail="afterAddDetail"
              @afterRemoveDetail="afterRemoveDetail"
            />
          </div>
          </v-card-text>
        </v-card>
      </v-col>

      <v-col cols="12" xl="6" v-show="!showAddSkoForm">
        <v-card>
          <v-card-title>
            <div>List SKO</div>
            <v-divider></v-divider>
            <v-btn @click="showForm" color="blue dark">Add New SKO</v-btn>
          </v-card-title>
          <hr class="mb-2 mt-2" />
          <v-card-text>
            <v-simple-table>
              <template v-slot:default>
                <tbody :key="listKey">
                  <tr v-for="sko in selectedSkos" :key="sko.id">
                    <td class="text-left">
                      <span>Nomor</span><br>
                      <b>{{ sko.nomor }}</b><br>
                      <b>{{ sko.tanggal }}</b>
                    </td>
                    <td class="text-left">
                      <span>Rencana Waktu</span><br>
                      <b>{{ formatNumber(sko.waktu_qty) }} {{ sko.waktu_satuan }}</b><br>
                      <span>Realisasi Waktu</span>
                      <b>{{ formatNumber(sko.waktu_realisasi) }} {{ sko.waktu_satuan }}</b>
                    </td>
                    <td class="text-left">
                      <span>Rencana Tenaga Kerja</span><br>
                      <b>{{ formatNumber(sko.pekerja_qty) }} {{ sko.pekerja_satuan }}</b><br>
                      <span>{{ formatNumber(sko.pekerja_total) }}</span><br>
                      <span>Realisasi Tenaga Kerja</span><br>
                      <b>{{ formatNumber(sko.pekerja_realisasi) }} {{ sko.pekerja_satuan }}</b>
                    </td>
                    <td class="text-left">
                      <span>Rencana Listrik</span><br>
                      <b>{{ formatNumber(sko.listrik_qty) }} {{ sko.listrik_satuan }}</b><br>
                      <span>{{ formatNumber(sko.listrik_total) }}</span><br>
                      <span>Realisasi Listrik</span><br>
                      <b>{{ formatNumber(sko.listrik_realisasi) }} {{ sko.listrik_satuan }}</b>
                    </td>
                    <td class="text-center">
                      <v-chip
                        small
                        class="font-weight-bold"
                        :class="{
                          green: sko.status === 'Approved',
                        }"
                        >{{ sko.status }}</v-chip
                      >
                    </td>
                    <td class="text-center">
                      <v-btn
                        color="blue"
                        @click.prevent="gotoMaterial(sko)"
                      >
                        Detail material
                      </v-btn>
                      <v-btn
                        color="red"
                        v-show="sko.status === 'draf'"
                        @click.prevent="removeSko(sko)"
                      >
                        <v-icon dark>mdi-close</v-icon>
                      </v-btn>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-card-text>
        </v-card>
      </v-col>

      <v-col cols="12" xl="6" v-show="showAddSkoForm">
        <v-card>
          <v-card-title>
            <div>Add New SKO</div>
          </v-card-title>
          <v-card-text>
            <v-row>
              <v-col cols="6">
                <v-text-field
                label="Waktu Pengerjaan"
                v-model="waktu_qty"
                >
                </v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field
                label="Satuan Waktu"
                v-model="waktu_satuan"
                >
                </v-text-field>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="3">
                <v-text-field
                label="Tenaga Kerja"
                v-model="pekerja_qty"
                @blur="updateTotalPekerja"
                >
                </v-text-field>
              </v-col>
              <v-col cols="3">
                <v-text-field
                label="Satuan Tenaga Kerja"
                v-model="pekerja_satuan"
                >
                </v-text-field>
              </v-col>
              <v-col cols="3">
                <v-text-field
                label="Budget"
                v-model="pekerja_harga"
                @blur="updateTotalPekerja"
                >
                </v-text-field>
              </v-col>
              <v-col cols="3">
                <v-text-field
                label="Sub Total"
                v-model="pekerja_total"
                >
                </v-text-field>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="3">
                <v-text-field
                label="Pemakaian Listrik"
                v-model="listrik_qty"
                @blur="updateTotalListrik"
                >
                </v-text-field>
              </v-col>
              <v-col cols="3">
                <v-text-field
                label="Satuan Listrik"
                v-model="listrik_satuan"
                >
                </v-text-field>
              </v-col>
              <v-col cols="3">
                <v-text-field
                label="Rencana Pemakaian"
                v-model="listrik_harga"
                @blur="updateTotalListrik"
                >
                </v-text-field>
              </v-col>
              <v-col cols="3">
                <v-text-field
                label="Sub Total"
                v-model="listrik_total"
                >
                </v-text-field>
              </v-col>
            </v-row>
            <hr class="mb-2 mt-2" />
            <v-row>
              <v-col cols="6">
                <v-btn
                color="grey dark"
                class="text-left"
                @click.prevent="hideForm"
                >Batal</v-btn>
              </v-col>
              <v-col cols="6">
                <v-btn
                color="blue dark"
                class="text-right"
                @click.prevent="simpanSKO"
                >Simpan SKO</v-btn>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { formatNumber } from '../../utils/format'

const pg = 'DetailSKO'
export default {
  name: 'DetailSKO',
  layout: 'dashboard',
  validate() {
    console.info(`${pg} validate()`)
    return true
  },
  async asyncData() {
    console.info(`${pg} asyncData()`)
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} asynsData() after 0.1 second`)
        resolve('OK')
      })
    }, 100)
  },
  created() {
    console.info(`${pg} created()`)
  },
  async fetch() {
    console.info(`${pg} fetch()`)
    const woId = this.selectedWo.id
    console.info('woId', woId)
    const barang_wo = await this.$store.dispatch('wop/getBarangsByWoId', woId)
    if (barang_wo.data) {
      this.barang_wo = barang_wo.data
    }

    const sko = await this.$store.dispatch('wop/getSkosByWoId', woId)
  },
  mounted() {
    console.info(`${pg} mounted()`)
    if (!this.selectedWo.id) {
      this.$router.push({ path: '/wo_produksi' })
    }
  },
  data() {
    return {
      waktu_qty: 1,
      waktu_satuan: 'hari',
      pekerja_qty: 1,
      pekerja_satuan: 'orang',
      pekerja_harga: 0,
      pekerja_total: 0,
      listrik_qty: 1,
      listrik_satuan: 'kWH',
      listrik_harga: 0,
      listrik_total: 0,

      // form
      showAddSkoForm: false,
      listKey: Math.random(),

      barang_wo: [],
      barangKey: Math.random(),
    }
  },
  computed: {
    selectedWo() {
      return this.$store.state.wop.selectedWo
    },
    selectedSkos() {
      return this.$store.state.wop.selectedSkos
    },
    barangs() {
      return this.$store.state.wop.selectedBarangs
    },
  },
  methods: {
    formatNumber(val) {
      console.info('formatNumber', val)
      return formatNumber(val)
    },
    afterAddBarang() {
      this.$fetch()
    },
    async simpanSKO() {
      // validasi
      if (this.waktu_qty < 1) {
        alert('Error, Waktu pengerjaan tidak boleh kosong')
        return
      }

      if (this.pekerja_qty < 1) {
        alert('Error, Tenaga kerja tidak boleh kosong')
        return
      }

      if (this.pekerja_harga < 1) {
        alert('Error, Harga Tenaga kerja tidak boleh kosong')
        return
      }

      if (this.listrik_qty > 0) {
        if (this.listrik_harga < 0) {
          alert('Error, Harga Listrik tidak boleh kosong')
          return
        }
      }

      // calculate
      const limit_plafond_produksi = this.selectedWo.limit_plafond_produksi
      const totalSko = this.pekerja_total + this.listrik_total

      if (limit_plafond_produksi < totalSko) {
        alert('Error, Tidak boleh melebihi plafond produksi')
        return
      }

      // save
      const sko = {
        wo_id: this.selectedWo.id,
        waktu_qty: this.waktu_qty,
        waktu_satuan: this.waktu_satuan,
        pekerja_qty: this.pekerja_qty,
        pekerja_satuan: this.pekerja_satuan,
        pekerja_harga: this.pekerja_harga,
        pekerja_total: this.pekerja_total,
        listrik_qty: this.listrik_qty,
        listrik_satuan: this.listrik_satuan,
        listrik_harga: this.listrik_harga,
        listrik_total: this.listrik_total,
        limit_sko: this.selectedWo.sisa_plafond_produksi,
      }

      await this.$store.dispatch('wop/addSko', sko).then((result) => {
        if (result.error) {
          alert('Error, pesan:['+ result.msg+']')
        } else {
          this.hideForm()
          this.$fetch()
          alert('Success, Barang berhasil ditambahkan')
        }
      })
    },
    updateTotalListrik() {
      this.listrik_total = this.listrik_qty * this.listrik_harga
    },
    updateTotalPekerja() {
      this.pekerja_total = this.pekerja_qty * this.pekerja_harga
    },
    showForm() {
      // check apakah masih ada sko status draf
      let isDraf = false
      for (let i = 0; i < this.selectedSkos.length; i++) {
        const item = this.selectedSkos[i]
        if (item.status === 'draf') {
          isDraf = true
        }
      }

      if (isDraf) {
        alert(
          'Error, Masih ada SKO yang status nya Draf, tidak bisa tambah SKO lagi'
        )
        return
      } else {
        this.showAddSkoForm = true
      }
    },
    hideForm() {
      this.showAddSkoForm = false
    },
    async removeSko(sko) {
      if (confirm(`Yakin akan hapus data sko : ${sko.nomor} ini ?!`)) {
        const d = this.$store.dispatch('wop/removeSko', sko)
        if (d.error) {
          alert('Error, pesan:['+ d.msg+']')
        } else {
          this.$fetch()
          this.listKey = Math.random()
          alert('Success, Data berhasil dihapus')
        }
      }
    },
    gotoMaterial(sko) {
      // select sko
      console.info('gotoMaterial', sko)
      this.$store.dispatch('wop/selectSKO', sko)
      this.$router.push({ path: '/wo_produksi/sko_material' })
    },
    async afterRemoveBarang() {
      this.$fetch()
    },
    async afterAddDetail() {
      this.$fetch()
      this.barangKey = Math.random()
    },
    async afterRemoveDetail() {
      this.$fetch()
      this.barangKey = Math.random()
    },
  },
}
</script>