<template>
  <v-card>
    <div class="d-flex flex-column flex-grow-1">
      <v-card-title>
        Work Order Produksi ( Status: Approved )
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
        <v-spacer></v-spacer>
      </v-card-title>

      <v-data-table
        :headers="headers"
        :items="wos"
        :search="search"
        :items-per-page="10"
        class="elevation-1"
      >
        <template v-slot:[`item.status`]="{ item }">
          <v-chip
            small
            class="font-weight-bold"
            :class="{
              green: item.status === 'Approved',
            }"
            >{{ item.status }}</v-chip
          >
        </template>

        <template v-slot:[`item.limit_plafond_produksi`]="{ item }">
          <div class="green--text">{{ formatNumber(item.limit_plafond_produksi) }}</div>
        </template>

        <template v-slot:[`item.tanggal`]="{ item }">
          <div>{{ item.tanggal | formatDate }}</div>
        </template>

        <template v-slot:[`item.actions`]="{ item }">
          <div class="d-flex">
            <v-btn
              class="mx-1"
              dark
              color="cyan darken-2"
              @click="gotoSKO(item)"
            >
              Lihat SKO
            </v-btn>
          </div>
        </template>
      </v-data-table>
    </div>
  </v-card>
</template>

<script>
const pg = 'WOProduksi'
export default {
  name: 'WOProduksi',
  layout: 'dashboard',
  validate() {
    console.info(`${pg} validate()`)
    return true
  },
  async asyncData() {
    console.info(`${pg} asyncData()`)
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} asynsData() after 0.1 second`)
        resolve('OK')
      })
    }, 100)
  },
  created() {
    console.info(`${pg} created()`)
  },
  data() {
    return {
      search: "",
      notesProject: "",
      headers: [
        { text: "Nomor", key: "nomor", align: "start", value: "nomor" },
        { text: "Tanggal", value: "tanggal" },
        { text: "Plafond WO", value: "limit_plafond_produksi" },
        { text: "Status", value: "status" },
        { text: "", align: "center", sortable: false, value: "actions" },
      ],
    };
  },
  async fetch() {
    console.info(`${pg} fetch()`)
    const wos = await this.$store.dispatch('wop/getApprovedWos')
  },
  mounted() {
    console.info(`${pg} mounted()`)
    // this.toggleSidebar(false)
    // this.$store.dispatch('setSelectedMenu', 'wo_produksi')
  },
  computed: {
    masterData() {
      return this.$store.state.masterData
    },
    hasWo() {
      return this.wos.length > 0
    },
    wos() {
      return this.$store.state.wop.selectedWos
    },
  },
  methods: {
    formatNumber(num) {
      const n = Number(num).toFixed(2)
      const numParts = n.toString().split('.')
      numParts[0] = numParts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',')
      return numParts.join('.')
    },
    toggleSidebar(sidebar) {
      this.$store.dispatch('toggleSidebar', sidebar)
    },
    gotoSKO(project) {
      this.$store.dispatch('wop/selectWO', project)
      this.$router.push({ path: '/wo_produksi/detail_sko' })
    },
  },
}
</script>