<template>
  <div class="d-flex flex-grow-1 flex-column">
    <v-card-title>
      <v-btn rounded color="primary" dark to="/wo_produksi/detail_sko">
        <v-icon left dark> mdi-arrow-left-bold </v-icon>
        SKO
      </v-btn>
      <v-spacer></v-spacer>
      SKO Material
    </v-card-title>
    <v-row class="flex-grow-0" dense>
      <v-col cols="12" xl="6">
        <v-card>
          <v-card-title>
            <div>Work Order Info</div>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-row>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Nomor</div>
                </div>
                <div><strong>{{ selectedWo.nomor }}</strong></div>
                <div><strong>{{ selectedWo.tanggal | formatDate }}</strong></div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Plafond Produksi</div>
                </div>
                <div><strong>{{ formatNumber(selectedWo.limit_plafond_produksi) }}</strong></div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Total SKO</div>
                </div>
                <div><strong>{{ formatNumber(selectedSko.total_sko) }}</strong></div>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>

      <v-col cols="12" xl="6">
        <v-card>
          <v-card-title>
            <div>Barang</div>
          </v-card-title>
          <v-card-text>
            <v-row>
              <v-col cols="2">
                <th class="text-left">Nama Barang</th>
              </v-col>
              <v-col cols="2">
                <th class="text-left">Qty</th>
              </v-col>
              <v-col cols="2">
                <th class="text-left">Satuan</th>
              </v-col>
              <v-col cols="2">
                <th class="text-left">Action</th>
              </v-col>
            </v-row>
             <div v-for="barang in barangs_wo" :key="barang.id">
            <BarangWo :key="barangKey" :header="barang" />
          </div>
          </v-card-text>
        </v-card>
      </v-col>

      <v-col cols="12" xl="6">
        <v-card>
          <v-card-title>
            <div>Material SKO</div>
          </v-card-title>
          <v-card-text>
           <div v-for="barang in barangs" :key="barang.id">
            <BarangSko
              :header="barang"
              @afterRemoveBarang="afterRemoveBarang"
            />
          </div>
          <FormAddBarangSko
            @afterAddBarang="afterAddBarang"
            v-show="selectedSko.status_level < 1"
          />
          </v-card-text>
        </v-card>
      </v-col>

      <v-col cols="12" xl="6" v-show="selectedSko.status_level < 1">
        <v-card>
          <v-card-title>
            <div>Konfirmasi SKO</div>
            <hr class="mb-2 mt-2" />
          </v-card-title>
          <v-card-text>
            <v-btn color="blue" @click="confirmSKO">
            Confirm SKO
          </v-btn>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { formatNumber } from '../../utils/format'
const pg = 'SKOMaterial'
export default {
  name: 'SKOMaterial',
  layout: 'dashboard',
  validate() {
    console.info(`${pg} validate()`)
    return true
  },
  async asyncData() {
    console.info(`${pg} asyncData()`)
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} asynsData() after 0.1 second`)
        resolve('OK')
      })
    }, 100)
  },
  created() {
    console.info(`${pg} created()`)
  },
  async fetch() {
    console.info(`${pg} fetch()`)
    const woId = this.selectedWo.id
    console.info('woId', woId)
    const barang_wo = await this.$store.dispatch('wop/getBarangsByWoId', woId)
    if (barang_wo.data) {
      this.barangs_wo = barang_wo.data
    }
    const id = this.selectedSko.id
    console.info('id', id)
    if (id) {
      this.$store.dispatch('wop/getBarangsBySkoId', id)
    }
  },
  mounted() {
    console.info(`${pg} mounted()`)
  },
  data() {
    return {
      barangs_wo: [],
      barangKey: Math.random(),
    }
  },
  computed: {
    selectedWo() {
      return this.$store.state.wop.selectedWo
    },
    barangs() {
      return this.$store.state.wop.selectedBarangs
    },
    selectedSko() {
      return this.$store.state.wop.selectedSko
    },
  },
  methods: {
    formatNumber(val) {
      console.info('formatNumber', val)
      return formatNumber(val)
    },
    async afterAddBarang() {
      const id = this.selectedSko.id
      if (id) await this.$store.dispatch('wop/getSkoById', id)
      await this.$fetch()
    },
    async afterRemoveBarang() {
      console.info('afterRemoveBarang')
      const id = this.selectedSko.id
      if (id) await this.$store.dispatch('wop/getSkoById', id)
      this.$fetch()
    },
    async confirmSKO() {
      const nomor = this.selectedSko.nomor
      const id = this.selectedSko.id
      if (confirm(`Yakin akan confirm sko ${nomor} ini ?!`)) {
        await this.$store.dispatch('wop/confirmSko', id).then((result) => {
          if (result.error) {
            alert('Error, pesan:['+ result.msg+']')
          } else {
            alert('Success, SKO berhasil diconfirm')
            this.$router.push({ path: '/wo_produksi/detail_sko' })
          }
        })
      }
    },
  },
}
</script>