<template>
  <div class="d-flex flex-grow-1 flex-column">
    <v-row class="flex-grow-0 mb-1" dense>
      <v-col cols="12" xl="4">
        <prospect-list
          :loading="isLoading1" 
          style="min-height: 350px"
        ></prospect-list>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import ProspectList from '../../components/estimator/ProspectList'

export default {
  components: {
    ProspectList
  }
}
</script>