<template>
  <v-card>
    <div class="d-flex flex-column flex-grow-1">
      <v-card-title>
        PROSPECT PROJECTS
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
        <v-spacer></v-spacer>
        <v-btn color="primary" dark to="/estimator/new_project">
              Add New Project
            </v-btn>
      </v-card-title>

      <v-data-table
        :headers="headers"
        :items="projects.data"
        :search="search"
        :items-per-page="10"
        class="elevation-1"
      >
        <template v-slot:[`item.jenis`]="{ item }">
          <v-chip
            small
            class="font-weight-bold"
            :class="{
              orange: item.jenis === 'trading',
              green: item.jenis === 'custom',
              blue: item.jenis === 'after sales services',
              purple: item.jenis === 'maintenance',
            }"
            >{{ item.jenis }}</v-chip
          >
        </template>

        <template v-slot:[`item.tanggal`]="{ item }">
          <div>{{ item.tanggal | formatDate }}</div>
        </template>

        <template v-slot:[`item.email_customer`]="{ item }">
          <div><copy-label :text="item.email_customer" /></div>
        </template>

        <template v-slot:[`item.status`]="{ item }">
          <v-chip
            label
            small
            color="secondary"
            class="font-weight-bold"
            :class="{
              warning: item.status === 'nego',
            }"
            >{{ item.status }}</v-chip
          >
        </template>

        <template v-slot:[`item.actions`]="{ item }">
          <div class="d-flex">
            <v-btn
              class="mx-1"
              dark
              color="cyan darken-2"
              @click="gotoQuotations(item)"
            >
              Quotations
            </v-btn>
            <v-btn
              class="mx-1"
              fab
              dark
              small
              color="red darken-3"
              @click.prevent="deleteProject(item)"
              v-show="item.status === 'draf'"
            >
              <v-icon dark>mdi-close</v-icon>
            </v-btn>
          </div>
        </template>
      </v-data-table>
    </div>
  </v-card>
</template>

<script>
import CopyLabel from "../../components/common/CopyLabel";

export default {
  created() {
    const t = localStorage.getItem("t");
    if (t === "estimator") {
      // user loggged in
      // do nothing
    } else {
      this.$router.push("/login");
    }
  },
  name: "Estimator",
  layout: "dashboard",
  components: {
    CopyLabel,
  },
  data() {
    return {
      search: "",
      notesProject: "",
      headers: [
        { text: "Nomor", key: "nomor", align: "start", value: "nomor" },
        { text: "Jenis", value: "jenis", align: "center" },
        { text: "Tanggal", value: "tanggal" },
        { text: "Nama", value: "nama" },
        { text: "Lokasi", value: "lokasi" },
        { text: "Customer", value: "nama_customer" },
        { text: "Email Customer", value: "email_customer" },
        { text: "Contact", value: "contact_pic" },
        { text: "Status", value: "status" },
        { text: "", align: "center", sortable: false, value: "actions" },
      ],
    };
  },
  async asyncData({ $axios }) {
    let projects = {};
    try {
      const response = await $axios.$get("/api/projects/estimator");
      projects = response;
    } catch (error) {
      alert("Oops data tidak ditemukan, silahkan hubungi administrator!");
    }
    return { projects };
  },
  computed: {
  },
  methods: {
    async gotoQuotations(project) {
      this.$store.dispatch('estimator/selectProject', project)
      this.$router.push({ path: '/estimator/project_quotations' })
    },
    async deleteProject(project) {
      const id = project.id
      if (id) {
        if (project.status_level === 0) {
          if (confirm(`Yakin akan hapus project ${project.nama} ini?!`)) {
            const d = await this.$store.dispatch('estimator/deleteProject', id)
            if (d.error) {
              alert('Gagal hapus project, pesan:['+ d.msg + ']')
            } else {
              // reload projects
              alert('Project berhasil dihapus')
              this.$router.app.refresh()
            }
          }
        } else {
          alert('Project tidak bisa dihapus ya !')
        }
      }
    },
  },
};
</script>