<template>
  <div class="d-flex flex-grow-1 flex-column">
    <v-card-title>
      <v-btn rounded color="primary" dark to="/estimator/project_quotations">
        <v-icon left dark> mdi-arrow-left-bold </v-icon>
        Project Quotations
      </v-btn>
      <v-spacer></v-spacer>
      ADD QUOTATIONS
    </v-card-title>
    <v-row class="flex-grow-0" dense>
      <v-col cols="12" xl="6">
        <v-card>
          <v-card-title>
            <div>Project Info</div>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-row>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Nomor Project</div>
                </div>
                <div><strong>{{ selectedProject.nomor }}</strong></div>
                <div><strong>{{ selectedProject.tanggal | formatDate }}</strong></div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Nama Project</div>
                </div>
                <div><strong>{{ selectedProject.nama }}</strong></div>
                <div><strong>{{ selectedProject.jenis }}</strong></div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Lokasi</div>
                </div>
                <div><strong>{{ selectedProject.lokasi }}</strong></div>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Customer</div>
                </div>
                <div><strong>{{ selectedProject.nama_customer }}</strong></div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Email</div>
                  <div><strong>{{ selectedProject.email_customer }}</strong></div>
                </div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Contact</div>
                  <div><strong>{{ selectedProject.contact_pic }}</strong></div>
                </div>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" xl="6">
          <v-form v-model="valid" @submit.prevent="simpanQuotation">
          <v-card>
            <v-card-title>
              <span class="headline">Input Quotation</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" md="4">
                    <v-text-field
                      v-model.trim="nomor"
                      :rules="nmrRules"
                      label="Nomor Quotation"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="4">
                    <v-autocomplete
                    :items="sales"
                      v-model="chooseSales"
                      :rules="salesRules"
                      label="Sales"
                      item-text="nama"
                      item-value="kode"
                      required
                      @change="selectSales"
                      return-object
                    ></v-autocomplete>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" md="4">
                    <v-text-field
                      v-model="contact"
                      :rules="contactRules"
                      label="Contact Customer"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="4">
                    <v-text-field
                      v-model="telp"
                      :rules="telpRules"
                      label="Telp Customer"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="4">
                    <v-text-field
                      v-model="email"
                      :rules="emailRules"
                      label="Email Customer"
                      required
                    ></v-text-field>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col>
                    <v-textarea
                      v-model="notes"
                      outlined
                      clearable
                      clear-icon="mdi-close-circle"
                      label="Notes"
                    ></v-textarea>
                  </v-col>
                </v-row>
                <v-btn
                  :disabled="!valid"
                  class="mr-4"
                  color="success"
                  type="submit"
                  absolute
                  right
                >
                  Save Quotation
                </v-btn>
              </v-container>
            </v-card-text>
          </v-card>
        </v-form>
      </v-col>
    </v-row>
  </div>
</template>

<script>
const pg = 'NewQuotation'
export default {
  name: 'NewQuotation',
  created() {
    const t = localStorage.getItem("t");
    if (t === "estimator") {
      // user loggged in
      // do nothing
    } else {
      this.$router.push("/login");
    }
  },
  name: "AddNewQuotation",
  data() {
    return {
      valid: false,
      dialog: false,
      nmrRules: [(v) => !!v || "Nomor Quotation tidak boleh kosong"],
      salesRules: [(v) => !!v || "Sales tidak boleh kosong"],
      contactRules: [(v) => !!v || "Contact Customer tidak boleh kosong"],
      telpRules: [(v) => !!v || "Telp Customer tidak boleh kosong"],
      emailRules: [(v) => !!v || "Email Customer tidak boleh kosong"],
      select: null,
      breadcrumbs: [
        {
          text: "Estimator",
          disabled: false,
          href: "#",
        },
        {
          text: "Add Quotation",
        },
      ],
      tglQuotation: new Date().toISOString().substr(0, 10),
      nomor: this.getNomor(),
      contact: '',
      telp: '',
      email: '',
      selectedSalesCode: '',
      selectedSalesNama: '',
      notes: '',
      chooseSales: {}
    };
  },

  mounted() {
    console.info(`${pg} mounted()`)
    // this.toggleSidebar(false)
    // this.$store.dispatch('setSelectedMenu', 'projects')

    if (!this.selectedProject.id) {
      // this.$store.dispatch('showError', 'Project tidak ditemukan')
      this.$router.push({ path: '/estimator' })
    }
  },

  computed: {
    selectedProject() {
      return this.$store.state.estimator.selectedProject
    },
    sales() {
    //   const x= this.$store.state.masterData.sales
    //   console.log(x)
      return this.$store.state.masterData.sales
    },
  },

  methods: {
    selectSales(e) {
    //   console.log(e.target.options[e.target.selectedIndex].value)
      const kode = this.chooseSales.kode
      const nama = this.chooseSales.nama
      this.selectedSalesCode = kode
      this.selectedSalesNama = nama
      console.log(kode, nama)
    },
    capitalize(t) {
      return t.toUpperCase();
    },
    getToday() {
      return new Date().toLocaleString('id-ID', {
        dateStyle: 'short',
      })
    },
    getNomor() {
      var rdmString = ''
      for (
        ;
        rdmString.length < 6;
        rdmString += Math.random().toString(36).substr(2)
      );
      return rdmString.substr(0, 6).toUpperCase()
    },
    getNow() {
      return new Date().toLocaleString('id-ID', {
        dateStyle: 'long',
      })
    },
    getID() {
      var rdmString = ''
      for (
        ;
        rdmString.length < 15;
        rdmString += Math.random().toString(36).substr(2)
      );
      return rdmString.substr(0, 15)
    },
    simpanQuotation() {
      // save pertama
      const newQuotation = {
        // project
        project_id: this.selectedProject.id,
        // header
        nomor: this.nomor,
        // sales
        kode_sales: this.selectedSalesCode,
        nama_sales: this.selectedSalesNama,
        contact_pic: this.contact,
        contact_telp: this.telp,
        contact_email: this.email,
        notes: this.notes,
      }
    //   console.log(newQuotation)

      this.$store
        .dispatch('estimator/addQuotation', newQuotation)
        .then((result) => {
          if (result.error) {
            alert('Gagal input data quotations, pesan : ['+ result.msg+']')
          } else {
            // redirect to project_quotations
            alert('Input data project berhasil')
            this.$router.push({ path: '/estimator/project_quotations' })
          }
        })
    },
  },
};
</script>