<template>
  <div class="d-flex flex-column flex-grow-1">
    <div class="d-flex align-center py-3">
      <div>
        <div class="display-1">Estimator</div>
        <v-breadcrumbs :items="breadcrumbs" class="pa-0 py-2"></v-breadcrumbs>
      </div>
      <v-spacer></v-spacer>
      <v-btn color="primary" dark to="/estimator">
        <v-icon>mdi-arrow-left</v-icon>
        Kembali
      </v-btn>
    </div>

    <v-card>
      <template>
        <v-form v-model="valid" @submit.prevent="save">
          <v-card>
            <v-card-title>
              <span class="headline">Input New Project</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" md="4">
                    <v-text-field
                      v-model="nama"
                      :rules="namaRules"
                      label="Nama Project"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="4">
                    <v-text-field
                      v-model="lokasi"
                      :rules="lokasiRules"
                      label="Lokasi"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="4">
                    <v-autocomplete
                      v-model="selectedJenisProject"
                      :rules="jenisRules"
                      label="Jenis Project"
                      :items="jenisProjects"
                      item-text="text"
                      item-value="kode"
                      placeholder="Pilih jenis project..."
                      required
                    ></v-autocomplete>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col cols="12" md="4">
                    <input type="hidden" :value="customers">
                    <v-autocomplete
                      :items="customerss"
                      item-value="partner_id"
                      item-text="alias"
                      :rules="customerRules"
                      label="Customer"
                      v-model="selectedCustomers"
                      required
                      @change="selectCustomer"
                      return-object
                    ></v-autocomplete>
                  </v-col>
                  <v-col cols="12" md="4">
                    <v-text-field
                      :value="selectedCustomer.email"
                      :rules="emailRules"
                      label="Email"
                      readonly
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="4">
                    <v-text-field
                      :value="selectedCustomer.contact"
                      :rules="contactRules"
                      label="Contact PIC"
                      readonly
                      required
                    ></v-text-field>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col>
                    <v-textarea
                      v-model="notes"
                      outlined
                      clearable
                      clear-icon="mdi-close-circle"
                      label="Notes"
                    ></v-textarea>
                  </v-col>
                </v-row>
                <v-btn
                  :disabled="!valid"
                  class="mr-4"
                  color="success"
                  type="submit"
                  absolute
                  right
                >
                  Input Project
                </v-btn>
              </v-container>
            </v-card-text>
          </v-card>
        </v-form>
      </template>
    </v-card>
  </div>
</template>

<script>
export default {
  created() {
    const t = localStorage.getItem("t");
    if (t === "estimator") {
      // user loggged in
      // do nothing
    } else {
      this.$router.push("/login");
    }
  },
  name: "AddNewProject",
  data() {
    return {
      valid: false,
      dialog: false,
      namaProject: "",
      namaRules: [(v) => !!v || "Nama Project tidak boleh kosong"],
      lokasiProject: "",
      lokasiRules: [(v) => !!v || "Lokasi tidak boleh kosong"],
      jenisProject: "",
      jenisRules: [(v) => !!v || "Jenis Project tidak boleh kosong"],
      customerProject: "",
      customerRules: [(v) => !!v || "Customer tidak boleh kosong"],
      emailProject: "",
      emailRules: [(v) => !!v || "Email tidak boleh kosong"],
      contactProject: "",
      contactRules: [(v) => !!v || "Contact tidak boleh kosong"],
      select: null,
      typesprojects: [
        "Trading",
        "Custom",
        "After Sales Services",
        "Maintenance",
      ],
      breadcrumbs: [
        {
          text: "Estimator",
          disabled: false,
          href: "#",
        },
        {
          text: "Add Project",
        },
      ],
      customerss:[],
      selectedCustomerCode: "",
      selectedCustomers: {},
      selectedCustomer: {},
      selectedJenisProject: "",
      nama: "",
      lokasi: "",
      notes: "",
    };
  },

  computed: {
      async customers() {
        const api = this.$axios.create({
            headers: {
            common: {
                Accept: "text/plain, */*",
            },
            },
        });
      // set base url dari crm
        api.setBaseURL("http://67.205.142.99:3010");
        const promise = api.$get('/clients')
        .then((response) => 
            this.customerss = response.data
        )
    },
    masterData() {
      return this.$store.state.masterData;
    },
    jenisProjects() {
      return this.$store.state.masterData.jenisProject;
    },
  },

  methods: {
    selectCustomer(e) {
      const kode = this.selectedCustomers.id
      const nama = this.selectedCustomers.alias
      const email = this.selectedCustomers.email
      const api = this.$axios.create({
            headers: {
            common: {
                Accept: "text/plain, */*",
            },
            },
        });
      // set base url dari crm
        api.setBaseURL("http://67.205.142.99:3010");
        const promise = api.$get('/partners?id='+this.selectedCustomers.partner_id)
        .then((response) => 
          this.selectedCustomer = {
            kode: kode,
            nama: nama,
            email: email,
            contact: response.data[0].name_contact
          }
        )
    },
    capitalize(t) {
      return t.toUpperCase();
    },
    getNomor() {
      var rdmString = "";
      for (
        ;
        rdmString.length < 6;
        rdmString += Math.random().toString(36).substr(2)
      );
      return rdmString.substr(0, 6).toUpperCase();
    },
    getToday() {
      return new Date().toLocaleString("id-ID", {
        dateStyle: "short",
      });
    },
    save() {
      const project = {
        nomor: this.getNomor(),
        tanggal: this.getToday(),
        nama: this.nama,
        lokasi: this.lokasi,
        jenis: this.selectedJenisProject,
        kode_customer: this.selectedCustomer.kode,
        nama_customer: this.selectedCustomer.nama,
        email_customer: this.selectedCustomer.email,
        contact_pic: this.selectedCustomer.contact,
        notes: this.notes,
      };
      this.$store.dispatch('project/addProject', project).then((result) => {
        if (result.error) {
          alert('Gagal input data project, pesan : ['+ result.msg+']')
          return
        } else {
          alert('Input data project berhasil')
          this.$router.push({ path: '/estimator' })
        }
      })
    },
  },
};
</script>