<template>
  <new-project></new-project>
</template>

<script>
import NewProject from '../../components/estimator/detail_quotation/NewProject'

export default {
  components: {
    NewProject
  }
}
</script>