<template>
  <div class="d-flex flex-grow-1 flex-column">
    <v-card-title>
      <v-btn rounded color="primary" dark to="/estimator">
        <v-icon left dark> mdi-arrow-left-bold </v-icon>
        Prospect Project List
      </v-btn>
      <v-spacer></v-spacer>
      PROJECT QUOTATIONS
    </v-card-title>
    <v-row class="flex-grow-0" dense>
      <v-col cols="12" xl="6">
        <v-card>
          <v-card-title>
            <div>Project Info</div>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-row>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Nomor Project</div>
                </div>
                <div><strong>{{ selectedProject.nomor }}</strong></div>
                <div><strong>{{ selectedProject.tanggal | formatDate }}</strong></div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Nama Project</div>
                </div>
                <div><strong>{{ selectedProject.nama }}</strong></div>
                <div><strong>{{ selectedProject.jenis }}</strong></div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Lokasi</div>
                </div>
                <div><strong>{{ selectedProject.lokasi }}</strong></div>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Customer</div>
                </div>
                <div><strong>{{ selectedProject.nama_customer }}</strong></div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Email</div>
                  <div><strong>{{ selectedProject.email_customer }}</strong></div>
                </div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Contact</div>
                  <div><strong>{{ selectedProject.contact_pic }}</strong></div>
                </div>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" xl="6">
        <v-card>
          <v-card-title>
            QUOTATIONS
            <v-spacer></v-spacer>
            
            <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
          <v-spacer></v-spacer>
                <v-btn color="success" dark to="/estimator/new_quotation">
                  Add Quotation
                </v-btn>
          </v-card-title>

          <v-data-table
            :headers="headers"
            :items="quotations"
            :search="search"
            :items-per-page="10"
            class="elevation-1"
          >
            <template v-slot:[`item.pic`]="{ item }">
              <div class="d-flex align-center py-1">
                <div class="ml-1">
                  <div class="font-weight-bold">{{ item.pic.name }}</div>
                  <div>{{ item.pic.telp }}</div>
                  <copy-label :text="item.pic.email" />
                </div>
              </div>
            </template>

            <template v-slot:[`item.status`]="{ item }">
              <v-chip
                label
                small
                color="secondary"
                class="font-weight-bold"
                :class="{
                  error: item.status === 'Pending',
                }"
                >{{ item.status }}</v-chip
              >
            </template>

            <template v-slot:[`item.actions`]="{ item }">
              <div class="d-flex">
                <v-btn
                  class="mx-1"
                  dark
                  color="blue darken-3"
                  @click.prevent="gotoQuotationDetail(item)"
                >
                  Detail
                </v-btn>
                <v-btn
                  class="mx-1"
                  fab
                  dark
                  small
                  color="red darken-3"
                  @click="deleteQuotation(item)"
                >
                  <v-icon dark>mdi-close</v-icon>
                </v-btn>
              </div>
            </template>
          </v-data-table>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
    

<script>
const pg = 'ProjectQuotations'
export default {
  created() {
    const t = localStorage.getItem("t");
    if (t === "estimator") {
      // user loggged in
      // do nothing
    } else {
      this.$router.push("/login");
    }
  },
  name:"ProjectQuotation",
  components: {
  },

  data() {
    return {
      valid: false,
      dialog: false,
      search:"",
      headers: [
        { text: 'Nomor',key: 'nomor_quotation',align: 'start',value: 'nomor'},
        { text: 'Tanggal', value: 'tanggal', align: 'center' }, 
        { text: 'Sales', value: 'nama_sales' },
        { text: 'Contact', value: 'contact_pic' },
        { text: 'No. Telp', value: 'contact_telp' },
        { text: 'Email', value: 'contact_email' },
        { text: 'Status', value: 'status' }, 
        { text: '', align: 'center', sortable: false, value: 'actions' }
      ],
    }
  },

  async fetch() {
    const project = this.selectedProject
    const id = project.id
    if (id) {
      const qs = await this.$store.dispatch(
        'estimator/getQuotationsByProjectId',
        id
      )
      if (qs.error) {
        alert('Oops tidak dapat menampilkan data estimator, silahkan hubungi administrator, pesan: ['+ qs.msg+']')
      }
    }
  },

  mounted() {
    console.info(`${pg} mounted()`)
    // this.toggleSidebar(false)
    // this.$store.dispatch('setSelectedMenu', 'projects')
    if (!this.selectedProject.id) {
      // this.$store.dispatch('showError', 'Project tidak ditemukan')
      this.$router.push({ path: '/estimator' })
    }
  },

  computed: {
    selectedProject() {
      return this.$store.state.estimator.selectedProject
    },
    isDeal() {
      return this.selectedProject.status_level === 5
    },
    quotations() {
      return this.$store.state.estimator.selectedQuotations
    },
  },

  methods: {
    formatNumber(num) {
      const n = Number(num).toFixed(2)
      const numParts = n.toString().split('.')
      numParts[0] = numParts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',')
      return numParts.join('.')
    },
    toggleSidebar(sidebar) {
      this.$store.dispatch('toggleSidebar', sidebar)
    },
    addQuotation(project) {
      this.$router.push({ path: '/new_quotation' })
    },
    gotoQuotationDetail(quotation) {
      this.$store.dispatch('estimator/selectQuotation', quotation)
      this.$router.push({ path: '/estimator/detail_quotation' })
    },
    async deleteQuotation(quotation) {
      console.info('delete quotation', id)
      const id = quotation.id
      const status = quotation.status
      if (status === 'draf') {
        if (id) {
          if (confirm(`Yakin akan hapus quotation ${quotation.nomor} ini ?!`)) {
            this.$store
              .dispatch('estimator/deleteQuotationById', id)
              .then((result) => {
                if (result.error) {
                  this.$store.dispatch('showError', result.msg)
                } else {
                  this.$fetch()
                  this.$store.dispatch(
                    'showSuccess',
                    'Quotation berhasil dihapus'
                  )
                }
              })
          }
        }
      }
    },
  }
};
</script>