<template>
  <div class="d-flex flex-column flex-grow-1">
    <v-card>
      <v-card-title>
        <div>Attachments</div>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-center">Nama Dokumen</th>
                <th class="text-center">Download</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
          </template>
        </v-simple-table>
        <v-btn
          color="indigo lighten-1"
          class="text-none"
          rounded
          depressed
          :loading="isSelecting"
          @click="onButtonClick"
        >
          <v-icon left>
            mdi-cloud-upload
          </v-icon>
          {{ buttonText }}
        </v-btn>
        <input
          ref="uploader"
          class="d-none"
          type="file"
          accept="image/*"
          @change="onFileChanged"
        >        
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  data: () => ({
    defaultButtonText: 'Upload Images or Documents',
    selectedFile: null,
    isSelecting: false
  }),
  computed: {
    buttonText() {
      return this.selectedFile ? this.selectedFile.name : this.defaultButtonText
    }
  },
  methods: {
    onButtonClick() {
      this.isSelecting = true
      window.addEventListener('focus', () => {
        this.isSelecting = false
      }, { once: true })

      this.$refs.uploader.click()
    },
    onFileChanged(e) {
      this.selectedFile = e.target.files[0]
      
      // do something
    }
  }
}
</script>

<style scoped>
.v-icon--left {
  margin-right: 8px;
}
</style>