<template>
  <div class="d-flex flex-column flex-grow-1">
    <v-card>
      <v-card-title>
        <div>Barang</div>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-data-table
          :headers="headers"
          :items="items"
          hide-default-header
          hide-default-footer
        >
          <template v-slot:item.namabarang="props">
            <v-text-field v-model="props.item.namabarang" label="Nama Barang"></v-text-field>
          </template>
          <template v-slot:item.qty="props">
            <v-text-field v-model="props.item.qty" label="Quantity"></v-text-field>
          </template>
          <template v-slot:item.satuan="props">
            <v-text-field v-model="props.item.satuan" label="Satuan"></v-text-field>
          </template>
          <template v-slot:item.harga="props">
            <v-text-field v-model="props.item.harga" label="Harga"></v-text-field>
          </template>
          <template v-slot:item.total="props">
            <v-text-field v-model="props.item.total" label="Total"></v-text-field>
          </template>
          <template v-slot:item.actions="props">
            <div class="text-center">
              <v-btn class="mx-1" color="success">
                Simpan
              </v-btn>
              <v-btn class="mx-1" color="red accent-4" @click="deleteItem(props)">
                Batal
              </v-btn>
            </div>
          </template>
        </v-data-table>      
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      headers: [
        { text: 'Nama Barang', value: 'namabarang', sortable: false, align: 'start' }, 
        { text: 'Qty', value: 'qty', sortable: false, align: 'center' },
        { text: 'Satuan', value: 'satuan', sortable: false, align: 'center' },
        { text: 'Harga', value: 'harga', sortable: false, align: 'center' },
        { text: 'Total', value: 'total', sortable: false, align: 'center' },
        { text: 'Action', value: 'actions', sortable: false, align: 'center' }
      ],
      items: [
        { namabarang: '', qty: '', satuan: '', harga: '', total: '' }
      ]
    }
  }
}
</script>