<template>
  <div class="d-flex flex-column flex-grow-1">
    <v-card>
      <v-card-title>
        <div>Jaminan</div>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-data-table
          :headers="headers"
          :items="items"
          hide-default-header
          hide-default-footer
        >
          <template v-slot:item.namajaminan="props">
            <v-text-field v-model="props.item.namajaminan" label="Nama Jaminan"></v-text-field>
          </template>
          <template v-slot:item.namabank="props">
            <v-text-field v-model="props.item.namabank" label="Nama Bank"></v-text-field>
          </template>
          <template v-slot:item.jenisjaminan="props">
            <v-text-field v-model="props.item.jenisjaminan" label="Jenis Jaminan"></v-text-field>
          </template>
          <template v-slot:item.jatuhtempo="props">
            <v-text-field v-model="props.item.jatuhtempo" label="Jatuh Tempo"></v-text-field>
          </template>
          <template v-slot:item.prosentase="props">
            <v-text-field v-model="props.item.prosentase" label="Prosentase"></v-text-field>
          </template>
          <template v-slot:item.actions="props">
            <div class="text-center">
              <v-btn class="mx-1" color="success">
                Simpan
              </v-btn>
              <v-btn class="mx-1" color="red accent-4" @click="deleteItem(props)">
                Batal
              </v-btn>
            </div>
          </template>
        </v-data-table>      
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      headers: [
        { text: 'Nama Jaminan', value: 'namajaminan', sortable: false, align: 'start' }, 
        { text: 'Nama Bank', value: 'namabank', sortable: false, align: 'center' },
        { text: 'Jenis Jaminan', value: 'jenisjaminan', sortable: false, align: 'center' },
        { text: 'Jatuh Tempo', value: 'jatuhtempo', sortable: false, align: 'center' },
        { text: 'Prosentase', value: 'prosentase', sortable: false, align: 'center' },
        { text: 'Action', value: 'actions', sortable: false, align: 'center' }
      ],
      items: [
        { namajaminan: '', namabank: '', jenisjaminan: '', jatuhtempo: '', prosentase: '' }
      ]
    }
  }
}
</script>