<template>
  <v-form v-model="valid" class="d-flex flex-column flex-grow-1">
    <v-container>
      <v-card-title>
        <v-btn depressed>
          <v-icon left dark>mdi-arrow-left-circle</v-icon>
          Prospect Projects List
        </v-btn>
        <v-spacer></v-spacer>
        INPUT NEW PROJECT
      </v-card-title>

      <v-row>
        <v-col cols="12" md="4">
          <v-text-field
            v-model="nama"
            :rules="namaRules"
            
            label="Nama Project"
            required
          ></v-text-field>
        </v-col>

        <v-col
          cols="12"
          md="4"
        >
          <v-text-field
            v-model="lokasi"
            :rules="lokasiRules"
            :counter="10"
            label="Lokasi"
            required
          ></v-text-field>
        </v-col>

        <v-col
          cols="12"
          md="4"
        >
          <v-autocomplete
            v-model="jenis"
            :rules="jenisRules"
            label="Jenis Project"
            :items="typesprojects"
            placeholder="Pilih jenis project..."
            required
          ></v-autocomplete>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" md="4">
          <v-text-field
            v-model="customer"
            :rules="customerRules"
            :counter="10"
            label="Customer"
            required
          ></v-text-field>
        </v-col>

        <v-col
          cols="12"
          md="4"
        >
          <v-text-field
            v-model="email"
            :rules="emailRules"
            :counter="10"
            label="Email"
            required
          ></v-text-field>
        </v-col>

        <v-col
          cols="12"
          md="4"
        >
          <v-text-field
            v-model="contact"
            :rules="contactRules"
            label="Contact"
            required
          ></v-text-field>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <v-textarea
            clearable
            clear-icon="mdi-close-circle"
            label="Notes"
          ></v-textarea>
        </v-col>
      </v-row>

      <v-btn
        :disabled="!valid"
        class="mr-4"
        color="success"
        absolute
        right
      >
        Input Project
      </v-btn>
    </v-container>
  </v-form>
</template>

<script>
export default {
  data() {
    return {
      valid: false,
      nama: '',
      namaRules: [
        (v) => !!v || 'Nama Project tidak boleh kosong'
      ],
      lokasi: '',
      lokasiRules: [
        (v) => !!v || 'Lokasi tidak boleh kosong'
      ],
      jenis: '',
      jenisRules: [
        (v) => !!v || 'Jenis Project tidak boleh kosong'
      ],
      customer: '',
      customerRules: [
        (v) => !!v || 'Customer tidak boleh kosong'
      ],
      email: '',
      emailRules: [
        (v) => !!v || 'Email tidak boleh kosong'
      ],
      contact: '',
      contactRules: [
        (v) => !!v || 'Contact tidak boleh kosong'
      ],
      typesprojects: ['Trading', 'Custom', 'After Sales Services', 'Maintenance']
    }
  }
}
</script>