<template>
  <div class="d-flex flex-column flex-grow-1">
    <v-card>
      <v-card-title>
        <div>Kirim Penawaran ke Customer</div>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-row>
          <v-col>
            Setelah memastikan semua data sudah benar, silahkan kirim Penawaran ini kepada Customer.<br>
            Customer akan menerima penawaran dan memberikan jawaban atas penawran.<br>
            Jawaban penawaran dapat dilihat di List history quotations per project.
          </v-col>
        </v-row>
        <v-row dense>
          <v-col>
            <v-textarea
              v-model.trim="notesPenawaran"
              outlined
              label="Silahkan tulis komentar Anda di sini."
            ></v-textarea>
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <div>
          <v-btn color="primary" class="mx-1">Kirim Penawaran ke Customer</v-btn>
          <v-btn color="red darken-2" class="mx-1">Deal Quotation (Manual)</v-btn>
        </div>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      notesPenawaran: ''
    }
  }
}
</script>
