<template>
  <div class="d-flex flex-column flex-grow-1">
    <v-card>
      <v-card-title>
        <div>Quotation Info</div>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-row >
          <v-col col-md-4>
            <div class="caption">
              <div>Nomor / Tanggal Project</div>
            </div>
            <div><strong>123456789</strong></div>
            <div><strong>2021-02-22T08:08:37.740Z</strong></div>
          </v-col>
          <v-col col-md-4>
            <div class="caption">
              <div>Nama Sales</div>
            </div>
            <div><strong>SUPRIYANTO</strong></div>
          </v-col>
          <v-col col-md-4>
            <div class="caption">
              <div>Customer</div>
            </div>
            <div><strong>RS BHAYANGKARA</strong></div>
            <div><strong>Asep</strong></div>
          </v-col>
          <v-col col-md-4>
            <div class="caption">
              <div>Contact Customer</div>
            </div>
            <div><strong>0856578956839</strong></div>
            <div><strong>asep@gmail.com</strong></div>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>