<template>
  <div class="d-flex flex-column flex-grow-1">
    <v-card>
      <v-card-title>
        <div>Summary</div>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-row>
          <v-col cols="12" md="4">
            <div>
              <div>Subtotal</div>
            </div>
            <div><strong>0.00</strong></div>
          </v-col>
          <v-col cols="12" md="4">
            <div>
              <div>Prosentase Material</div>
            </div>
            <div><strong>0.00%</strong></div>
          </v-col>
          <v-col cols="12" md="4">
            <div>
              <div>Prosentase Project</div>
            </div>
            <div><strong>0.00%</strong></div>
          </v-col>
        </v-row>
        <v-divider></v-divider>
        <v-row>
          <v-col cols="12" md="4" >
            <div>
              <div>Potongan (%), nilai saat ini: 0 %</div>
            </div>
            <div>
              <v-text-field
                label="0"
                single-line
                outlined
              >
              </v-text-field>
            </div>
          </v-col>
          <v-col cols="12" md="4">
            <div>
              <div>Nominal Potongan</div>
              <div>Rp. <strong>0.00</strong></div>
            </div>
          </v-col>
          <v-col cols="12" md="4">
            <div>
              <div>After Potongan</div>
              <div>Rp. <strong>0.00</strong></div>
            </div>
          </v-col>
        </v-row>
        <v-divider></v-divider>
        <v-row>
          <v-col cols="12" md="4" >
            <div>
              <div>Tax (%), nilai saat ini: 0 %</div>
            </div>
            <div>
              <v-text-field
                label="0"
                single-line
                outlined
              >
              </v-text-field>
            </div>
          </v-col>
          <v-col cols="12" md="4">
            <div>
              <div>Nominal Tax</div>
              <div>Rp. <strong>0.00</strong></div>
            </div>
          </v-col>
          <v-col cols="12" md="4">
            <div>
              <div>Total Nilai Project</div>
              <div>Rp. <strong>0.00</strong></div>
            </div>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>