<template>
  <div class="d-flex flex-grow-1 flex-column">
    <v-card-title>
      <v-btn rounded color="primary" dark to="/customer">
        <v-icon left dark> mdi-arrow-left-bold </v-icon>
        Project Quotations
      </v-btn>
      <v-spacer></v-spacer>
      QUOTATION DETAIL
    </v-card-title>
    <v-row class="flex-grow-0" dense>
        <v-col cols="12" xl="6">
        <v-card>
          <v-card-title>
            <div>Project Info</div>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-row>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Nomor Project</div>
                </div>
                <div>
                  <strong>{{ selectedProject.nomor }}</strong>
                </div>
                <div>
                  <strong>{{ selectedProject.tanggal | formatDate }}</strong>
                </div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Nama Project</div>
                </div>
                <div>
                  <strong>{{ selectedProject.nama }}</strong>
                </div>
                <div>
                  <strong>{{ selectedProject.jenis }}</strong>
                </div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Lokasi</div>
                </div>
                <div>
                  <strong>{{ selectedProject.lokasi }}</strong>
                </div>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Customer</div>
                </div>
                <div>
                  <strong>{{ selectedProject.nama_customer }}</strong>
                </div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Email</div>
                  <div>
                    <strong>{{ selectedProject.email_customer }}</strong>
                  </div>
                </div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Contact</div>
                  <div>
                    <strong>{{ selectedProject.contact_pic }}</strong>
                  </div>
                </div>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" xl="6">
        <v-card>
          <v-card-title>
            <div>Quotation Info</div>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-row>
              <v-col col-md-4>
                <div class="caption">
                  <div>Nomor / Tanggal Project</div>
                </div>
                <div>
                  <strong>{{ selectedQuotation.nomor }}</strong>
                </div>
                <div>
                  <strong>{{ selectedQuotation.tanggal }}</strong>
                </div>
              </v-col>
              <v-col col-md-4>
                <div class="caption">
                  <div>Nama Sales</div>
                </div>
                <div>
                  <strong>{{ selectedQuotation.nama_sales }}</strong>
                </div>
              </v-col>
              <v-col col-md-4>
                <div class="caption">
                  <div>Customer</div>
                </div>
                <div>
                  <strong>{{ selectedProject.nama_customer }}</strong>
                </div>
                <div>
                  <strong>{{ selectedQuotation.contact_pic }}</strong>
                </div>
              </v-col>
              <v-col col-md-4>
                <div class="caption">
                  <div>Contact Customer</div>
                </div>
                <div>
                  <strong>{{ selectedQuotation.contact_telp }}</strong>
                </div>
                <div>
                  <strong>{{ selectedQuotation.contact_email }}</strong>
                </div>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>

      <!-- attachment -->
      <v-col cols="12" xl="6" v-show="isDraf">
        <v-card>
          <v-card-title>
            <div>Attachments</div>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-simple-table>
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-center">Nama Dokumen</th>
                    <th class="text-center">Download</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="doc in attachments" :key="doc.id">
                    <td class="text-center">{{ doc.nama_file }}</td>
                    <td class="text-center"><a href="#">Download</a></td>
                    <td class="text-center">
                      <v-btn
                        color="red darken-3"
                        @click.prevent="removeAttachment(doc)"
                      >
                        <v-icon dark>mdi-close</v-icon>
                      </v-btn>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
            <div class="grid grid-cols-1 sm:grid-cols-1 gap-2 mt-2">
              <div>
                <v-btn
                  color="indigo lighten-1"
                  class="text-none"
                  rounded
                  depressed
                  :loading="isSelecting"
                  @click="showUpload"
                >
                  <v-icon left> mdi-cloud-upload </v-icon>
                  Upload Images or Document
                </v-btn>
                <form
                  enctype="multipart/form-data"
                  novalidate
                  v-if="isInitial || isSaving"
                >
                  <div class="dropbox">
                    <input
                      type="file"
                      multiple
                      :name="uploadFieldName"
                      :disabled="isSaving"
                      @change="
                        filesChange($event.target.name, $event.target.files);
                        fileCount = $event.target.files.length;
                      "
                      accept="image/*,application/pdf"
                      class="input-file"
                    />
                    <p v-if="isInitial">
                      Drag your file(s) here to begin<br />
                      or click to browse
                    </p>
                    <p v-if="isSaving">Uploading {{ fileCount }} files...</p>
                  </div>
                </form>
              </div>
              <div class="flex justify-end mt-4"></div>
            </div>
          </v-card-text>
        </v-card>
      </v-col>

      <v-col cols="12" xl="6" v-show="isNego || isDeal">
        <v-card>
          <v-card-title>
            <div>Attachments</div>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-simple-table>
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-center">Nama Dokumen</th>
                    <th class="text-center">Download</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="doc in attachments" :key="doc.id">
                    <td class="text-center">{{ doc.nama_file }}</td>
                    <td class="text-center"><a href="#">Download</a></td>
                    <td class="text-center">
                      <v-btn
                        color="red darken-3"
                        @click.prevent="removeAttachment(doc)"
                      >
                        <v-icon dark>mdi-close</v-icon>
                      </v-btn>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-card-text>
        </v-card>
      </v-col>
      <!-- end of attachment -->
    
    <!-- top -->
      <v-col cols="12" xl="6" v-show="isDraf">
        <v-card>
          <v-card-title>
            <div>Terms of Payment</div>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-simple-table>
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-center">Nama Term</th>
                    <th class="text-center">Jatuh Tempo</th>
                    <th class="text-center">Prosentase</th>
                    <th class="text-center">Aksi</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="top in tops" :key="top.id">
                    <td class="text-center">{{ top.nama }}</td>
                    <td class="text-center">{{ top.tanggal }}</td>
                    <td class="text-center">{{ top.prosentase }}%</td>
                    <td class="text-center">
                      <v-btn
                        color="red darken-3"
                        @click.prevent="removeTop(top)"
                      >
                        <v-icon dark>mdi-close</v-icon>
                      </v-btn>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
            <v-form v-model="validTop">
              <v-container>
                <v-row>
                  <v-col cols="12" md="3">
                    <v-text-field
                      label="Nama"
                      required
                      :rules="formRules"
                      v-model="nama"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="3">
                    <v-menu
                      v-model="datePickerTop"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="auto"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="tanggal"
                          label="Jatuh Tempo"
                          prepend-icon="mdi-calendar"
                          readonly
                          @blur="date = parseDate(tanggal)"
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        v-model="date"
                        @input="datePickerTop = false"
                      ></v-date-picker>
                    </v-menu>
                  </v-col>
                  <v-col cols="12" md="3">
                    <v-text-field
                      label="Prosentase"
                      required
                      v-model="prosentase"
                      :rules="formRules"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="3">
                    <v-btn
                      class="mr-4"
                      color="success"
                      absolute
                      @click="simpanTop"
                      right
                      :disabled="!validTop"
                    >
                      Simpan
                    </v-btn>
                  </v-col>
                </v-row>
              </v-container>
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
      <!-- end of top -->
      
       <!-- jaminan -->
      <v-col cols="12" xl="6">
        <v-card>
          <v-card-title>
            <div>Jaminan</div>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-simple-table>
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-center">Nama Jaminan</th>
                    <th class="text-center">Nama Bank</th>
                    <th class="text-center">Jenis Jaminan</th>
                    <th class="text-center">Jatuh Tempo</th>
                    <th class="text-center">Prosentase</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="jaminan in jaminans" :key="jaminan.id">
                    <td class="text-center">{{ jaminan.nama }}</td>
                    <td class="text-center">{{ jaminan.nama_bank }}</td>
                    <td class="text-center">{{ jaminan.jenis }}</td>
                    <td class="text-center">
                      {{ jaminan.tanggal }}
                    </td>
                    <td class="text-center">{{ jaminan.prosentase }}%</td>
                    <td class="text-center">
                      <v-btn
                        color="red darken-3"
                        @click.prevent="removeJaminan(jaminan)"
                      >
                        <v-icon dark>mdi-close</v-icon>
                      </v-btn>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
            <v-form v-model="validJaminan">
              <v-container>
                <v-row>
                  <v-col cols="12" md="2">
                    <v-text-field
                      label="Nama Jaminan"
                      required
                      v-model="nama_jaminan"
                      :rules="formRules"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="2">
                    <v-autocomplete
                      :items="banks"
                      label="Nama Bank"
                      required
                      item-text="text"
                      item-value="kode"
                      v-model="selectedBankObject"
                      :rules="formRules"
                      @change="selectBank"
                      return-object
                    ></v-autocomplete>
                  </v-col>
                  <v-col cols="12" md="2">
                    <v-autocomplete
                      label="Jenis Jaminan"
                      :items="jenisJaminan"
                      required
                      @change="selectJenisJaminan"
                      v-model="selectedJenisJaminanObject"
                      item-text="nama"
                      item-value="kode"
                      :rules="formRules"
                      return-object
                    ></v-autocomplete>
                  </v-col>
                  <v-col cols="12" md="2">
                    <v-menu
                      v-model="datePickerJaminan"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="auto"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="tanggal_jaminan"
                          label="Jatuh Tempo"
                          prepend-icon="mdi-calendar"
                          readonly
                          @blur="date_jaminan = parseDate(tanggal_jaminan)"
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        v-model="date"
                        @input="datePickerJaminan = false"
                      ></v-date-picker>
                    </v-menu>
                  </v-col>
                  <v-col cols="12" md="2">
                    <v-text-field
                      label="Prosentase (%)"
                      required
                      v-model="prosentase_jaminan"
                      :rules="formRules"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="2">
                    <v-btn
                      class="mr-4"
                      color="success"
                      absolute
                      right
                      @click="simpanJaminan"
                      :disabled="!validJaminan"
                    >
                      Simpan
                    </v-btn>
                  </v-col>
                </v-row>
              </v-container>
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
      <!-- end of jaminan -->

      <!-- barang -->
      <v-col cols="12" xl="6">
        <v-card v-if="isDraf">
          <v-card-title>
            <div>Barang</div>
          </v-card-title>
          <v-card-text>
            <v-row>
              <v-col cols="2">
                <th>Nama Barang</th>
              </v-col>
              <v-col cols="2">
                <th>Qty</th>
              </v-col>
              <v-col cols="2">
                <th>Satuan</th>
              </v-col>
              <v-col cols="2">
                <th>Harga</th>
              </v-col>
              <v-col cols="2">
                <th>Total</th>
              </v-col>
              <v-col cols="2">
                <th>Action</th>
              </v-col>
            </v-row>
            <div v-for="barang in barangs" :key="barang.id">
              <BarangQuotation
                :key="barangKey"
                :header="barang"
                @afterRemoveBarang="afterRemoveBarang"
                @afterAddDetail="afterAddDetail"
                @afterRemoveDetail="afterRemoveDetail"
              />
            </div>
          </v-card-text>
          <hr class="mb-2 mt-2" />
          <FormAddBarangQuotation @afterAddBarang="afterAddBarang" />
        </v-card>

        <v-card v-if="isNego">
          <v-card-title>
            <div>Barang</div>
          </v-card-title>
          <v-card-text>
            <v-row>
              <v-col cols="2">
                <th>Nama Barang</th>
              </v-col>
              <v-col cols="2">
                <th>Qty</th>
              </v-col>
              <v-col cols="2">
                <th>Satuan</th>
              </v-col>
              <v-col cols="2">
                <th>Harga</th>
              </v-col>
              <v-col cols="2">
                <th>Total</th>
              </v-col>
              <v-col cols="2">
                <th>Action</th>
              </v-col>
            </v-row>
          </v-card-text>
          <div v-for="barang in barangs" :key="barang.id">
            <BarangQuotationRo :key="barangKey" :header="barang" />
          </div>
        </v-card>
      </v-col>
      <!-- end of barang -->

      <!-- pekerjaan -->
      <v-col cols="12" xl="6">
        <v-card v-show="isDraf">
          <v-card-title>
            <div>Pekerjaan</div>
          </v-card-title>
          <v-card-text>
            <v-row>
              <v-col cols="2">
                <th>Nama pekerjaan</th>
              </v-col>
              <v-col cols="2">
                <th>Qty</th>
              </v-col>
              <v-col cols="2">
                <th>Satuan</th>
              </v-col>
              <v-col cols="2">
                <th>Harga</th>
              </v-col>
              <v-col cols="2">
                <th>Total</th>
              </v-col>
              <v-col cols="2">
                <th>Aksi</th>
              </v-col>
            </v-row>
          </v-card-text>
          <div v-for="pekerjaan in pekerjaans" :key="pekerjaan.id">
            <DetailPekerjaanQuotation
              :pekerjaan="pekerjaan"
              @afterAddPekerjaan="afterAddPekerjaan"
            />
          </div>
          <FormAddPekerjaan @afterAddPekerjaan="afterAddPekerjaan" />
        </v-card>

        <v-card v-show="isNego || isDeal">
          <v-card-title>
            <div>Pekerjaan</div>
          </v-card-title>
          <v-card-text>
            <v-row>
              <v-col cols="2">
                <th>Nama pekerjaan</th>
              </v-col>
              <v-col cols="2">
                <th>Qty</th>
              </v-col>
              <v-col cols="2">
                <th>Satuan</th>
              </v-col>
              <v-col cols="2">
                <th>Harga</th>
              </v-col>
              <v-col cols="2">
                <th>Total</th>
              </v-col>
              <v-col cols="2">
                <th>Aksi</th>
              </v-col>
            </v-row>
          </v-card-text>
          <div v-for="pekerjaan in pekerjaans" :key="pekerjaan.id">
            <DetailPekerjaanQuotationRo :pekerjaan="pekerjaan" />
          </div>
        </v-card>
      </v-col>
      <!-- end of pekerjaan -->

      <!-- summary -->
      <v-col cols="12" xl="6">
        <div class="d-flex flex-column flex-grow-1">
          <v-card>
            <v-card-title>
              <div>Summary</div>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text>
              <v-row>
                <v-col cols="12" md="4">
                  <div>
                    <div>Subtotal</div>
                  </div>
                  <div>
                    <span class="font-bold">{{
                      formatNumber(selectedQuotation.subtotal)
                    }}</span>
                  </div>
                </v-col>
                <v-col cols="12" md="4">
                  <div>
                    <div>Prosentase Material</div>
                  </div>
                  <div>
                    <span class="font-bold"
                      >{{ formatNumber(roundedProsentaseMaterial) }} %</span
                    >
                  </div>
                </v-col>
                <v-col cols="12" md="4">
                  <div>
                    <div>Prosentase Project</div>
                  </div>
                  <div>
                    <span class="font-bold"
                      >{{ formatNumber(roundedProsentasePekerjaan) }} %</span
                    >
                  </div>
                </v-col>
              </v-row>
              <v-divider></v-divider>
              <v-row>
                <v-col cols="12" md="4">
                  <div>
                    <div>
                      Potongan (%), nilai saat ini:
                      <span>{{ selectedQuotation.potongan }} %</span>
                    </div>
                  </div>
                  <div>
                    <v-text-field
                      v-model="quotation_potongan"
                      @blur="updatePotongan"
                      v-show="isDraf"
                      label="0"
                      single-line
                      outlined
                    >
                    </v-text-field>
                  </div>
                </v-col>
                <v-col cols="12" md="4">
                  <div v-show="isNego || isDeal">
                    <div>Potongan (%)</div>
                    <div>
                      <span class="font-bold">{{
                        formatNumber(selectedQuotation.potongan)
                      }}</span>
                    </div>
                  </div>
                  <div>
                    <div>Nominal Potongan</div>
                    <div>
                      Rp.
                      <span class="font-bold">{{
                        formatNumber(selectedQuotation.nominal_potongan)
                      }}</span>
                    </div>
                  </div>
                </v-col>
                <v-col cols="12" md="4">
                  <div>
                    <div>After Potongan</div>
                    <div>
                      Rp.
                      <span class="font-bold">{{
                        formatNumber(selectedQuotation.after_potongan)
                      }}</span>
                    </div>
                  </div>
                </v-col>
              </v-row>
              <v-divider></v-divider>
              <v-row>
                <v-col cols="12" md="4">
                  <div>
                    <div>
                      Tax (%), nilai saat ini:
                      <span>{{ selectedQuotation.tax }} %</span>
                    </div>
                  </div>
                  <div>
                    <v-text-field
                      v-model="quotation_tax"
                      @blur="updateTax"
                      v-show="isDraf"
                      label="0"
                      single-line
                      outlined
                    >
                    </v-text-field>
                  </div>
                </v-col>
                <v-col cols="12" md="4">
                  <div>
                    <div>Nominal Tax</div>
                    <div>
                      Rp.
                      <span class="font-bold">{{
                        formatNumber(selectedQuotation.nominal_tax)
                      }}</span>
                    </div>
                  </div>
                </v-col>
                <v-col cols="12" md="4">
                  <div>
                    <div>Total Nilai Project</div>
                    <div>
                      Rp.
                      <span class="font-bold">{{
                        formatNumber(selectedQuotation.total_nilai_project)
                      }}</span>
                    </div>
                  </div>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </div>
      </v-col>
      <!-- end of summary -->

      <!-- notes -->
      <v-col cols="12" xl="6" v-show="isDraf">
        <div class="d-flex flex-column flex-grow-1">
          <v-card>
            <v-card-title>
              <div>Kirim Jawaban ke Vendor</div>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text>
              <v-row>
                <v-col>
                  Setelah memastikan semua data sudah benar, silahkan kirim
                  Penawaran ini kepada Vendor.<br />Vendor akan menerima
                  penawaran dan memberikan jawaban atas penawaran.
                </v-col>
              </v-row>
              <v-divider></v-divider>
              <v-row>
                <v-col>
                  <label class="text-gray-700"
                    >Silahkan tulis komentar dan persetujuan Anda di
                    sini.</label
                  >
                </v-col>
              </v-row>
              <v-row dense>
                <v-col>
                  <v-textarea
                    v-model="note"
                    outlined
                    @blur="updateNote"
                    label="Saya setuju dengan penawaran ini."
                  ></v-textarea>
                </v-col>
              </v-row>
            </v-card-text>
            <v-card-actions>
              <div>
                <v-btn
                  @click.prevent="kirimPenawaranKeVendor"
                  color="primary"
                  class="mx-1"
                  >Kirim Penawaran ke Vendor</v-btn
                >
                <v-btn
                  @click.prevent="setujuPenawaran"
                  color="red darken-2"
                  class="mx-1"
                  >Saya Setuju dengan Penawaran ini</v-btn
                >
              </div>
            </v-card-actions>
          </v-card>
        </div>
      </v-col>
      <!-- end of notes -->
    </v-row>
  </div>
</template>

<script>
const pg = "DetailQuotationCustomer";
const STATUS_INITIAL = 0,
  STATUS_SAVING = 1,
  STATUS_SUCCESS = 2,
  STATUS_FAILED = 3;

export default {
  name: "DetailQuotationCustomer",
  layout: "dashboard",
  validate() {
    console.info(`${pg} validate()`);
    return true;
  },
  async asyncData() {
    console.info(`${pg} asyncData()`);
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} asynsData() after 0.1 second`);
        resolve("OK");
      });
    }, 100);
  },
  created() {
    const t = localStorage.getItem("t");
    if (t === "customer") {
      // user loggged in
      // do nothing
    } else {
      this.$router.push("/login");
    }
  },
  async fetch() {
    console.info(`${pg} fetch()`);
    console.info("selectedQuotation", this.selectedQuotation);
    const id = this.selectedQuotation.id;
    await this.$store.dispatch("estimator/getAttachmentsByQuotationId", id);
    await this.$store.dispatch("estimator/getTopsByQuotationId", id);
    await this.$store.dispatch("estimator/getJaminansByQuotationId", id);
    await this.$store.dispatch("estimator/getPekerjaansByQuotationId", id);
    await this.$store.dispatch("estimator/getBarangsByQuotationId", id);
  },
  mounted() {
    console.info(`${pg} mounted()`);
    // this.toggleSidebar(false)
    this.reset();

    if (!this.selectedQuotation.id) {
      this.$router.push({ path: "/customer" });
    }
  },
  watch: {
      date (val) {
        this.tanggal = this.formatDate(this.date)
        this.tanggal_jaminan = this.formatDate(this.date_jaminan)
      },
    },
  data() {
    return {
        // top
      validTop: false,
      formRules: [(v) => !!v || "Field ini tidak boleh kosong"],
      date: new Date().toISOString().substr(0, 10),
      date_jaminan: new Date().toISOString().substr(0, 10),
      menu: false,
      modal: false,
      datePickerTop: false,
      // jaminan
      validJaminan: false,
      datePickerJaminan: false,
      // upload attachments
      uploadedFiles: [],
      uploadError: null,
      currentStatus: null,
      uploadFieldName: "photos",

      // top
      addTop: false,
      nama: "",
      tanggal: this.formatDate(new Date().toISOString().substr(0, 10)),
      prosentase: "",

      // jaminan
      selectedBankObject:{},
      selectedJenisJaminanObject:{},
      nama_jaminan: "",
      selectedJenisJaminanKode: "",
      selectedJenisJaminanNama: "",
      selectedBankKode: "",
      selectedBankNama: "",
      nama_bank: "",
      tanggal_jaminan: this.formatDate(new Date().toISOString().substr(0, 10)),
      prosentase_jaminan: "",
      addJaminan: false,

      // quotation summary
      quotation_tax: 0,
      quotation_potongan: 0,

      // force reload
      barangKey: Math.random(),
      note: "",
    };
  },
  computed: {
      computedDateFormatted () {
        return this.formatDate(this.date)
      },
    selectedQuotation() {
      return this.$store.state.estimator.selectedQuotation;
    },
    selectedProject() {
      return this.$store.state.estimator.selectedProject;
    },
    attachments() {
      return this.$store.state.estimator.selectedAttachments;
    },
    tops() {
      return this.$store.state.estimator.selectedTops;
    },
    jaminans() {
      return this.$store.state.estimator.selectedJaminans;
    },
    pekerjaans() {
      return this.$store.state.estimator.selectedPekerjaans;
    },
    barangs() {
      return this.$store.state.estimator.selectedBarangs;
    },
    jenisJaminan() {
      return this.$store.state.masterData.jenisJaminan;
    },
    banks() {
      return this.$store.state.masterData.namaBank;
    },
    isDraf() {
      return (
        this.selectedQuotation.status_level === 2 &&
        this.selectedQuotation.status === "nego"
      );
    },
    isNego() {
      return (
        this.selectedQuotation.status_level === 2 &&
        this.selectedQuotation.status === "sent"
      );
    },
    isSent() {
      return this.selectedQuotation.status === "sent";
    },
    isDeal() {
      return this.selectedQuotation.status_level === 5;
    },
    isInitial() {
      return this.currentStatus === STATUS_INITIAL;
    },
    isSaving() {
      return this.currentStatus === STATUS_SAVING;
    },
    isSuccess() {
      return this.currentStatus === STATUS_SUCCESS;
    },
    isFailed() {
      return this.currentStatus === STATUS_FAILED;
    },
    roundedProsentasePekerjaan() {
      return Math.round(this.selectedQuotation.prosentase_project);
    },
    roundedProsentaseMaterial() {
      return Math.round(this.selectedQuotation.prosentase_material);
    },
  },
  methods: {
      formatDate (date) {
        if (!date) return null

        const [year, month, day] = date.split('-')
        return `${day}/${month}/${year}`
      },
      parseDate (date) {
        if (!date) return null

        const [day, month, year] = date.split('/')
        return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
      },
    capitalize(t) {
      return t.toUpperCase();
    },
    formatNumber(num) {
      const n = Number(num).toFixed(2);
      const numParts = n.toString().split(".");
      numParts[0] = numParts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      return numParts.join(".");
    },
    reset() {
      // reset form to initial state
      this.currentStatus = STATUS_SUCCESS;
      this.uploadedFiles = [];
      this.uploadError = null;
    },
    toggleSidebar(sidebar) {
      this.$store.dispatch("toggleSidebar", sidebar);
    },
    save(formData) {
      console.info(`detail_quotation.save`);
      // upload data to the server
      this.currentStatus = STATUS_SAVING;

      const doc = formData;
      this.$store.dispatch("estimator/addAttachment", doc).then((result) => {
        this.currentStatus = STATUS_SUCCESS;
        if (result.error) {
          this.$store.dispatch("showError", result.msg);
        } else {
          this.$store.dispatch("showSuccess", "Dokumen berhasil ditambahkan");
        }
        this.$fetch();
      });
    },
    filesChange(fieldName, fileList) {
      // handle file changes
      console.log(fieldName);
      console.log(fileList);
      const formData = new FormData();

      if (!fileList.length > 0) return;

      // append the files to FormData
      Array.from(Array(fileList.length).keys()).map((x) => {
        const doc = {
          id: this.getNomor(),
          quotation_id: this.selectedQuotation.id,
          nama_file: fileList[x].name,
          download_url: "#",
          tanggal: new Date().toLocaleString("id-ID", {
            dateStyle: "long",
          }),
          created_by: null,
          created_at: null,
          updated_by: null,
          updated_at: null,
          deleted_by: null,
          deleted_at: null,
        };

        this.save(doc);
      });
    },
    showUpload() {
      this.currentStatus = STATUS_INITIAL;
    },
    showTop() {
      this.addTop = true;
    },
    hideTop() {
      this.nama = "";
      this.prosentase = "";
      this.addTop = false;
    },
    showJaminan() {
      this.addJaminan = true;
    },
    hideJaminan() {
      this.nama_jaminan = "";
      this.selectedBankKode = "";
      this.selectedBankNama = "";
      this.selectedJenisJaminanKode = "";
      this.selectedJenisJaminanNama = "";
      this.prosentase_jaminan = "";

      this.addJaminan = false;
    },
    getNomor() {
      var rdmString = "";
      for (
        ;
        rdmString.length < 6;
        rdmString += Math.random().toString(36).substr(2)
      );
      return rdmString.substr(0, 6).toUpperCase();
    },
    // attachments
    async removeAttachment(doc) {
      if (confirm(`Yakin mau hapus attachment: ${doc.nama_file} ini ?`)) {
        this.$store
          .dispatch("estimator/removeAttachment", doc)
          .then((result) => {
            if (result.error) {
              this.$store.dispatch("showError", result.msg);
            } else {
              this.$store.dispatch("showSuccess", "Dokumen berhasil dihapus ");
            }
            this.$fetch();
          });
      }
    },
    // tops
    simpanTop() {
      console.info(`${pg} simpanTop()`);
      const tgl = this.tanggal;
      console.info("tgl", tgl);
      if (!tgl) {
        alert("Error, Tanggal tidak boleh kosong");
        return;
      }

      const tanggal = tgl.toLocaleString("id-ID", {
        dateStyle: "short",
      });

      if (this.nama === "") {
        alert(
          "Error, Nama Term of Payment tidak boleh kosong"
        );
        return;
      }

      if (this.prosentase === "") {
        alert(
          "Error, Prosentase Term of Payment tidak boleh kosong"
        );
        return;
      }

      if (this.tanggal === "") {
        alert(
          "Error, Tanggal Term of Payment tidak boleh kosong"
        );
        return;
      }

      const id = this.selectedQuotation.id;
      const top = {
        quotation_id: this.selectedQuotation.id,
        nama: this.nama,
        tanggal: tanggal,
        prosentase: this.prosentase,
        nominal: 0,
      };

      this.$store.dispatch("estimator/addTop", top).then((result) => {
        if (result.error) {
          alert("Error, pesan:["+ result.msg+"]");
        } else {
          // reload tops
          alert(
            "Success, Term of Payment berhasil ditambahkan"
          );
          this.$fetch();
        }
        this.hideTop();
      });
    },
    onTanggalChange(e) {
      console.log("date selected");
      console.log(e.target);
      const val = e.target.value;
      console.log("date", e.target.selectedDate());
    },
    async removeTop(top) {
      if (confirm(`Yakin akan hapus term of payment: ${top.nama} ini ?`)) {
        this.$store.dispatch("estimator/removeTop", top).then((result) => {
          if (result.error) {
            alert("Error, pesan:["+ result.msg+"]");
          } else {
            alert("Success, Dokumen berhasil dihapus");
            this.$fetch();
          }
        });
      }
    },
    async removeJaminan(jaminan) {
      console.info(`${pg} removeJaminan()`);
      if (confirm(`Yakin akan hapus term of payment: ${jaminan.nama} ini ?`)) {
        this.$store
          .dispatch("jaminan/removeJaminan", jaminan)
          .then((result) => {
            if (result.error) {
              alert("Error, pesan:["+ result.msg+"]");
            } else {
              alert("Success, Jaminan berhasil dihapus");
              this.$fetch();
            }
          });
      }
    },
    simpanJaminan() {
      console.info(`${pg} simpanJaminan()`);
      const tgl = this.tanggal_jaminan;
      const tanggal = tgl.toLocaleString("id-ID", {
        dateStyle: "short",
      });

      if (this.nama_jaminan === "") {
        alert("Error, Nama Jaminan tidak boleh kosong");
        return;
      }

      if (this.prosentase_jaminan === "") {
        alert("Error, Prosentase Jaminan tidak boleh kosong"
        );
        return;
      }

      if (this.tanggal_jaminan === "") {
        alert("Error, Tanggal Jaminan tidak boleh kosong");
        return;
      }

      if (this.selectedJenisJaminanKode === "") {
        alert("Error, Jenis Jaminan tidak boleh kosong");
        return;
      }

      if (this.selectedBankKode === "") {
        alert("Error, Bank Jaminan tidak boleh kosong");
        return;
      }

      const id = this.selectedQuotation.id;
      const newJaminan = {
        quotation_id: this.selectedQuotation.id,
        nama: this.nama_jaminan,
        jenis: this.selectedJenisJaminanKode,
        nama_bank: this.selectedBankKode,
        tanggal: tanggal,
        prosentase: this.prosentase_jaminan,
        nominal: 0,
      };

      this.$store
        .dispatch("estimator/addJaminan", newJaminan)
        .then((result) => {
          if (result.error) {
            alert("Error, pesan:["+ result.msg+']');
          } else {
            // reload
            alert("Success, Jaminan berhasil ditambahkan");
            this.$fetch();
          }
          this.hideJaminan();
        });
    },
    selectJenisJaminan(e) {
      // console.log(e.target.options[e.target.selectedIndex].value);
      const kode = this.selectedJenisJaminanObject.kode;
      const nama = this.selectedJenisJaminanObject.nama;
      this.selectedJenisJaminanKode = kode;
      this.selectedJenisJaminanNama = nama;
      console.log(kode, nama);
    },
    selectBank(e) {
      console.log(this.selectedBankObject.kode)
      // console.log(e.target.options[e.target.selectedIndex].value);
      const kode = this.selectedBankObject.kode;
      const nama = this.selectedBankObject.text;
      this.selectedBankKode = kode;
      this.selectedBankNama = nama;
      console.log(kode, nama);
    },
    async afterAddPekerjaan() {
      this.$fetch();
      const id = this.selectedQuotation.id;
      await this.$store.dispatch("estimator/getQuotationById", id);
    },

    async updatePotongan() {
      console.info("detail_quotaion.updatePotongan");
      if (this.quotation_potongan > 100 || this.quotation_potongan < 0) {
        alert(
          "Error, Potongan hanya boleh antara 0-100 persen"
        );
        return;
      }

      const id = this.selectedQuotation.id;
      const potongan = this.quotation_potongan;
      console.info("id, potongan", id, potongan);
      // action updatePotongan
      await this.$store
        .dispatch("estimator/updatePotongan", { id, potongan })
        .then((result) => {
          console.log("result", result);
          if (result.error) {
            alert("Error, pesan:["+ result.msg+"]");
          } else {
            // update quotation
            this.$store.dispatch("estimator/getQuotationById", id);
          }
        });
    },
    async updateTax() {
      console.info("detail_quotaion.updateTax");
      if (this.quotation_tax > 100 || this.quotation_tax < 0) {
        alert(
          "Error, Tax hanya boleh antara 0-100 persen"
        );
        return;
      }

      console.info("selectedQuotation", this.selectedQuotation);
      const id = this.selectedQuotation.id;
      const tax = this.quotation_tax;

      console.info("id, tax", id, tax);
      // action updatePotongan
      await this.$store
        .dispatch("estimator/updateTax", { id, tax })
        .then((result) => {
          console.log("result", result);
          if (result.error) {
            alert("Error, pesan:["+ result.msg+"]");
          } else {
            // update quotation
            this.$store.dispatch("estimator/getQuotationById", id);
          }
        });
    },
    async afterAddBarang() {
      const id = this.selectedQuotation.id;
      await this.$store.dispatch("estimator/getBarangsByQuotationId", id);
      await this.$store.dispatch("estimator/getQuotationById", id);
    },
    async afterRemoveBarang() {
      const id = this.selectedQuotation.id;
      await this.$store.dispatch("estimator/getBarangsByQuotationId", id);
      await this.$store.dispatch("estimator/getQuotationById", id);
    },
    async afterAddDetail() {
      const id = this.selectedQuotation.id;
      await this.$store.dispatch("estimator/getBarangsByQuotationId", id);
      await this.$store.dispatch("estimator/getQuotationById", id);
      this.barangKey = Math.random();
    },
    async afterRemoveDetail() {
      console.info("afterRemoveDetail detail_quotation");
      const id = this.selectedQuotation.id;
      await this.$store.dispatch("estimator/getBarangsByQuotationId", id);
      await this.$store.dispatch("estimator/getQuotationById", id);
      this.barangKey = Math.random();
    },
    kirimPenawaran() {
      console.log("kirimPenawaran");
      if (confirm("Yaki akan kirim penawaran ini kepada Customer?")) {
        const id = this.selectedQuotation.id;
        const quotation = this.selectedQuotation;
        this.$store
          .dispatch("estimator/kirimPenawaranKeCustomer", { id, quotation })
          .then((results) => {
            if (results.error) {
              alert("Error, pesan:["+ results.msg+']');
            } else {
              alert("Success, Penawaran berhasil dikirim !"
              );
              this.$router.push({ path: "/customer" });
            }
          });
      }
    },
    kirimJawaban() {
      console.log("kirimJawaban");
      if (confirm("Yakin akan kirim jawaban penawaran ini kepada Customer?")) {
        const id = this.selectedQuotation.id;
        const quotation = this.selectedQuotation;
        this.$store
          .dispatch("quotation/kirimJawabanKeCustomer", { id, quotation })
          .then((results) => {
            console.log("result");
          });
        alert("Success, Penawaran berhasil dikirim !");
        this.$router.push({ path: "/customer" });
      }
    },
    closeManual() {
      console.log("closeManual");
      if (confirm("Yakin akan mengubah status penawaran ini menjadi DEAL?")) {
        const id = this.selectedQuotation.id;
        const quotation = this.selectedQuotation;
        this.$store
          .dispatch("estimator/closeManual", { id, quotation })
          .then((results) => {
            if (results.error) {
              alert("Error, pesan:["+ results.msg+"]");
            } else {
              alert(
                "Success, Penawaran berhasil diubah menjadi DEAL !"
              );
              this.$router.push({ path: "/customer" });
            }
          });
      }
    },
    async updateNote() {
      const id = this.selectedQuotation.id;
      const note = this.note;
      // action updatePotongan
      return await this.$store
        .dispatch("quotation/updateNote", { id, note })
        .then(async (result) => {
          console.log("result", result);
          if (result.error) {
            alert("Error, pesan:["+ result.msg+"]");
          } else {
            // update quotation
            await this.$store.dispatch("estimator/getQuotationById", id);
          }
        });
    },
    kirimPenawaranKeVendor() {
      if (confirm("Yakin akan kirim penawaran ini kepada Vendor?")) {
        const id = this.selectedQuotation.id;
        const quotation = this.selectedQuotation;
        this.$store
          .dispatch("estimator/kirimPenawaranKeVendor", { id, quotation })
          .then((results) => {
            console.info("results", results);
            if (results.error) {
              alert("Error, pesan:["+ results.error+']');
            } else {
              alert("Success, Jawaban berhasil dikirim !");
              this.$router.push({ path: "/customer" });
            }
          });
      }
    },
    async setujuPenawaran() {
      if (this.note === "") {
        alert(
          "Error, Silahkan tulis persetujuan Anda di note."
        );
        return;
      }

      if (this.note === "SAYA SETUJU DENGAN PENAWARAN INI") {
        if (
          confirm(
            "Terima kasih Anda telah setuju dengan penawaran ini. Selanjutnya, kami akan persiapkan dokumen kontrak dan akan mengirimkannya kepada Anda. Silahkan klik Ok untuk melanjutkan."
          )
        ) {
          const id = this.selectedQuotation.id;
          const quotation = this.selectedQuotation;
          this.$store
            .dispatch("estimator/setujuPenawaran", { id, quotation })
            .then((result) => {
              if (result.error) {
                alert("Error, pesan:["+ result.msg+"]");
              } else {
                alert("Success, Penawaran sudah berhasil dijadikan kontrak !"
                );
                this.$router.push({ path: "/customer" });
              }
            });
        }
      } else {
        alert(
          "Error, Tulis SAYA SETUJU DENGAN PENAWARAN INI di isian note"
        );
        return;
      }
    },
  },
};
</script>

<style>
.dropbox {
  outline: 2px dashed grey; /* the dash box */
  outline-offset: -10px;
  background: lightcyan;
  color: dimgray;
  padding: 10px 10px;
  min-height: 200px; /* minimum height */
  position: relative;
  cursor: pointer;
}

.input-file {
  opacity: 0; /* invisible but it's there! */
  width: 100%;
  height: 200px;
  position: absolute;
  cursor: pointer;
}

.dropbox:hover {
  background: lightblue; /* when mouse over to the drop zone, change color */
}

.dropbox p {
  font-size: 1.2em;
  text-align: center;
  padding: 50px 0;
}
</style>