<template>
<div class="d-flex flex-grow-1 flex-column">
  <v-row class="flex-grow-0" dense>
    <v-col cols="12" xl="6">
        <v-card>
          <v-card-title>
            QUOTATIONS
            <v-spacer></v-spacer>
            <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
          </v-card-title>
          
          <v-card-text>
            <v-data-table
            :headers="headers"
            :items="quotations"
            :search="search"
            :items-per-page="10"
            class="elevation-1"
          >
            <template v-slot:[`item.status`]="{ item }">
              <v-chip
                label
                small
                color="secondary"
                class="font-weight-bold"
                :class="{
                  error: item.status === 'Pending',
                }"
                >{{ item.status }}</v-chip
              ><br>
              {{ item.status_text }}
            </template>

            <template v-slot:[`item.actions`]="{ item }">
              <div class="d-flex">
                <v-btn
                  class="mx-1"
                  dark
                  color="blue darken-3"
                  @click.prevent="gotoQuotationDetail(item)"
                >
                  Detail
                </v-btn>
              </div>
            </template>
            </v-data-table>
          </v-card-text>
        </v-card>
    </v-col>
  </v-row>
</div>
</template>

<script>
const pg = 'Customer'
export default {
  name: 'Customer',
  layout: 'dashboard',
  validate() {
    console.info(`${pg} validate()`)
    return true
  },
  async asyncData() {
    console.info(`${pg} asyncData()`)
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} asynsData() after 0.1 second`)
        resolve('OK')
      })
    }, 100)
  },
  data() {
    return {
      valid: false,
      dialog: false,
      search:"",
      headers: [
        { text: 'Nomor',key: 'nomor_quotation',align: 'start',value: 'nomor'},
        { text: 'Tanggal', value: 'tanggal', align: 'center' }, 
        { text: 'Sales', value: 'nama_sales' },
        { text: 'Contact', value: 'contact_pic' },
        { text: 'Status', value: 'status' }, 
        { text: '', align: 'center', sortable: false, value: 'actions' }
      ],
    }
  },
  created() {
    const t = localStorage.getItem("t");
    if (t === "customer") {
      // user loggged in
      // do nothing
    } else {
      this.$router.push("/login");
    }
  },
  async fetch() {
    console.info(`${pg} fetch()`)
    await this.$store.dispatch('customer/getQuotations')
  },
  mounted() {
    console.info(`${pg} mounted()`)
    // this.toggleSidebar(false)
    this.$store.dispatch('setSelectedMenu', 'quotations')
  },
  computed: {
    quotations() {
      return this.$store.state.customer.selectedQuotations
    },
  },
  methods: {
    toggleSidebar(sidebar) {
      this.$store.dispatch('toggleSidebar', sidebar)
    },
    async gotoQuotationDetail(quotation) {
      console.info('customer.gotoQuotation', quotation)

      this.$store.dispatch('estimator/selectQuotation', quotation)

      const projectId = quotation.project_id
      if (projectId) {
        await this.$store
          .dispatch('estimator/getProjectsById', projectId)
          .then((result) => {
            if (result.error) {
              this.$store.dispatch('showError', result.msg)
            } else {
              // this.$store.dispatch('showSuccess', 'OK')
              this.$router.push({ path: '/customer/detail_quotation' })
            }
          })
      }
    },
  },
}
</script>