<template>
  <div>
    <v-card class="text-center pa-1">
      <v-card-title class="justify-center display-1 mb-2">Welcome</v-card-title>
      <v-card-subtitle>Sign in to your account</v-card-subtitle>

      <!-- sign in form -->
      <v-card-text>
        <v-form ref="form" v-model="isFormValid" lazy-validation>
          <v-text-field
            v-model="login.email"
            :rules="[rules.required]"
            :validate-on-blur="false"
            :error="error"
            label="ID"
            name="email"
            outlined
            @keyup.enter="submit"
            @change="resetErrors"
          ></v-text-field>

          <v-text-field
            v-model="login.password"
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :rules="[rules.required]"
            :type="showPassword ? 'text' : 'password'"
            :error="error"
            :error-messages="errorMessages"
            :label="$t('login.password')"
            name="password"
            outlined
            @change="resetErrors"
            @keyup.enter="submit"
            @click:append="showPassword = !showPassword"
          ></v-text-field>

          <v-btn
            :loading="isLoading"
            :disabled="isSignInDisabled"
            block
            x-large
            color="primary"
            @click="submit"
            >{{ $t("login.button") }}</v-btn
          >

          <!-- <div class="mt-5">
            <router-link :to="localePath('/auth/forgot-password')">
              {{ $t("login.forgot") }}
            </router-link>
          </div> -->
        </v-form>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  layout: "auth",
  data() {
    return {
      // sign in buttons
      isLoading: false,
      isSignInDisabled: false,

      // form
      isFormValid: true,
      login : {
        email: "",
        password: "",
      },
      // form error
      error: false,
      errorMessages: "",

      errorProvider: false,
      errorProviderMessages: "",

      // show password field
      showPassword: false,

      // input rules
      rules: {
        required: value => (value && Boolean(value)) || "Required"
      }
    };
  },
  methods: {
    submit() {
      if (this.$refs.form.validate()) {
        const user = ["estimator", "management", "engineering", "ppic", "head_production", "head_project", "customer"]
        if (user.includes(this.login.email) && this.login.password == 'password') {
          console.log(this.login.email)
          this.isLoading = true;
          this.isSignInDisabled = true;
          localStorage.setItem("t",this.login.email )
          // this.$auth.strategies.local.user = this.login
          // this.$auth.strategies.local.endpoints.user = this.login
          this.$router.push('/'+this.login.email)
        }else{
          this.error= true
          this.errorMessages= "Username atau password salah"
        }
      }
    },

    resetErrors() {
      this.error = false;
      this.errorMessages = "";

      this.errorProvider = false;
      this.errorProviderMessages = "";
    }
  }
};
</script>
