<template>
  <div>
    <v-row>
      <v-col cols="2">
        <div>
          <span><v-icon>mdi-check-circle</v-icon> {{ header.nama }}</span>
        </div>
      </v-col>
      <v-col cols="2">
        <div>
          <span>{{ formatNumber(header.qty) }}</span>
        </div>
      </v-col>
      <v-col cols="2">
        <div>
          <span>{{ header.satuan }}</span>
        </div>
      </v-col>
      <v-col cols="2">
        <div>
          <span>{{ formatNumber(header.harga) }}</span>
        </div>
      </v-col>
      <v-col cols="2">
        <div>
          <span>{{ formatNumber(header.total) }}</span>
        </div>
      </v-col>
      <v-col cols="2">
        <div>
          <v-btn
          color="blue"
          @click.prevent="removeHeader(header)"
          v-show="selectedSko.status_level < 1"
        >
          X
        </v-btn>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
const pg = 'Component:BarangSKO'
export default {
  name: 'BarangSKO',
  props: ['header'],
  validate() {
    console.info(`${pg} validate()`)
    return true
  },
  async asyncData() {
    console.info(`${pg} asyncData()`)
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} asynsData() after 0.1 second`)
        resolve('OK')
      })
    }, 100)
  },
  created() {
    console.info(`${pg} created()`)
  },
  async fetch() {
    console.info(`${pg} fetch()`)
  },
  mounted() {
    console.info(`${pg} mounted()`)
    // await this.getDetailByBarangId()
  },
  data() {
    return {
      // form state
      detailForm: false,
      showDetailForm: false,

      // form model
      nama: '',
      qty: 1,
      satuan: '',
      harga: 0,

      // di level component jangan ambil dari store, rebutan !
      details: [],
    }
  },
  computed: {
    subtotal() {
      return this.qty * this.harga
    },
    selectedSko() {
      return this.$store.state.wop.selectedSko
    },
  },
  methods: {
    formatNumber(num) {
      const n = Number(num).toFixed(2)
      const numParts = n.toString().split('.')
      numParts[0] = numParts[0].replace(/\B(?=(\d{3})+(?!\d))/g, '.')
      return numParts.join(',')
    },
    async removeHeader(header) {
      console.info('Component:BarangSKO.removeHeader()')
      if (confirm(`Yakin mau hapus barang ${header.nama} ini ?!`)) {
        const id = header.id
        if (id) {
          this.$store.dispatch('wop/removeBarangSko', id).then((result) => {
            if (result.error) {
              alert('Error, pesan:['+ result.msg+']')
            } else {
              // reload barang
              // reload quotation
              alert('Success, Barang berhasil dihapus !')
              this.$emit('afterRemoveBarang')
            }
          })
        }
      }
    },
  },
}
</script>