<template>
  <div>
    <v-row>
      <v-col cols="2">
        <div>
          <span><v-icon>mdi-check-circle</v-icon> {{ header.nama }}</span>
        </div>
      </v-col>
      <v-col cols="2">
        <div>
          <span>{{ formatNumber(header.qty) }}</span>
        </div>
      </v-col>
      <v-col cols="2">
        <div>
          <span>{{ header.satuan }}</span>
          <v-btn
          color="red"
          @click.prevent="removeHeader(header)"
          v-show="header.is_prod"
        >
          X
        </v-btn>
        </div>
      </v-col>
      <v-col cols="2" v-if="false">
        <div>
          <v-btn
            color="blue"
            v-if="false"
            @click="showFormDetail"
            >
            Add Detail
            </v-btn>
            <v-btn
            color="red"
            @click.prevent="removeHeader(header)"
            v-show="header.is_prod"
            >
            X
            </v-btn>
        </div>
      </v-col>
    </v-row>
    <v-row
        v-for="detail in details"
        :key="detail.id">
      <v-col cols="2">
        <div class="text-left ml-5">
            <v-icon dark>mdi-check-circle</v-icon><span>{{ detail.nama }}</span>
        </div>
      </v-col>
      <v-col cols="2">
        <div class="text-left ml-5">
            <span>{{ detail.qty }}</span>
        </div>
      </v-col>
      <v-col cols="2">
        <div class="text-left ml-5">
            <span>{{ detail.satuan }}</span>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
const pg = 'Component:BarangWO'
export default {
  name: 'BarangWO',
  props: ['header'],
  validate() {
    console.info(`${pg} validate()`)
    return true
  },
  async asyncData() {
    console.info(`${pg} asyncData()`)
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} asynsData() after 0.1 second`)
        resolve('OK')
      })
    }, 100)
  },
  created() {
    console.info(`${pg} created()`)
  },
  async fetch() {
    console.info(`${pg} fetch()`)
    const id_barang = this.header.id || this.header._id
    console.info('id_barang', id_barang)
    // TODO: add catch to handle rejection from the store
    const ds = await this.$store.dispatch(
      'engineering/getWoDetailsByBarangId',
      id_barang
    )
    console.info('ds', ds)
    if (!ds.error) {
      this.details = ds.data
    }
  },
  mounted() {
    console.info(`${pg} mounted()`)
    // await this.getDetailByBarangId()
  },
  data() {
    return {
      // form state
      detailForm: false,
      showDetailForm: false,

      // form model
      nama: '',
      qty: 1,
      satuan: '',
      harga: 0,

      // di level component jangan ambil dari store, rebutan !
      details: [],
    }
  },
  computed: {
    subtotal() {
      return this.qty * this.harga
    },
    hasDetail() {
      return this.details.length > 0
    },
    selectedWo() {
      return this.$store.state.engineering.selectedWo
    },
  },
  methods: {
    formatNumber(num) {
      const n = Number(num).toFixed(2)
      const numParts = n.toString().split('.')
      numParts[0] = numParts[0].replace(/\B(?=(\d{3})+(?!\d))/g, '.')
      return numParts.join(',')
    },
    showFormDetail() {
      console.log('showForm')
      this.detailForm = true
    },
    hideFormDetail() {
      console.log('hideForm')
      this.detailForm = false
    },
    resetForm() {
      this.nama = ''
      this.qty = 1
      this.satuan = ''
      this.harga = 0
    },
    addDetail() {
      console.log('add detail')
      const id_barang = this.header.id
      const detail = {
        parent_id: this.header.id,
        nama: this.nama,
        qty: this.qty,
        satuan: this.satuan,
        harga: this.harga,
        subtotal: this.subtotal,
      }

      // add detail
      // update total barang
      // update details
      this.$store
        .dispatch('engineering/addDetail', detail)
        .then(async (results) => {
          if (results.error) {
            alert('Error, pesan:['+ results.msg+']')
          } else {
            console.log('get barangs')
            await this.$fetch()
            await this.$emit('afterAddDetail')
            alert('Success, Detail berhasil ditambahkan')
          }
        })

      this.resetForm()
      this.hideFormDetail()
    },
    async removeHeader(header) {
      console.info('Component:BarangWO.removeHeader()')
      if (confirm(`Yakin mau hapus barang ${header.nama} ini ?!`)) {
        const id = this.header.id || this.header._id
        console.info('id', id)
        if (id) {
          const wo_id = this.selectedWo.id || this.selectedWo._id
          console.info('woid', wo_id)
          this.$store
            .dispatch('engineering/removeBarangWo', { id, wo_id })
            .then((result) => {
              if (result.error) {
                alert('Error, pesan:['+ result.msg+']')
              } else {
                // reload barang
                // reload quotation
                alert('Success, Barang berhasil dihapus !')
                this.$emit('afterRemoveBarang')
              }
            })
        }
      }
    },
    removeDetail(detail) {
      console.log('remove detail')
      if (confirm(`Yakin mau hapus barang ${detail.nama} ini ?!`)) {
        this.$store
          .dispatch('detail/removeDetail', detail)
          .then(async (results) => {
            if (results.error) {
              alert('Error, pesan:['+ results.msg+']')
            } else {
              await this.getDetailByBarangId(detail.parent_id)

              const id = this.selectedQuotation.id
              this.$store.dispatch('barang/getSelectedBarangs', id)
              this.$store.dispatch('quotation/getQuotationById', id)
              alert('Success, Barang berhasil dihapus !')
            }
          })
      }
    },
    getID() {
      var rdmString = ''
      for (
        ;
        rdmString.length < 15;
        rdmString += Math.random().toString(36).substr(2)
      );
      return rdmString.substr(0, 15)
    },
    async afterAddDetail() {
      await this.$fetch()
      await this.$emit('afterAddDetail')
    },
    afterRemoveDetail() {
      this.$fetch()
      console.info('afterRemoveDetail BarangEngineering')
      this.$emit('afterRemoveDetail')
    },
  },
}
</script>