<template>
  <v-row>
    <v-col cols="2">
      <div class="text-left ml-2">
        <span><v-icon>mdi-check-circle</v-icon>{{ pekerjaan.nama }}</span>
      </div>
    </v-col>
    <v-col cols="2">
      <div class="text-left ml-2">
        <span>{{ formatNumber(pekerjaan.qty) }}</span>
      </div>
    </v-col>
    <v-col cols="2">
      <div class="text-left ml-2">
        <span>{{ pekerjaan.satuan }}</span>
      </div>
    </v-col>
    <v-col cols="2">
      <div class="text-left ml-2">
        <span>{{ formatNumber(pekerjaan.harga) }}</span>
      </div>
    </v-col>
    <v-col cols="2">
      <div class="text-left ml-2">
        <span>{{ formatNumber(pekerjaan.total) }}</span>
      </div>
    </v-col>
    <v-col cols="2">
      <div>
        <v-btn color="red" @click.prevent="removePekerjaan(pekerjaan)"> X </v-btn>
      </div>
    </v-col>
  </v-row>
</template>

<script>
const pg = 'DetailPekerjaanQuotation'
export default {
  name: 'DetailPekerjaanQuotation',
  props: ['pekerjaan'],
  validate() {
    console.info(`${pg} validate()`)
    return true
  },
  async asyncData() {
    console.info(`${pg} asyncData()`)
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} asynsData() after 0.1 second`)
        resolve('OK')
      })
    }, 100)
  },
  created() {
    console.info(`${pg} created()`)
  },
  async fetch() {
    console.info(`${pg} fetch()`)
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} fetch() after 0.1 second`)
        resolve('OK')
      })
    }, 100)
  },
  mounted() {
    console.info(`${pg} mounted()`)
    if (!this.selectedQuotation.id) {
      this.$store.dispatch(
        'showError',
        'Detail Pekerjaan Quotation selected quotaion id not foun '
      )
      // this.$router.push({ path: '/project_quotations' })
    }
  },
  computed: {
    selectedQuotation() {
      return this.$store.state.estimator.selectedQuotation
    },
  },
  methods: {
    formatNumber(num) {
      const n = Number(num).toFixed(2)
      const numParts = n.toString().split('.')
      numParts[0] = numParts[0].replace(/\B(?=(\d{3})+(?!\d))/g, '.')
      return numParts.join(',')
    },
    async removePekerjaan(pekerjaan) {
      if (confirm(`Yakin mau hapus pekerjaan ${pekerjaan.nama} ini ?!`)) {
        this.$store
          .dispatch('estimator/removePekerjaan', pekerjaan)
          .then(async (results) => {
            if (results.error) {
              alert('Error, pesan: ['+ results.msg+']')
            } else {
              // reload
              alert('Success, Pekerjaan berhasil dihapus !')
              this.$emit('afterAddPekerjaan')
            }
          })
      }
    },
  },
}
</script>