<template>
  <v-row>
    <v-col cols="3">
      <div class="text-left ml-5">
        <span><v-icon dark>mdi-check-circle</v-icon>{{ detail.nama }}</span>
      </div>
    </v-col>
    <v-col cols="3">
      <div class="text-left ml-5">
        <span>{{ formatNumber(detail.qty) }}</span>
      </div>
    </v-col>
    <v-col cols="3">
      <div class="text-left ml-5">
        <span>{{ detail.satuan }}</span>
      </div>
    </v-col>
    <v-col cols="3">
      <div>
        <v-btn 
        color="red" 
        @click.prevent="removeDetail(detail)"
        v-show="detail.is_engineering"> X </v-btn>
      </div>
    </v-col>
  </v-row>
</template>

<script>
const pg = 'Component:DetailBarangEngineering'
export default {
  name: 'DetailBarangEngineering',
  props: ['detail', 'header'],
  validate() {
    console.info(`${pg} validate()`)
    return true
  },
  async asyncData() {
    console.info(`${pg} asyncData()`)
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} asynsData() after 0.1 second`)
        resolve('OK')
      })
    }, 100)
  },
  created() {
    console.info(`${pg} created()`)
  },
  async fetch() {
    console.info(`${pg} fetch()`)
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} fetch() after 0.1 second`)
        resolve('OK')
      })
    }, 100)
  },
  mounted() {
    console.info(`${pg} mounted()`)
    // await this.getDetailByBarangId()
  },
  data() {
    return {
      // form state
      tampilkanEditForm: false,

      // form model
      nama: '',
      qty: 1,
      satuan: '',
      harga: 0,
    }
  },
  computed: {
    subtotal() {
      return this.qty * this.harga
    },
  },
  methods: {
    formatNumber(num) {
      const n = Number(num).toFixed(2)
      const numParts = n.toString().split('.')
      numParts[0] = numParts[0].replace(/\B(?=(\d{3})+(?!\d))/g, '.')
      return numParts.join(',')
    },
    editDetail(detail) {},
    async removeDetail(detail) {
      console.log('remove detail')
      if (confirm(`Yakin mau hapus barang ${detail.nama} ini ?!`)) {
        const id = detail.id
        if (id) {
          // TODO: add catch to handle rejection from the store
          const d = await this.$store.dispatch('engineering/removeDetail', id)
          if (d.error) {
            alert('Error, pesan: ['+ d.msg+']')
          } else {
            // reload details
            // reload barangs
            // reload quotation
            this.$emit('afterRemoveDetail')
            alert('Success, Data berhasil dihapus')
          }
        }
      }
    },
  },
}
</script>