<template>
  <v-row>
    <v-col cols="2">
      <div class="text-right mr-9">
        <span><v-icon dark>mdi-check-circle</v-icon>{{ detail.nama }}</span>
      </div>
    </v-col>
    <v-col cols="2">
      <div class="text-right mr-9">
        <span>{{ formatNumber(detail.qty) }}</span>
      </div>
    </v-col>
    <v-col cols="2">
      <div class="text-right mr-9">
        <span>{{ detail.satuan }}</span>
      </div>
    </v-col>
    <v-col cols="2">
      <div class="text-right mr-9">
        <span>{{ formatNumber(detail.harga) }}</span>
      </div>
    </v-col>
    <v-col cols="2">
      <div class="text-right mr-9">
        <span>{{ formatNumber(detail.subtotal) }}</span>
      </div>
    </v-col>
    <v-col cols="2">
      <div>
        <v-btn color="red" @click.prevent="removeDetail(detail)"> X </v-btn>
      </div>
    </v-col>
  </v-row>
</template>

<script>
const pg = "Component:DetailBarangQuotation";
export default {
  name: "DetailBarangQuotation",
  props: ["detail", "header"],
  validate() {
    console.info(`${pg} validate()`);
    return true;
  },
  async asyncData() {
    console.info(`${pg} asyncData()`);
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} asynsData() after 0.1 second`);
        resolve("OK");
      });
    }, 100);
  },
  created() {
    console.info(`${pg} created()`);
  },
  async fetch() {
    console.info(`${pg} fetch()`);
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} fetch() after 0.1 second`);
        resolve("OK");
      });
    }, 100);
  },
  mounted() {
    console.info(`${pg} mounted()`);
    // await this.getDetailByBarangId()
  },
  data() {
    return {
      // form state
      tampilkanEditForm: false,

      // form model
      nama: "",
      qty: 1,
      satuan: "",
      harga: 0,
    };
  },
  computed: {
    subtotal() {
      return this.qty * this.harga;
    },
  },
  methods: {
    formatNumber(num) {
      const n = Number(num).toFixed(2);
      const numParts = n.toString().split(".");
      numParts[0] = numParts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ".");
      return numParts.join(",");
    },
    editDetail(detail) {},
    async removeDetail(detail) {
      console.log("remove detail");
      if (confirm(`Yakin mau hapus barang ${detail.nama} ini ?!`)) {
        // TODO: add catch to handle rejection from the store
        const d = await this.$store.dispatch("estimator/removeDetail", detail);
        if (d.error) {
          alert('Error, pesan: ['+ d.msg+']');
        } else {
          // reload details
          // reload barangs
          // reload quotation
          this.$emit("afterRemoveDetail");
          alert("Success, Data berhasil dihapus");
        }
      }
    },
  },
};
</script>