<template>
  <div>
    <hr class="mb-2 mt-2" />
    <v-form>
      <v-container>
        <v-row>
          <v-col cols="2">
            <v-text-field
              label="Nama pekerjaan"
              required
              v-model="pekerjaan_nama"
            >
            </v-text-field>
          </v-col>
          <v-col cols="1">
            <v-text-field label="Qty" required v-model="pekerjaan_qty">
            </v-text-field>
          </v-col>
          <v-col cols="2">
            <v-text-field label="Satuan" required v-model="pekerjaan_satuan">
            </v-text-field>
          </v-col>
          <v-col cols="2">
            <v-text-field label="Harga" required v-model="pekerjaan_harga">
            </v-text-field>
          </v-col>
          <v-col cols="3">
            <v-text-field
              label="Total"
              required
              readonly
              v-model="pekerjaan_total"
            >
            </v-text-field>
          </v-col>
          <v-col cols="2">
            <v-btn color="blue" @click.prevent="addPekerjaan">Simpan</v-btn>
            <v-btn @click.prevent="resetPekerjaan">Batal</v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-form>
  </div>
</template>

<script>
const pg = "Component:FormAddPekerjaanWoProject";
export default {
  name: "FormAddPekerjaanWoProject",
  props: ["wo"],
  validate() {
    console.info(`${pg} validate()`);
    return true;
  },
  async asyncData() {
    console.info(`${pg} asyncData()`);
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} asynsData() after 0.1 second`);
        resolve("OK");
      });
    }, 100);
  },
  created() {
    console.info(`${pg} created()`);
  },
  async fetch() {
    console.info(`${pg} fetch()`);
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} fetch() after 0.1 second`);
        resolve("OK");
      });
    }, 100);
  },
  mounted() {
    console.info(`${pg} mounted()`);
  },
  data() {
    return {
      pekerjaan_nama: "",
      pekerjaan_qty: 1,
      pekerjaan_satuan: "",
      pekerjaan_harga: 0,
    };
  },
  computed: {
    pekerjaan_total() {
      return this.pekerjaan_qty * this.pekerjaan_harga;
    },
    selectedRab() {
      return this.$store.state.project.selectedRab;
    },
  },
  methods: {
    resetPekerjaan() {
      this.pekerjaan_nama = "";
      this.pekerjaan_qty = 1;
      this.pekerjaan_satuan = "";
      this.pekerjaan_harga = 0;
    },
    addPekerjaan() {
      console.info("add pekerjaan");
      if (this.pekerjaan_nama == "") {
        alert("Error, Nama Pekerjaan tidak boleh kosong");
        return;
      }

      if (this.pekerjaan_qty == "0") {
        alert("Error, Qty tidak boleh kosong");
        return;
      }

      if (this.pekerjaan_satuan == "") {
        alert("Error, Satuan tidak boleh kosong");
        return;
      }

      if (this.pekerjaan_harga == "") {
        alert("Error, Harga tidak boleh kosong");
        return;
      }

      // validasi limit plafond
      const limit = this.wo.limit_wo;
      const total_wo = this.wo.total_wo;
      const sisa = limit - total_wo;

      const totalPekerjaan = this.pekerjaan_qty * this.pekerjaan_harga;

      console.info("limit", limit);
      console.info("total_wo", total_wo);
      console.info("sisa", sisa);
      console.info("totalPekerjaan", totalPekerjaan);

      if (sisa < totalPekerjaan) {
        alert("showError, Tidak boleh melebihi limit plafond project ");
        return;
      }

      const id = this.wo.id;
      const pekerjaan = {
        wo_id: id,
        nama: this.pekerjaan_nama,
        satuan: this.pekerjaan_satuan,
        qty: this.pekerjaan_qty,
        harga: this.pekerjaan_harga,
        total: this.pekerjaan_total,
        is_field: true,
      };

      this.$store
        .dispatch("project/addPekerjaanWoProject", pekerjaan)
        .then(async (results) => {
          if (results.error) {
            alert("Error, pesan:[" + results.msg + "]");
          } else {
            // reload pekerjaan
            this.$emit("afterAddPekerjaan");
            alert("Success, Pekerjaan berhasil ditambahkan");
            this.resetPekerjaan();
          }
        });
    },
  },
};
</script>