<template>
  <v-form>
      <v-row>
        <v-col cols="6">
          <v-autocomplete
            @change="selectPekerjaan"
            v-model="pilihPekerjaan"
            label="Pilih Pekerjaan SKL"
            :items="pekerjaans"
            required
            item-text="nama"
            item-value="id"
            return-object
          ></v-autocomplete>
        </v-col>
        <v-col cols="6" v-show="details.length > 0">
          <v-autocomplete
            @change="selectDetailPekerjaan"
            v-model="pilihDetailPekerjaan"
            v-show="details.length > 0"
            label="Pilih Detail Pekerjaan SKL"
            :items="details"
            required
            item-text="nama"
            item-value="id"
            return-object
          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="2">
          <v-text-field label="Deskripsi SKL" required v-model="pekerjaan_nama">
          </v-text-field>
        </v-col>
        <v-col cols="2">
          <v-text-field label="Qty" required v-model="pekerjaan_qty">
          </v-text-field>
        </v-col>
        <v-col cols="2">
          <v-text-field label="Satuan" required v-model="pekerjaan_satuan">
          </v-text-field>
        </v-col>
        <v-col cols="2">
          <v-text-field label="Harga" required v-model="pekerjaan_harga">
          </v-text-field>
        </v-col>
        <v-col cols="2">
          <v-text-field
            label="Total"
            required
            readonly
            v-model="pekerjaan_total"
          >
          </v-text-field>
        </v-col>
        <v-col cols="2">
          <v-btn color="blue" @click.prevent="addPekerjaan">Simpan</v-btn>
          <v-btn @click.prevent="resetPekerjaan">Batal</v-btn>
        </v-col>
      </v-row>
  </v-form>
</template>

<script>
const pg = "Component:FormAddPekerjaanSkl";
export default {
  name: "FormAddPekerjaanSkl",
  props: ["skl", "pekerjaans"],
  validate() {
    console.info(`${pg} validate()`);
    return true;
  },
  async asyncData() {
    console.info(`${pg} asyncData()`);
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} asynsData() after 0.1 second`);
        resolve("OK");
      });
    }, 100);
  },
  created() {
    console.info(`${pg} created()`);
  },
  async fetch() {
    console.info(`${pg} fetch()`);
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} fetch() after 0.1 second`);
        resolve("OK");
      });
    }, 100);
  },
  mounted() {
    console.info(`${pg} mounted()`);
  },
  data() {
    return {
      pekerjaan_nama: "",
      pekerjaan_qty: 1,
      pekerjaan_satuan: "",
      pekerjaan_harga: 0,

      pilihPekerjaan:{},
      pilihDetailPekerjaan:{},
      selectedPekerjaan: "",
      selectedDetailPekerjaan: "",
      selectedPekerjaanNama: "",
      selectedDetailPekerjaanNama: "",

      details: [],
    };
  },
  computed: {
    pekerjaan_total() {
      return this.pekerjaan_qty * this.pekerjaan_harga;
    },
    selectedRab() {
      return this.$store.state.project.selectedRab;
    },
  },
  methods: {
    capitalize(t) {
      return t.toUpperCase();
    },
    resetPekerjaan() {
      this.pekerjaan_nama = "";
      this.pekerjaan_qty = 1;
      this.pekerjaan_satuan = "";
      this.pekerjaan_harga = 0;
      this.selectedPekerjaan = "";
      this.selectedDetailPekerjaan = "";
      this.selectedPekerjaanNama = "";
      this.selectedDetailPekerjaanNama = "";
    },
    async selectPekerjaan(e) {
      console.info("selectedPekerjaan", this.selectedPekerjaan);
      console.info("e", e.target);
      const id = this.pilihPekerjaan.id
      const nama = this.pilihPekerjaan.nama
      console.info("id", id);
      console.info("nama", nama);
      this.selectedPekerjaan = id;
      this.selectedPekerjaanNama = nama;
      this.selectedDetailPekerjaan = "";
      this.selectedDetailPekerjaanNama = "";

      await this.$store
        .dispatch("project/getWoPekerjaanDetailsByPekerjaanId", id)
        .then((results) => {
          if (results.data) {
            this.details = results.data;
          }
        })
        .catch((e) => {
          alert("Error, pesan:[" + e.msg + "]");
        });
    },
    selectDetailPekerjaan(e) {
      console.info("selectDetailPekerjaan", this.selectDetailPekerjaan);
      console.info("e", e.target);
      const id = this.pilihDetailPekerjaan.id;
      const nama = this.pilihDetailPekerjaan.nama;
      console.info("id", id);
      console.info("nama", nama);
      this.selectedDetailPekerjaan = id;
      this.selectedDetailPekerjaanNama = nama;
    },
    addPekerjaan() {
      console.info("add pekerjaan");
      if (this.pekerjaan_nama == "") {
        alert("Error, Nama Pekerjaan tidak boleh kosong");
        return;
      }

      if (this.pekerjaan_qty == "0") {
        alert("Error, Qty tidak boleh kosong");
        return;
      }

      if (this.pekerjaan_satuan == "") {
        alert("Error, Satuan tidak boleh kosong");
        return;
      }

      if (this.pekerjaan_harga == "") {
        alert("Error, Harga tidak boleh kosong");
        return;
      }

      if (this.selectedPekerjaan == "") {
        alert("Error, selected Pekerjaan tidak boleh kosong");
        return;
      }

      if (this.details.length > 0) {
        if (this.selectedDetailPekerjaan == "") {
          alert("Error, selected Detail Pekerjaan tidak boleh kosong");
          return;
        }
      }

      // validasi limit plafond
      const limit = this.skl.limit_skl;
      const total_skl = this.skl.total_skl;
      const sisa = limit - total_skl;

      const totalPekerjaan = this.pekerjaan_qty * this.pekerjaan_harga;

      console.info("limit", limit);
      console.info("total_skl", total_skl);
      console.info("sisa", sisa);
      console.info("totalPekerjaan", totalPekerjaan);

      if (sisa < totalPekerjaan) {
        this.$store.dispatch(
          "Error, Tidak boleh melebihi limit plafond project"
        );
        return;
      }

      const id = this.skl.id;
      const pekerjaan = {
        skl_id: id,
        pekerjaan_id: this.selectedPekerjaan,
        pekerjaan_nama: this.selectedPekerjaanNama,
        detail_id: this.selectedDetailPekerjaan,
        detail_nama: this.selectedDetailPekerjaanNama,
        nama: this.pekerjaan_nama,
        satuan: this.pekerjaan_satuan,
        qty: this.pekerjaan_qty,
        harga: this.pekerjaan_harga,
        total: this.pekerjaan_total,
        is_field: true,
      };

      this.$store
        .dispatch("project/addPekerjaanSkl", pekerjaan)
        .then(async (results) => {
          console.info("results", results);
          if (results.error) {
            alert("Error, pesan:[" + results.msg + "]");
          } else {
            // reload pekerjaan
            this.$emit("afterAddPekerjaan");
            alert("Success, Pekerjaan berhasil ditambahkan");
            this.resetPekerjaan();
          }
        })
        .catch((e) => {
          console.info("e", e);
          alert("Error, pesan:[" + e.msg + "]");
        });
    },
  },
};
</script>