<template>
  <v-form>
    <v-container>
      <v-row>
        <v-col cols="2">
          <v-text-field label="Nama barang" required v-model="header_nama">
          </v-text-field>
        </v-col>
        <v-col cols="1">
          <v-text-field label="Qty" required v-model="header_qty">
          </v-text-field>
        </v-col>
        <v-col cols="2">
          <v-text-field label="Satuan" required v-model="header_satuan">
          </v-text-field>
        </v-col>
        <v-col cols="2">
          <v-text-field label="Harga" required v-model="header_harga">
          </v-text-field>
        </v-col>
        <v-col cols="3">
          <v-text-field label="Total" required readonly v-model="header_total">
          </v-text-field>
        </v-col>
        <v-col cols="2">
          <v-btn color="blue" @click.prevent="addHeader">Simpan</v-btn>
          <v-btn @click.prevent="resetForm">Batal</v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
const pg = "Component FormAddBarangQuotation";
export default {
  name: "FormAddBarangQuotation",
  validate() {
    console.info(`${pg} validate()`);
    return true;
  },
  async asyncData() {
    console.info(`${pg} asyncData()`);
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} asynsData() after 0.1 second`);
        resolve("OK");
      });
    }, 100);
  },
  created() {
    console.info(`${pg} created()`);
  },
  async fetch() {
    console.info(`${pg} fetch()`);
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} fetch() after 0.1 second`);
        resolve("OK");
      });
    }, 100);
  },
  mounted() {
    console.info(`${pg} mounted()`);
  },
  data() {
    return {
      header_nama: "",
      header_qty: 1,
      header_satuan: "",
      header_harga: 0,
    };
  },
  computed: {
    header_total() {
      var total = this.header_harga * this.header_qty;
      if (isNaN(total)) {
        return "Qty dan Harga harus angka";
      }
      return total;
    },
    selectedQuotation() {
      return this.$store.state.estimator.selectedQuotation;
    },
  },
  methods: {
    resetForm() {
      this.header_nama = "";
      this.header_qty = 1;
      this.header_satuan = "";
      this.header_harga = 0;
    },
    /**
     * add new barang
     * reload global state barang.selectedBarangs
     */
    addHeader() {
      console.info(`${pg} addHeader()`);
      if (this.header_nama == "") {
        alert("Nama Barang tidak boleh kosong");
        return;
      }

      if (this.header_qty == "0") {
        alert("Qty tidak boleh kosong");
        return;
      }

      if (this.header_satuan == "") {
        alert("Satuan tidak boleh kosong");
        return;
      }

      if (this.header_harga == "") {
        alert("Harga tidak boleh kosong");
        return;
      }

      const id = this.selectedQuotation.id;
      const barang = {
        quotation_id: id,
        nama: this.header_nama,
        satuan: this.header_satuan,
        qty: this.header_qty,
        harga: this.header_harga,
        total: this.header_total,
        is_header: false,
      };

      this.$store
        .dispatch("estimator/addBarang", barang)
        .then(async (result) => {
          if (result.error) {
            alert("Error, pesan: ["+ result.msg+"]");
          } else {
            // reload barang dan reload quotation
            alert("Barang berhasil ditambahkan");
            this.$emit("afterAddBarang");
          }
        });
      this.resetForm();
    },
  },
};
</script>