<template>
<v-form v-show="tampilkan">
    <v-container>
      <v-row>
        <v-col cols="2">
          <v-text-field label="Nama barang" required v-model="nama">
          </v-text-field>
        </v-col>
        <v-col cols="1">
          <v-text-field label="Qty" required v-model="qty">
          </v-text-field>
        </v-col>
        <v-col cols="2">
          <v-text-field label="Satuan" required v-model="satuan">
          </v-text-field>
        </v-col>
        <v-col cols="2">
          <v-text-field label="Harga" required v-model="harga">
          </v-text-field>
        </v-col>
        <v-col cols="3">
          <v-text-field label="Sub Total" required readonly v-model="subtotal">
          </v-text-field>
        </v-col>
        <v-col cols="2">
          <v-btn color="blue" @click.prevent="addDetail">Simpan</v-btn>
          <v-btn @click.prevent="hideFormDetail">Batal</v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
const pg = 'FormAddDetailPpic'
export default {
  name: 'FormAddDetailPpic',
  props: ['tampilkan', 'header'],
  validate() {
    console.info(`${pg} validate()`)
    return true
  },
  async asyncData() {
    console.info(`${pg} asyncData()`)
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} asynsData() after 0.1 second`)
        resolve('OK')
      })
    }, 100)
  },
  created() {
    console.info(`${pg} created()`)
  },
  async fetch() {
    console.info(`${pg} fetch()`)
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} fetch() after 0.1 second`)
        resolve('OK')
      })
    }, 100)
  },
  mounted() {
    console.info(`${pg} mounted()`)
  },
  data() {
    return {
      nama: '',
      qty: 1,
      satuan: '',
      harga: 0,
    }
  },
  computed: {
    subtotal() {
      return this.qty * this.harga
    },
    selectedRab() {
      return this.$store.state.engineering.selectedRab
    },
  },
  methods: {
    addDetail() {
      console.log('Component.FormAddDetailEngineering addDetail')
      const id_barang = this.header.id
      const detail = {
        parent_id: id_barang,
        nama: this.nama,
        qty: this.qty,
        satuan: this.satuan,
        harga: this.harga,
        subtotal: this.subtotal,
      }

      const limit_plafond_material = this.selectedRab.limit_plafond_material
      const total_rab = this.selectedRab.total_rab
      const sisa = this.selectedRab.sisa_plafond_material

      console.info('limit', limit_plafond_material)
      console.info('total', total_rab)
      console.info('sisa', sisa)
      console.info('barang', this.subtotal)

      if (sisa < this.subtotal) {
        alert('Error, Tidak boleh melebihi plafond material')
        return
      }

      // add detail
      // update total barang
      // update details
      this.$store
        .dispatch('engineering/addDetail', detail)
        .then(async (results) => {
          if (results.error) {
            alert('Error, pesan: ['+ results.msg+']')
          } else {
            // reload details
            // reload barangs
            // reload quotation
            this.$emit('afterAddDetail')
            alert('Detail berhasil ditambahkan')
          }
        })
      this.resetForm()
      this.$emit('hideForm')
    },
    hideFormDetail() {
      console.info('emit hideFormDetail')
      this.$emit('hideForm')
    },
    resetForm() {
      this.nama = ''
      this.qty = 1
      this.satuan = ''
      this.harga = 0
    },
  },
}
</script>