<template>
  <v-row>
    <v-col>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
      <v-data-table
        :headers="headers"
        :items="skls"
        :search="search"
        :items-per-page="10"
        class="elevation-1"
      >
      <template v-slot:[`item.limit_skl`]="{ item }">
        <div>{{ formatNumber(item.limit_skl) }}</div>
      </template>
      <template v-slot:[`item.total_skl`]="{ item }">
        <div>{{ formatNumber(item.total_skl) }}</div>
      </template>
        <template v-slot:[`item.status`]="{ item }">
          <v-chip
            label
            small
            color="secondary"
            class="font-weight-bold"
            :class="{
              info: item.status === 'approved',
              warning: item.status === 'draf',
            }"
            >{{ item.status === "" ? "draf" : item.status }}</v-chip
          >
        </template>
        <template v-slot:[`item.actions`]="{ item }">
          <div class="d-flex">
            <v-btn color="green" dark @click.prevent="gotoDetail(item)">
              Detail SKL
            </v-btn>&nbsp;
            <v-btn
              color="blue"
              dark
              @click.prevent="gotoRealisasi(item)"
              v-show="item.is_approved"
            >
              Input Realisasi
            </v-btn>
          </div>
        </template>
      </v-data-table>
    </v-col>
  </v-row>
</template>

<script>
import { formatNumber } from "../utils/format";

const pg = "Component:ListSKL";
export default {
  name: "ListSKL",
  props: ["skls"],
  validate() {
    console.info(`${pg} validate()`);
    return true;
  },
  async asyncData() {
    console.info(`${pg} asyncData()`);
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} asynsData() after 0.1 second`);
        resolve("OK");
      });
    }, 100);
  },
  created() {
    console.info(`${pg} created()`);
  },
  async fetch() {
    console.info(`${pg} fetch()`);
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} fetch() after 0.1 second`);
        resolve("OK");
      });
    }, 100);
  },
  mounted() {
    console.info(`${pg} mounted()`);
  },
  data() {
    return {
      search: "",
      headers: [
        { text: "Nomor", key: "nomor", align: "start", value: "nomor" },
        { text: "Tanggal", value: "tanggal" },
        { text: "Limit SKL", value: "limit_skl" },
        { text: "Total SKL", value: "total_skl" },
        { text: "Status", value: "status" },
        { text: "", align: "center", sortable: false, value: "actions" },
      ],
    };
  },
  computed: {
    selectedProject() {
      return this.$store.state.project.selectedProject;
    },
    selectedWo() {
      return this.$store.state.project.selectedWo;
    },
  },
  methods: {
    async gotoDetail(skl) {
      console.info(`${pg} gotoDetail`, skl);
      await this.$store.dispatch("project/selectSkl", skl);
      this.$router.push({ path: "/skl/input_skl" });
    },
    async gotoRealisasi(skl) {
      console.info(`${pg} gotoDetail`, skl);
      await this.$store.dispatch("project/selectSkl", skl);
      this.$router.push({ path: "/skl/realisasi_skl" });
    },
    formatNumber(val) {
      return formatNumber(val);
    },
  },
};
</script>