<template>
  <v-card>
    <v-card-title>
      <div>Pekerjaan Info</div>
    </v-card-title>
    <v-card-text>
      <v-row>
        <v-col cols="2">
          <th>Nama Pekerjaan</th>
        </v-col>
        <v-col cols="2">
          <th>Qty Pekerjaan</th>
        </v-col>
        <v-col cols="2">
          <th>Satuan Pekerjaan</th>
        </v-col>
        <v-col cols="2">
          <th>Harga Pekerjaan</th>
        </v-col>
        <v-col cols="2">
          <th>Total Pekerjaan</th>
        </v-col>
        <v-col cols="2">
          <th>Action</th>
        </v-col>
      </v-row>
      <div :key="listKey">
        <div v-for="pekerjaan in pekerjaans" :key="pekerjaan.id">
          <PekerjaanRow
            :rab="rab"
            :pekerjaan="pekerjaan"
            @afterUpdateHarga="afterUpdateHarga"
            @afterAddDetailPekerjaan="afterAddDetailPekerjaan"
            @afterRemoveDetail="afterRemoveDetail"
          />
        </div>
      </div>
      <FormAddPekerjaanRabProject
        :rab="selectedRab"
        @afterAddPekerjaan="afterAddPekerjaan"
        v-show="rab.status_level === 0"
      />
    </v-card-text>
  </v-card>
</template>

<script>
import { formatNumber } from "../utils/format";

const pg = "Component:ListPekerjaanRabProject";
export default {
  name: "ListPekerjaanRabProject",
  props: ["pekerjaans", "rab"],
  validate() {
    console.info(`${pg} validate()`);
    return true;
  },
  async asyncData() {
    console.info(`${pg} asyncData()`);
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} asynsData() after 0.1 second`);
        resolve("OK");
      });
    }, 100);
  },
  created() {
    console.info(`${pg} created()`);
  },
  async fetch() {
    console.info(`${pg} fetch()`);
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} fetch() after 0.1 second`);
        resolve("OK");
      });
    }, 100);
  },
  mounted() {
    console.info(`${pg} mounted()`);
  },
  data() {
    return {
      listKey: Math.random(),
    };
  },
  computed: {
    selectedProject() {
      return this.$store.state.project.selectedProject;
    },
    selectedRab() {
      return this.$store.state.project.selectedRab;
    },
  },
  methods: {
    formatNumber(val) {
      return formatNumber(val);
    },
    afterUpdateHarga() {
      console.info("ListPekerjaanRabProject afterUpdateHarga");
      this.listKey = Math.random();
      this.$emit("afterUpdateHarga");
    },
    afterAddDetailPekerjaan() {
      console.info("ListPekerjaanRabProject afterAddDetailPekerjaan");
      this.listKey = Math.random();
      this.$emit("afterAddDetailPekerjaan");
    },
    afterRemoveDetail() {
      console.info("ListPekerjaanRabProject afterRemoveDetail");
      this.listKey = Math.random();
      this.$emit("afterRemoveDetail");
    },
    afterAddPekerjaan() {
      console.info("ListPekerjaanRabProject afterAddPekerjaan");
      this.listKey = Math.random();
      this.$emit("afterAddPekerjaan");
    },
  },
};
</script>