<template>
<v-row>
  <v-col>
    <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
    <v-data-table
        :headers="headers"
        :items="wos"
        :search="search"
        :items-per-page="10"
        class="elevation-1"
      >
      <template v-slot:[`item.status`]="{ item }">
          <v-chip
            label
            small
            color="secondary"
            class="font-weight-bold"
            :class="{
              info: item.status === 'approved',
              warning: item.status === 'draf',
            }"
            >{{ item.status === '' ? 'draf' : item.status }}</v-chip
          >
        </template>
        <template v-slot:[`item.actions`]="{ item }">
          <div class="d-flex">
            <v-btn
              color="green"
              dark
              @click.prevent="gotoDetail(item)"
              v-show="!item.is_approved"
            >
              Detail WO
            </v-btn>
            <v-btn
              color="green"
              dark
              @click.prevent="gotoSKL(item)"
              v-show="item.is_approved"
            >
              Lihat SKL
            </v-btn>
          </div>
        </template>
    </v-data-table>
  </v-col>
</v-row>
</template>

<script>
import { formatNumber } from '../utils/format'

const pg = 'Component:ListWoProject'
export default {
  name: 'ListWoProject',
  props: ['wos'],
  validate() {
    console.info(`${pg} validate()`)
    return true
  },
  async asyncData() {
    console.info(`${pg} asyncData()`)
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} asynsData() after 0.1 second`)
        resolve('OK')
      })
    }, 100)
  },
  created() {
    console.info(`${pg} created()`)
  },
  async fetch() {
    console.info(`${pg} fetch()`)
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} fetch() after 0.1 second`)
        resolve('OK')
      })
    }, 100)
  },
  mounted() {
    console.info(`${pg} mounted()`)
  },
  data() {
    return {
      search:"",
      headers: [
        { text: "Nomor", key: "nomor", align: "start", value: "nomor" },
        { text: "Tanggal", value: "tanggal" },
        { text: "", value: "" },
        { text: "Limit Work Order", value: "limit_wo" },
        { text: "Total Work Order", value: "total_wo" },
        { text: "Status", value: "status" },
        { text: "", align: "center", sortable: false, value: "actions" },
      ],
    }
  },
  computed: {
    selectedProject() {
      return this.$store.state.project.selectedProject
    },
  },
  methods: {
    async gotoDetail(wo) {
      console.info(`${pg} gotoDetail`, wo)
      await this.$store.dispatch('project/selectWoProject', wo)
      this.$router.push({ path: '/wo_project/detail_wo_project' })
    },
    async gotoSKL(wo) {
      console.info(`${pg} gotoSKL`, wo)
      await this.$store.dispatch('project/selectWoProject', wo)
      this.$router.push({ path: '/skl/detail_skl' })
    },
    formatNumber(val) {
      return formatNumber(val)
    },
  },
}
</script>