<template>
  <v-card>
    <v-card-title>
      <div>Pekerjaan Info</div>
    </v-card-title>
    <v-card-text>
      <v-row>
        <v-col cols="2">
          <th>Nama Pekerjaan</th>
        </v-col>
        <v-col cols="2">
          <th>Qty Pekerjaan</th>
        </v-col>
        <v-col cols="2">
          <th>Satuan Pekerjaan</th>
        </v-col>
        <v-col cols="2">
          <th>Harga Pekerjaan</th>
        </v-col>
        <v-col cols="2">
          <th>Total Pekerjaan</th>
        </v-col>
        <v-col cols="2">
          <th>Action</th>
        </v-col>
      </v-row>
      <div :key="listKey">
        <div v-for="pekerjaan in pekerjaans" :key="pekerjaan.id">
          <PekerjaanWoRow
            :wo="wo"
            :pekerjaan="pekerjaan"
            @afterUpdateHarga="afterUpdateHarga"
            @afterAddDetailPekerjaan="afterAddDetailPekerjaan"
            @afterRemoveDetail="afterRemoveDetail"
            @afterUpdatePekerjaanDetail="afterUpdatePekerjaanDetail"
          />
        </div>
      </div>
      <FormAddPekerjaanWoProject
        :wo="wo"
        @afterAddPekerjaan="afterAddPekerjaan"
        v-show="wo.status_level === 0"
      />
    </v-card-text>
  </v-card>
</template>

<script>
import { formatNumber } from '../utils/format'

const pg = 'Component:ListPekerjaanWoProject'
export default {
  name: 'ListPekerjaanWoProject',
  props: ['pekerjaans', 'wo'],
  validate() {
    console.info(`${pg} validate()`)
    return true
  },
  async asyncData() {
    console.info(`${pg} asyncData()`)
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} asynsData() after 0.1 second`)
        resolve('OK')
      })
    }, 100)
  },
  created() {
    console.info(`${pg} created()`)
  },
  async fetch() {
    console.info(`${pg} fetch()`)
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} fetch() after 0.1 second`)
        resolve('OK')
      })
    }, 100)
  },
  mounted() {
    console.info(`${pg} mounted()`)
  },
  data() {
    return {
      listKey: Math.random(),
    }
  },
  computed: {
    selectedProject() {
      return this.$store.state.project.selectedProject
    },
    selectedWo() {
      return this.$store.state.project.selectedWo
    },
  },
  methods: {
    formatNumber(val) {
      return formatNumber(val)
    },
    afterUpdateHarga() {
      console.info(`${pg} afterUpdateHarga`)
      this.listKey = Math.random()
      this.$emit('afterUpdateHarga')
    },
    afterAddDetailPekerjaan() {
      console.info(`${pg} afterAddDetailPekerjaan`)
      this.listKey = Math.random()
      this.$emit('afterAddDetailPekerjaan')
    },
    afterRemoveDetail() {
      console.info(`${pg} afterRemoveDetail`)
      this.listKey = Math.random()
      this.$emit('afterRemoveDetail')
    },
    afterAddPekerjaan() {
      console.info(`${pg} afterAddPekerjaan`)
      this.listKey = Math.random()
      this.$emit('afterAddPekerjaan')
    },
    afterUpdatePekerjaanDetail() {
      console.info(`${pg} afterUpdatePekerjaanDetail`)
      this.listKey = Math.random()
      this.$emit('afterUpdatePekerjaanDetail')
    },
  },
}
</script>