<template>
  <v-card>
    <v-card-title>
      <div>Pekerjaan Info</div>
    </v-card-title>
    <v-card-text>
      <v-row>
        <v-col cols="2">
          <th>Pekerjaan</th>
        </v-col>
        <v-col cols="2">
          <th>Deskripsi</th>
        </v-col>
        <v-col cols="1">
          <th>Qty Pekerjaan</th>
        </v-col>
        <v-col cols="1">
          <th>Satuan Pekerjaan</th>
        </v-col>
        <v-col cols="2">
          <th>Harga Pekerjaan</th>
        </v-col>
        <v-col cols="2">
          <th>Total Pekerjaan</th>
        </v-col>
        <v-col cols="2">
          <th>Action</th>
        </v-col>
      </v-row>
      <hr class="mb-2 mt-2" />
    <div>
      <div v-for="pekerjaan in pekerjaans" :key="pekerjaan.id">
        <PekerjaanSklRow
          :skl="skl"
          :pekerjaan="pekerjaan"
          @afterUpdateHarga="afterUpdateHarga"
          @afterAddDetailPekerjaan="afterAddDetailPekerjaan"
          @afterRemoveDetail="afterRemoveDetail"
          @afterUpdatePekerjaanDetail="afterUpdatePekerjaanDetail"
        />
      </div>
    </div>
    </v-card-text>
  </v-card>
</template>

<script>
import { formatNumber } from '../utils/format'

const pg = 'Component:ListPekerjaanSkl'
export default {
  name: 'ListPekerjaanSkl',
  props: ['skl'],
  validate() {
    console.info(`${pg} validate()`)
    return true
  },
  async asyncData() {
    console.info(`${pg} asyncData()`)
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} asynsData() after 0.1 second`)
        resolve('OK')
      })
    }, 100)
  },
  created() {
    console.info(`${pg} created()`)
  },
  async fetch() {
    console.info(`${pg} fetch()`)
    const skl_id = this.skl.id
    if (skl_id) {
      await this.$store
        .dispatch('project/getPekerjaansSklBySklId', skl_id)
        .then((results) => {
          if (results.error) {
            this.$store.dispatch('showError', results.msg)
          } else {
            this.pekerjaans = results.data
          }
        })
        .catch((e) => {
          this.$store.dispatch('showError', e.msg)
        })
    }
  },
  mounted() {
    console.info(`${pg} mounted()`)
  },
  data() {
    return {
      listKey: Math.random(),
      pekerjaans: [],
    }
  },
  computed: {
    selectedProject() {
      return this.$store.state.project.selectedProject
    },
    selectedSkl() {
      return this.$store.state.project.selectedSkl
    },
  },
  methods: {
    formatNumber(val) {
      return formatNumber(val)
    },
    afterUpdateHarga() {
      console.info(`${pg} afterUpdateHarga`)
      this.listKey = Math.random()
      this.$emit('afterUpdateHarga')
    },
    afterAddDetailPekerjaan() {
      console.info(`${pg} afterAddDetailPekerjaan`)
      this.listKey = Math.random()
      this.$emit('afterAddDetailPekerjaan')
    },
    afterRemoveDetail() {
      console.info(`${pg} afterRemoveDetail`)
      this.listKey = Math.random()
      this.$emit('afterRemoveDetail')
    },
    afterAddPekerjaan() {
      console.info(`${pg} afterAddPekerjaan`)
      this.listKey = Math.random()
      this.$emit('afterAddPekerjaan')
    },
    afterUpdatePekerjaanDetail() {
      console.info(`${pg} afterUpdatePekerjaanDetail`)
      this.listKey = Math.random()
      this.$emit('afterUpdatePekerjaanDetail')
    },
  },
}
</script>