<template>
    <v-row>
      <v-col cols="2">
        <div class="text-left ml-3">
          <span
            ><v-icon dark>mdi-check-circle</v-icon>{{ pekerjaan.nama }}</span
          >
        </div>
      </v-col>
      <v-col cols="2">
        <div class="text-left ml-3">
          <span>{{ formatNumber(pekerjaan.qty) }}</span>
        </div>
      </v-col>
      <v-col cols="2">
        <div class="text-left ml-3">
          <span>{{ pekerjaan.satuan }}</span>
        </div>
      </v-col>
      <v-col cols="2">
        <div class="text-left ml-3">
          <span>{{ formatNumber(pekerjaan.harga) }}</span>
        </div>
      </v-col>
      <v-col cols="2">
        <div class="text-left ml-3">
          <span>{{ formatNumber(pekerjaan.subtotal) }}</span>
        </div>
      </v-col>
      <v-col cols="2">
        <div>
          <v-btn
            color="red"
            @click="removeDetail"
            v-show="rab.status_level === 0"
          >
            X
          </v-btn>
        </div>
      </v-col>
    </v-row>
</template>

<script>
import { formatNumber } from "../utils/format";

const pg = "Component:PekerjaanDetailRow";
export default {
  name: "PekerjaanDetailRow",
  props: ["pekerjaan", "rab"],
  validate() {
    console.info(`${pg} validate()`);
    return true;
  },
  async asyncData() {
    console.info(`${pg} asyncData()`);
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} asynsData() after 0.1 second`);
        resolve("OK");
      });
    }, 100);
  },
  created() {
    console.info(`${pg} created()`);
  },
  async fetch() {
    console.info(`${pg} fetch()`);
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} fetch() after 0.1 second`);
        resolve("OK");
      });
    }, 100);
  },
  mounted() {
    console.info(`${pg} mounted()`);
  },
  data() {
    return {};
  },
  computed: {
    selectedProject() {
      return this.$store.state.project.selectedProject;
    },
  },
  methods: {
    formatNumber(val) {
      return formatNumber(val);
    },
    async removeDetail() {
      const pekerjaan = this.pekerjaan.nama;
      if (confirm(`Yakin akan hapus data ${pekerjaan} ?!`)) {
        const id = this.pekerjaan.id;
        const d = await this.$store.dispatch(
          "project/removeDetailPekerjaanRab",
          id
        );
        if (d.error) {
          this.$store.dispatch("showError", d.msg);
        } else {
          this.$emit("afterRemoveDetail");
          this.$store.dispatch("showSuccess", "Data berhasil dihapus");
        }
      }
    },
  },
};
</script>