<template>
  <div>
    <v-row>
      <v-col cols="2">
        <div class="text-left ml-1">
          <span
            ><v-icon>mdi-check-circle</v-icon>{{ pekerjaan.nama }}</span
          >
        </div>
      </v-col>
      <v-col cols="2">
        <div class="text-left ml-1">
          <span>{{ formatNumber(pekerjaan.qty) }}</span>
        </div>
      </v-col>
      <v-col cols="2">
        <div class="text-left ml-1">
          <span>{{ pekerjaan.satuan }}</span>
        </div>
      </v-col>
      <v-col cols="2">
        <v-text-field
          label="Qty"
          :value="pekerjaan.harga"
          @blur="updatePekerjaanRab"
          v-show="pekerjaans.length === 0 && rab.status_level === 0"
        >
        </v-text-field>
        <div class="text-left ml-1" v-show="rab.status_level > 0">
          <span>{{ formatNumber(pekerjaan.harga) }}</span>
        </div>
      </v-col>
      <v-col cols="2">
        <v-text-field
          label="Total"
          v-model="pekerjaan.total"
          readonly
          v-show="pekerjaans.length === 0 && rab.status_level === 0"
        >
        </v-text-field>
        <div class="text-left ml-1" v-show="pekerjaans.length > 0">
          <span>{{ formatNumber(pekerjaan.total) }}</span>
        </div>
      </v-col>
      <v-col cols="2">
        <div>
          <v-btn
            color="blue"
            @click="showForm"
            v-show="!formDetailDisplayed && rab.status_level === 0"
          >
            Add detail
          </v-btn>
          <v-btn
            color="red"
            @click.prevent="deletePekerjaan"
            v-show="pekerjaan.is_field && rab.status_level === 0"
          >
            X
          </v-btn>
        </div>
      </v-col>
    </v-row>
      <div v-for="p in pekerjaans" :key="p.id">
        <PekerjaanDetailRow
          :rab="rab"
          :pekerjaan="p"
          @afterRemoveDetail="afterRemoveDetail"
        />
      </div>
      <FormAddPekerjaanDetailRabProject
        :rab="rab"
        :pekerjaan="pekerjaan"
        v-show="formDetailDisplayed && rab.status_level === 0"
        @hideForm="hideForm"
        @afterAddDetailPekerjaan="afterAddDetailPekerjaan"
      />
  </div>
</template>

<script>
import { formatNumber } from "../utils/format";

const pg = "Component:PekerjaanRow";
export default {
  name: "PekerjaanRow",
  props: ["pekerjaan", "rab"],
  validate() {
    console.info(`${pg} validate()`);
    return true;
  },
  async asyncData() {
    console.info(`${pg} asyncData()`);
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} asynsData() after 0.1 second`);
        resolve("OK");
      });
    }, 100);
  },
  created() {
    console.info(`${pg} created()`);
  },
  async fetch() {
    console.info(`${pg} fetch()`);
    const id = this.pekerjaan.id;
    console.info(`${pg} id`, id);
    if (id) {
      const ps = await this.$store.dispatch(
        "project/getRabPekerjaanDetailsByPekerjaanId",
        id
      );
      if (ps.data) {
        this.pekerjaans = ps.data;
      }
    }
  },
  mounted() {
    console.info(`${pg} mounted()`);
  },
  data() {
    return {
      pekerjaans: [],
      pekerjaan_total: 0,
      pekerjaan_harga: 0,

      formDetailDisplayed: false,
    };
  },
  computed: {
    selectedProject() {
      return this.$store.state.project.selectedProject;
    },
  },
  methods: {
    formatNumber(val) {
      return formatNumber(val);
    },
    showForm() {
      this.formDetailDisplayed = true;
    },
    hideForm() {
      this.formDetailDisplayed = false;
    },
    updatePekerjaanRab(e) {
      console.info("e", e);
      const harga = e.target.value;
      console.info("harga", harga);
      const id = this.pekerjaan.id;
      this.$store
        .dispatch("project/updateRabPekerjaanHarga", { id, harga })
        .then((result) => {
          if (result.error) {
            this.$store.dispatch("showError", result.msg);
          } else {
            this.$emit("afterUpdateHarga");
            this.$store.dispatch("showSuccess", "Data berhasil diupdate");
          }
        });
    },
    afterAddDetailPekerjaan() {
      this.$emit("afterAddDetailPekerjaan");
    },
    afterRemoveDetail() {
      this.$emit("afterRemoveDetail");
    },
    async deletePekerjaan() {
      const id = this.pekerjaan.id;
      const nama = this.pekerjaan.nama;
      if (id) {
        if (confirm(`Yakin akan hapus pekerjaan ${nama} ini ?!`)) {
          const d = await this.$store.dispatch("project/deletePekerjaan", id);
          if (d.error) {
            this.$store.dispatch("showError", d.msg);
          } else {
            this.$emit("afterRemoveDetail");
            this.$store.dispatch("showSuccess", "Pekerjaan berhasil dihapus");
          }
        }
      }
    },
  },
};
</script>