<template>
<v-row>
      <v-col cols="2">
        <div class="text-left ml-3">
          <span
            ><v-icon dark>mdi-check-circle</v-icon>{{ pekerjaan.nama }}</span
          >
        </div>
      </v-col>
      <v-col cols="2">
        <div class="text-left ml-3">
          <span>{{ formatNumber(pekerjaan.qty) }}</span>
        </div>
      </v-col>
      <v-col cols="2">
        <div class="text-left ml-3">
          <span>{{ pekerjaan.satuan }}</span>
        </div>
      </v-col>
      <v-col cols="2">
        <v-text-field
          label="Qty"
          :value="pekerjaan.harga"
          @blur="updateHargaDetail"
          v-show="selectedWo.status < 1"
        />
        <div class="text-left ml-3" v-show="selectedWo.status > 0">
          <span>{{ formatNumber(pekerjaan.harga) }}</span>
        </div>
      </v-col>
      <v-col cols="2">
        <div class="text-left ml-3">
          <span>{{ formatNumber(pekerjaan.subtotal) }}</span>
        </div>
      </v-col>
      <v-col cols="2">
        <div>
          <v-btn
            color="red"
            @click="removeDetail"
            v-show="wo.status_level === 0"
          >
            X
          </v-btn>
        </div>
      </v-col>
    </v-row>
</template>

<script>
import { formatNumber } from '../utils/format'

const pg = 'Component:PekerjaanDetailWoRow'
export default {
  name: 'PekerjaanDetailWoRow',
  props: ['pekerjaan', 'wo'],
  validate() {
    console.info(`${pg} validate()`)
    return true
  },
  async asyncData() {
    console.info(`${pg} asyncData()`)
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} asynsData() after 0.1 second`)
        resolve('OK')
      })
    }, 100)
  },
  created() {
    console.info(`${pg} created()`)
  },
  async fetch() {
    console.info(`${pg} fetch()`)
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} fetch() after 0.1 second`)
        resolve('OK')
      })
    }, 100)
  },
  mounted() {
    console.info(`${pg} mounted()`)
  },
  data() {
    return {}
  },
  computed: {
    selectedProject() {
      return this.$store.state.project.selectedProject
    },
    selectedWo() {
      return this.$store.state.project.selectedWo
    },
  },
  methods: {
    formatNumber(val) {
      return formatNumber(val)
    },
    async removeDetail() {
      const pekerjaan = this.pekerjaan.nama
      if (confirm(`Yakin akan hapus data ${pekerjaan} ?!`)) {
        const id = this.pekerjaan.id
        const d = await this.$store.dispatch(
          'project/removeDetailPekerjaanWo',
          id
        )
        if (d.error) {
          alert('Error, pesan:['+ d.msg+']')
        } else {
          this.$emit('afterUpdatePekerjaanDetail')
          alert('Success, Data berhasil dihapus')
        }
      }
    },
    async updateHargaDetail(e) {
      const harga = e.target.value
      console.info(`${pg} harga`, harga)
      const pekerjaan_id = this.pekerjaan.id
      const payload = {
        id: pekerjaan_id,
        harga: harga,
      }

      // cek plafonr
      const limit = this.wo.limit_wo
      const total_wo = this.wo.total_wo
      const sisa = limit - total_wo

      const old_total = this.pekerjaan.subtotal
      const new_total = harga * this.pekerjaan.qty
      const selisih = new_total - old_total

      const new_total_wo = total_wo + selisih

      console.info('limit', limit)
      console.info('total_wo', total_wo)
      console.info('sisa', sisa)
      console.info('old_total', old_total)
      console.info('new_total', new_total)
      console.info('selisih', selisih)
      console.info('new_total_wo', new_total_wo)

      if (sisa < new_total_wo) {
        alert('Error, Tidak boleh melebihi plafond')
        return
      }

      const u = await this.$store.dispatch(
        'project/updateHargaPekerjaanDetailWo',
        payload
      )
      if (u.error) {
        alert('Error, pesan:['+ u.msg+']')
      } else {
        this.$emit('afterUpdatePekerjaanDetail')
        alert('Success, Data berhasil diupdate')
      }
    },
  },
}
</script>