<template>
  <v-card>
    <v-card-title>
      <div>Project Info</div>
    </v-card-title>
    <v-divider></v-divider>
    <v-card-text>
      <v-row>
        <v-col cols="12" md="4">
          <div class="caption">
            <div>Nomor Project</div>
          </div>
          <div>
            <strong>{{ project.nomor }}</strong>
          </div>
          <div>
            <strong>{{ project.tanggal | formatDate }}</strong>
          </div>
        </v-col>
        <v-col cols="12" md="4">
          <div class="caption">
            <div>Nama Project</div>
          </div>
          <div>
            <strong>{{ project.nama }}</strong>
          </div>
          <div>
            <strong>{{ project.jenis }}</strong>
          </div>
        </v-col>
        <v-col cols="12" md="4">
          <div class="caption">
            <div>Lokasi</div>
          </div>
          <div>
            <strong>{{ project.lokasi }}</strong>
          </div>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" md="4">
          <div class="caption">
            <div>Customer</div>
          </div>
          <div>
            <strong>{{ project.nama_customer }}</strong>
          </div>
        </v-col>
        <v-col cols="12" md="4">
          <div class="caption">
            <div>Email</div>
            <div>
              <strong>{{ project.email_customer }}</strong>
            </div>
          </div>
        </v-col>
        <v-col cols="12" md="4">
          <div class="caption">
            <div>Contact</div>
            <div>
              <strong>{{ project.contact_pic }}</strong>
            </div>
          </div>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
import { formatNumber } from '../utils/format'

const pg = 'Component:ProjectInfoSkl'
export default {
  name: 'ProjectInfoSkl',
  props: ['project'],
  validate() {
    console.info(`${pg} validate()`)
    return true
  },
  async asyncData() {
    console.info(`${pg} asyncData()`)
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} asynsData() after 0.1 second`)
        resolve('OK')
      })
    }, 100)
  },
  created() {
    console.info(`${pg} created()`)
  },
  async fetch() {
    console.info(`${pg} fetch()`)
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} fetch() after 0.1 second`)
        resolve('OK')
      })
    }, 100)
  },
  mounted() {
    console.info(`${pg} mounted()`)
  },
  computed: {
    selectedSkl() {
      return this.$store.state.project.selectedSkl
    },
  },
  methods: {
    formatNumber(val) {
      return formatNumber(val)
    },
  },
}
</script>