<template>
  <div>
    <v-row>
      <v-col cols="2">
        <div class="text-left ml-1">
          <span
            ><v-icon>mdi-check-circle</v-icon
            >{{ pekerjaan.pekerjaan_nama }}</span
          >
          <span class="text-left ml-3">{{ pekerjaan.detail_nama }}</span>
        </div>
      </v-col>
      <v-col cols="2">
        <div class="text-left ml-1">
          <span>{{ pekerjaan.nama }}</span>
        </div>
      </v-col>
      <v-col cols="1">
        <div class="text-left ml-1">
          <span>{{ formatNumber(pekerjaan.qty) }}</span>
        </div>
      </v-col>
      <v-col cols="2">
        <div class="text-left ml-1">
          <span>{{ formatNumber(pekerjaan.realisasi) }}</span>
          <v-text-field type="number" label="Qty" v-model="pekerjaan_qty" />
        </div>
      </v-col>
      <v-col cols="1">
        <div class="text-left ml-1">
          <span>{{ formatNumber(pekerjaan.prosentase) }}</span>
        </div>
      </v-col>
      <v-col cols="1">
        <div class="text-left ml-1">
          <span>{{ formatNumber(pekerjaan.kpi) }}</span>
        </div>
      </v-col>
      <v-col cols="1">
        <div class="text-left ml-1">
          <span>{{ pekerjaan.satuan }}</span>
        </div>
      </v-col>
      <v-col cols="2">
        <v-btn
          color="blue"
          @click.prevent="addRealisasi"
        >
          Simpan Realisasi
        </v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
      <div class="grid grid-cols-1 gap-2 mt-2">
        <div>
          <form
            enctype="multipart/form-data"
            novalidate
            v-show="isInitial || isSaving || isSuccess"
          >
            <label>Filename: {{ nama_file }}</label>
            <div class="dropbox">
              <input
                type="file"
                multiple
                :name="uploadFieldName"
                :disabled="isSaving"
                @change="
                  filesChange($event.target.name, $event.target.files);
                  fileCount = $event.target.files.length;
                "
                accept="image/*,application/pdf"
                class="input-file"
              />
              <p v-if="isInitial || isSuccess">
                Drag your file(s) here to begin<br />
                or click to browse
              </p>
              <p v-if="isSaving">Uploading {{ fileCount }} files...</p>
            </div>
          </form>
        </div>
      </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { formatNumber } from "../utils/format";

const pg = "Component:RealisasiSklRow";

const STATUS_INITIAL = 0,
  STATUS_SAVING = 1,
  STATUS_SUCCESS = 2,
  STATUS_FAILED = 3;

export default {
  name: "RealisasiSklRow",
  props: ["pekerjaan", "skl"],
  validate() {
    console.info(`${pg} validate()`);
    return true;
  },
  async asyncData() {
    console.info(`${pg} asyncData()`);
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} asynsData() after 0.1 second`);
        resolve("OK");
      });
    }, 100);
  },
  created() {
    console.info(`${pg} created()`);
  },
  async fetch() {
    console.info(`${pg} fetch()`);
    const id = this.pekerjaan.id;
    console.info(`${pg} id`, id);
    if (id) {
      const ps = await this.$store.dispatch(
        "project/getWoPekerjaanDetailsByPekerjaanId",
        id
      );
      if (ps.data) {
        this.pekerjaans = ps.data;
      }
    }
  },
  mounted() {
    console.info(`${pg} mounted()`);
    this.reset();
  },
  data() {
    return {
      pekerjaans: [],
      pekerjaan_total: 0,
      pekerjaan_harga: 0,

      formDetailDisplayed: false,

      // upload attachments
      uploadedFiles: [],
      uploadError: null,
      currentStatus: null,
      uploadFieldName: "photos",

      // realisasi
      pekerjaan_qty: 0,
      nama_file: "",
    };
  },
  computed: {
    selectedProject() {
      return this.$store.state.project.selectedProject;
    },
    isInitial() {
      return this.currentStatus === STATUS_INITIAL;
    },
    isSaving() {
      return this.currentStatus === STATUS_SAVING;
    },
    isSuccess() {
      return this.currentStatus === STATUS_SUCCESS;
    },
    isFailed() {
      return this.currentStatus === STATUS_FAILED;
    },
  },
  methods: {
    reset() {
      // reset form to initial state
      this.currentStatus = STATUS_SUCCESS;
      this.uploadedFiles = [];
      this.uploadError = null;
    },
    formatNumber(val) {
      return formatNumber(val);
    },
    showForm() {
      this.formDetailDisplayed = true;
    },
    hideForm() {
      this.formDetailDisplayed = false;
    },
    updatePekerjaanRab(e) {
      console.info("e", e);
      const harga = e.target.value;
      console.info("harga", harga);
      const id = this.pekerjaan.id;
      this.$store
        .dispatch("project/updateWoPekerjaanHarga", { id, harga })
        .then((result) => {
          if (result.error) {
            this.$store.dispatch("showError", result.msg);
          } else {
            this.$emit("afterUpdateHarga");
            this.$store.dispatch("showSuccess", "Data berhasil diupdate");
          }
        });
    },
    afterAddDetailPekerjaan() {
      this.$emit("afterAddDetailPekerjaan");
    },
    afterRemoveDetail() {
      this.$emit("afterRemoveDetail");
    },
    afterUpdatePekerjaanDetail() {
      this.$emit("afterUpdatePekerjaanDetail");
    },
    async deletePekerjaan() {
      const id = this.pekerjaan.id;
      const nama = this.pekerjaan.nama;
      if (id) {
        if (confirm(`Yakin akan hapus pekerjaan ${nama} ini ?!`)) {
          const d = await this.$store.dispatch(
            "project/deletePekerjaanSkl",
            id
          );
          if (d.error) {
            this.$store.dispatch("showError", d.msg);
          } else {
            this.$emit("afterRemoveDetail");
            this.$store.dispatch("showSuccess", "Pekerjaan berhasil dihapus");
          }
        }
      }
    },
    async save(formData) {
      // upload data to the server
      this.currentStatus = STATUS_SAVING;
      const doc = formData;
      await this.$store
        .dispatch("project/addSklAttachment", doc)
        .then((result) => {
          console.info("result", result);
          if (result.error) {
            this.$store.dispatch("showError", result.msg);
          } else {
            this.$store.dispatch("showSuccess", "Dokumen berhasil ditambahkan");
          }
          this.$emit("afterAddRealisasiSkl");
        })
        .catch((e) => {
          this.$store.dispatch("showError", e.msg);
        });

      this.currentStatus = STATUS_SUCCESS;
    },
    filesChange(fieldName, fileList) {
      // handle file changes
      console.log(fieldName);
      console.log(fileList);
      const formData = new FormData();

      if (!fileList.length > 0) return;

      // append the files to FormData
      Array.from(Array(fileList.length).keys()).map((x) => {
        const doc = {
          skl_id: this.skl.id,
          pekerjaan: this.pekerjaan.pekerjaan_nama,
          detail: this.pekerjaan.detail_nama,
          nama_file: fileList[x].name,
          download_url: "#",
        };

        this.nama_file = fileList[x].name;

        this.save(doc);
      });
    },
    showUpload() {
      this.currentStatus = STATUS_INITIAL;
    },
    async addRealisasi() {
      const skl_id = this.skl.id;
      const payload = {
        skl_id: skl_id,
        pekerjaan: this.pekerjaan.pekerjaan_nama,
        detail: this.pekerjaan.detail_nama,
        qty: this.pekerjaan.qty,
        realisasi: this.pekerjaan_qty,
        pid: this.pekerjaan.id,
      };
      if (skl_id) {
        await this.$store
          .dispatch("project/addRealisasiSkl", payload)
          .then((result) => {
            this.$emit("afterAddRealisasiSkl");
            this.$store.dispatch(
              "showSuccess",
              "Realisasi Berhasil ditambahkan"
            );
          })
          .catch((e) => {
            this.$store.dispatch("showError", e.msg);
          });
      }
    },
  },
};
</script>


<style>
.dropbox {
  outline: 2px dashed grey; /* the dash box */
  outline-offset: -10px;
  background: lightcyan;
  color: dimgray;
  padding: 10px 10px;
  min-height: 100px; /* minimum height */
  position: relative;
  cursor: pointer;
}

.input-file {
  opacity: 0; /* invisible but it's there! */
  width: 100%;
  height: 100px;
  position: absolute;
  cursor: pointer;
}

.dropbox:hover {
  background: lightblue; /* when mouse over to the drop zone, change color */
}

.dropbox p {
  font-size: 1.2em;
  text-align: center;
  padding: 25px 0;
}
</style>