<template>
  <v-card>
    <v-card-title>
      <div>Surat Kerja Lapangan (SKL) Info</div>
    </v-card-title>
    <v-divider></v-divider>
    <v-card-text>
      <v-row>
        <v-col cols="12" md="4">
          <div class="caption">
            <div>Nomor</div>
          </div>
          <div>
            <strong>{{ skl.nomor }}</strong>
          </div>
          <div>
            <strong>{{ skl.tanggal | formatDate }}</strong>
          </div>
        </v-col>
        <v-col cols="12" md="4">
          <div class="caption">
            <div>Limit SKL</div>
          </div>
          <div>
            <strong>{{ formatNumber(skl.limit_skl) }}</strong>
          </div>
        </v-col>
        <v-col cols="12" md="4">
          <div class="caption">
            <div>Total SKL</div>
          </div>
          <div>
            <strong>{{ formatNumber(skl.total_skl) }}</strong>
          </div>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
import { formatNumber } from '../utils/format'

const pg = 'Component:SklInfo'
export default {
  name: 'SklInfo',
  props: ['skl'],
  validate() {
    console.info(`${pg} validate()`)
    return true
  },
  async asyncData() {
    console.info(`${pg} asyncData()`)
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} asynsData() after 0.1 second`)
        resolve('OK')
      })
    }, 100)
  },
  created() {
    console.info(`${pg} created()`)
  },
  async fetch() {
    console.info(`${pg} fetch()`)
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} fetch() after 0.1 second`)
        resolve('OK')
      })
    }, 100)
  },
  mounted() {
    console.info(`${pg} mounted()`)
  },
  computed: {
    selectedSkl() {
      return this.$store.state.project.selectedSkl
    },
  },
  methods: {
    formatNumber(val) {
      return formatNumber(val)
    },
  },
}
</script>