<template>
  <div class="d-flex flex-grow-1 flex-column">
    <v-card-title>
      <v-btn rounded color="primary" dark to="/management">
        <v-icon left dark> mdi-arrow-left-bold </v-icon>
        List SO
      </v-btn>
      <v-spacer></v-spacer>
    QUOTATION DETAIL
    </v-card-title>
    <v-row class="flex-grow-0" dense>
      <v-col cols="12" xl="6">
        <v-card>
          <v-card-title>
            <div>Project Info</div>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-row>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Nomor Project</div>
                </div>
                <div><strong>{{ selectedProject.nomor }}</strong></div>
                <div><strong>{{ selectedProject.tanggal | formatDate }}</strong></div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Nama Project</div>
                </div>
                <div><strong>{{ selectedProject.nama }}</strong></div>
                <div><strong>{{ selectedProject.jenis }}</strong></div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Lokasi</div>
                </div>
                <div><strong>{{ selectedProject.lokasi }}</strong></div>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Customer</div>
                </div>
                <div><strong>{{ selectedProject.nama_customer }}</strong></div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Email</div>
                  <div><strong>{{ selectedProject.email_customer }}</strong></div>
                </div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Contact</div>
                  <div><strong>{{ selectedProject.contact_pic }}</strong></div>
                </div>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
      <!-- quotation info -->
      <v-col cols="12" xl="6">
          <v-card>
          <v-card-title>
            <div>Quotation Info</div>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-row>
              <v-col cols="12" md="3">
                <div class="caption">
                  <div>Nomor</div>
                </div>
                <div><strong>{{ selectedQuotation.nomor }}</strong></div>
                <div><strong>{{ selectedQuotation.tanggal | formatDate }}</strong></div>
              </v-col>
              <v-col cols="12" md="3">
                <div class="caption">
                  <div>Nama Sales</div>
                </div>
                <div><strong>{{ selectedQuotation.nama_sales }}</strong></div>
              </v-col>
              <v-col cols="12" md="3">
                <div class="caption">
                  <div>Customer</div>
                </div>
                <div><strong>{{ selectedProject.nama_customer }}</strong></div>
                <div><strong>{{ selectedQuotation.contact_pic }}</strong></div>
              </v-col>
              <v-col cols="12" md="3">
                <div class="caption">
                  <div>Customer</div>
                </div>
                <div><strong>{{ selectedQuotation.contact_telp }}</strong></div>
                <div><strong>{{ selectedQuotation.contact_email }}</strong></div>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
      <!-- end of quotation info -->
      <!-- attachment -->
      <v-col cols="12" xl="6">
        <v-card>
          <v-card-title>
            <div>Attachments</div>
          </v-card-title>
          <v-card-text>
            <v-simple-table>
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-center">Nama Dokumen</th>
                    <th class="text-center">Download</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="doc in attachments" :key="doc.id">
                    <td class="text-center">{{ doc.nama_file }}</td>
                    <td class="text-center"><a href="#">Download</a></td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-card-text>
        </v-card>
      </v-col>
      <!-- end of attachment -->

      <!-- top -->
      <v-col cols="12" xl="6" v-show="isNego || isDeal">
        <v-card>
          <v-card-title>
            <div>Terms of Payment</div>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-simple-table>
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-center">Nama Term</th>
                    <th class="text-center">Jatuh Tempo</th>
                    <th class="text-center">Prosentase</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="top in tops" :key="top.id">
                    <td class="text-center">{{ top.nama }}</td>
                    <td class="text-center">{{ top.tanggal | formatDate }}</td>
                    <td class="text-center">{{ top.prosentase }}%</td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-card-text>
        </v-card>
      </v-col>
      <!-- end of top -->

      <!-- jaminan -->
      <v-col cols="12" xl="6" v-show="isNego || isDeal">
        <v-card>
          <v-card-title>
            <div>Jaminan</div>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-simple-table>
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-center">Nama Jaminan</th>
                    <th class="text-center">Nama Bank</th>
                    <th class="text-center">Jenis Jaminan</th>
                    <th class="text-center">Jatuh Tempo</th>
                    <th class="text-center">Prosentase</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="jaminan in jaminans" :key="jaminan.id">
                    <td class="text-center">{{ jaminan.nama }}</td>
                    <td class="text-center">{{ jaminan.nama_bank }}</td>
                    <td class="text-center">{{ jaminan.jenis }}</td>
                    <td class="text-center">{{ jaminan.tanggal | formatDate}}</td>
                    <td class="text-center">{{ jaminan.prosentase }}%</td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-card-text>
        </v-card>
      </v-col>
      <!-- end of jaminan -->

      <!-- barang -->
      <v-col cols="12" xl="6">
        <v-card>
          <v-card-title>
            <div>Barang</div>
          </v-card-title>
          <v-card-text>
            <v-row>
              <v-col cols="2">
                <th>Nama Barang</th>
              </v-col>
              <v-col cols="2">
                <th>Qty</th>
              </v-col>
              <v-col cols="2">
                <th>Satuan</th>
              </v-col>
              <v-col cols="2">
                <th>Harga</th>
              </v-col>
              <v-col cols="2">
                <th>Total</th>
              </v-col>
              <v-col cols="2">
                <th>Action</th>
              </v-col>
            </v-row>
            <div v-for="barang in barangs" :key="barang.id">
              <BarangQuotationRo
                :key="barangKey"
                :header="barang"
              />
            </div>
          </v-card-text>
        </v-card>
      </v-col>
      <!-- end of barang -->

      <!-- pekerjaan -->
      <v-col cols="12" xl="6" v-show="isNego || isDeal">
        <v-card>
          <v-card-title>
            <div>Pekerjaan</div>
          </v-card-title>
          <v-card-text>
            <v-row>
              <v-col cols="2">
                <th>Nama Pekerjaan</th>
              </v-col>
              <v-col cols="2">
                <th>Qty</th>
              </v-col>
              <v-col cols="2">
                <th>Satuan</th>
              </v-col>
              <v-col cols="2">
                <th>Harga</th>
              </v-col>
              <v-col cols="2">
                <th>Total</th>
              </v-col>
              <v-col cols="2">
                <th>Action</th>
              </v-col>
            </v-row>
            <div v-for="pekerjaan in pekerjaans" :key="pekerjaan.id">
              <DetailPekerjaanQuotationRo :pekerjaan="pekerjaan"
              />
            </div>
          </v-card-text>
        </v-card>
      </v-col>
      <!-- end of pekerjaan -->

      <!-- summary -->
      <v-col cols="12" xl="6">
        <div class="d-flex flex-column flex-grow-1">
          <v-card>
            <v-card-title>
              <div>Summary</div>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text>
              <v-row>
                <v-col cols="12" md="4">
                  <div>
                    <div>Subtotal</div>
                  </div>
                  <div>
                    <span class="font-bold">{{
                      formatNumber(selectedQuotation.subtotal)
                    }}</span>
                  </div>
                </v-col>
                <v-col cols="12" md="4">
                  <div>
                    <div>Prosentase Material</div>
                  </div>
                  <div>
                    <span class="font-bold"
                      >{{ formatNumber(roundedProsentaseMaterial) }} %</span
                    >
                  </div>
                </v-col>
                <v-col cols="12" md="4">
                  <div>
                    <div>Prosentase Project</div>
                  </div>
                  <div>
                    <span class="font-bold"
                      >{{ formatNumber(roundedProsentasePekerjaan) }} %</span
                    >
                  </div>
                </v-col>
              </v-row>
              <v-divider></v-divider>
              <v-row>
                <v-col cols="12" md="4">
                  <div>
                    <div>
                      Tax (%), nilai saat ini:
                      <span>{{ selectedQuotation.tax }} %</span>
                    </div>
                  </div>
                </v-col>
                <v-col cols="12" md="4">
                  <div v-show="isNego || isDeal">
                    <div>Tax (%)</div>
                    <div>
                      <span class="font-bold">{{
                        selectedQuotation.tax
                      }}</span>
                    </div>
                  </div>
                </v-col>
                <v-col cols="12" md="4">
                  <div>
                    <div>Nominal Tax</div>
                    <div>
                      Rp.
                      <span class="font-bold">{{
                        formatNumber(selectedQuotation.nominal_tax)
                      }}</span>
                    </div>
                  </div>
                  </v-col>
              </v-row>
                  <v-row>
                    <v-col cols="12" md="4">
                      <div>
                    <div>Total Nilai Project</div>
                    <div>
                      Rp.
                      <span class="font-bold">{{
                        formatNumber(selectedQuotation.total_nilai_project)
                      }}</span>
                    </div>
                  </div>
                    </v-col>
                  </v-row>
            </v-card-text>
          </v-card>
        </div>
      </v-col>
      <!-- end of summary -->

      <!-- set margin retensi -->
      <v-col cols="12" xl="6">
        <div class="d-flex flex-column flex-grow-1">
          <v-card>
            <v-card-title>
              <div>Set Margin and Rebate</div>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text>
              <v-row>
                <v-col cols="12" md="4">
                  <div>
                    <div><b>
                      Margin (%), nilai saat ini:</b>
                      <span>{{ selectedProject.margin }} %</span>
                    </div>
                  </div>
                  <div>
                    <v-text-field
                      v-model="project_margin"
                      @blur="updateMargin"
                      label="Potongan"
                      single-line
                      outlined
                    >
                    </v-text-field>
                  </div>
                </v-col>
                <v-col cols="12" md="4" v-show="isNego">
                  <div>
                    <div><b>Potongan (%)</b></div>
                  </div>
                  <div>
                    <span class="font-bold"
                      >{{ selectedProject.margin }} %</span
                    >
                  </div>
                </v-col>
                <v-col cols="12" md="4">
                  <div>
                    <div><b>Nominal Margin</b></div>
                  </div>
                  <div>
                    <span class="font-bold"
                      >Rp. {{ formatNumber(selectedProject.nominal_margin) }}</span
                    >
                  </div>
                </v-col>
                <v-col cols="12" md="4">
                  <div>
                    <div><b>After Margin</b></div>
                  </div>
                  <div>
                    <span class="font-bold"
                      >Rp. {{ formatNumber(selectedProject.after_margin) }}</span
                    >
                  </div>
                </v-col>
              </v-row>

              <v-row>
                <v-col cols="12" md="4">
                  <div>
                    <div><b>
                      Rebate (%), nilai saat ini:</b>
                      <span>{{ selectedProject.retensi }} %</span>
                    </div>
                  </div>
                  <div>
                    <v-text-field
                      v-model="project_retensi"
                      @blur="updateRetensi"
                      label="Retensi"
                      single-line
                      outlined
                    >
                    </v-text-field>
                  </div>
                </v-col>
                <v-col cols="12" md="4" v-show="isNego">
                  <div>
                    <div><b>Rebate (%)</b></div>
                  </div>
                  <div>
                    <span class="font-bold"
                      >{{ selectedProject.retensi }} %</span
                    >
                  </div>
                </v-col>
                <v-col cols="12" md="4">
                  <div>
                    <div><b>Nominal Rebate</b></div>
                  </div>
                  <div>
                    <span class="font-bold"
                      >Rp. {{ formatNumber(selectedProject.nominal_retensi) }}</span
                    >
                  </div>
                </v-col>
                <v-col cols="12" md="4">
                  <div>
                    <div><b>After Rebate</b></div>
                  </div>
                  <div>
                    <span class="font-bold"
                      >Rp. {{ formatNumber(afterRetensi) }}</span
                    >
                  </div>
                </v-col>
              </v-row>

              <v-row>
                <v-col cols="12" md="4">
                  <div>
                    <div><b>
                      Pajak Rebate (%), nilai saat ini:</b>
                      <span>{{ formatNumber(selectedProject.pajak_retensi) }} %</span>
                    </div>
                  </div>
                  <div>
                    <v-text-field
                      v-model="project_pajak_retensi"
                      @blur="updatePajakRetensi"
                      label="Retensi"
                      single-line
                      outlined
                    >
                    </v-text-field>
                  </div>
                </v-col>
                <v-col cols="12" md="4" v-show="isNego">
                  <div>
                    <div><b>Rebate (%)</b></div>
                  </div>
                  <div>
                    <span class="font-bold"
                      >{{ selectedProject.pajak_retensi }} %</span
                    >
                  </div>
                </v-col>
                <v-col cols="12" md="4">
                  <div>
                    <div><b>Nominal Pajak Rebate</b></div>
                  </div>
                  <div>
                    <span class="font-bold"
                      >Rp. {{ formatNumber(selectedProject.nominal_pajak_retensi) }}</span
                    >
                  </div>
                </v-col>
                <v-col cols="12" md="4">
                  <div>
                    <div><b>After Pajak Rebate</b></div>
                  </div>
                  <div>
                    <span class="font-bold"
                      >Rp. {{ formatNumber(afterPajakRetensi) }}</span
                    >
                  </div>
                </v-col>
              </v-row>

              <v-row>
                <v-col cols="12" md="6">
                  <div><b>Nominal SO Material (%)</b></div>
                  <span class="font-bold">{{
                formatNumber(roundedSOMaterial)
              }}</span>
              <br />
              <span>{{ formatNumber(roundedProsentaseSOMaterial) }} %</span>
                </v-col>

                <v-col cols="12" md="6">
                  <div><b>Nominal SO Project</b></div>
                  <span class="font-bold">Rp. {{
                formatNumber(roundedSOProject)
              }}</span>
              <br />
              <span>{{ formatNumber(roundedProsentaseSOProject) }} %</span>
                </v-col>
              </v-row>

          <hr class="mb-2 mt-2" />
          <div>
            <p class="mb-2">
              Setelah memastikan semua data sudah benar, silahkan konfirmasi
              Margin dan Retensi. Data project selanjutnya akan diproses oleh
              bagian PPIC untuk penyusunan RAB.
            </p>
            <v-btn
              color="blue"
              @click.prevent="confirmMargin"
            >
              Konfirmasi Margin
            </v-btn>
          </div>
          <div v-show="isNego">
            <p class="mb-2 p-2 bg-slightblue text-white uppercase font-bold">
              Project ini telah disetujui Management
            </p>
          </div>
            </v-card-text>
          </v-card>
        </div>
      </v-col>
      <!-- end of set margin retensi -->
    </v-row>
  </div>
</template>
    

<script>
const STATUS_INITIAL = 0,
  STATUS_SAVING = 1,
  STATUS_SUCCESS = 2,
  STATUS_FAILED = 3

const pg = 'DetailQuotationManagement'
export default {
  created() {
    const t = localStorage.getItem("t");
    if (t === "management") {
      // user loggged in
      // do nothing
    } else {
      this.$router.push("/login");
    }
  },
  name:"DetailProjectManagement",
  async asyncData() {
    console.info(`${pg} asyncData()`)
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} asynsData() after 0.1 second`)
        resolve('OK')
      })
    }, 100)
  },
  created() {
    console.info(`${pg} created()`)
  },
  async fetch() {
    console.info(`${pg} fetch()`)
    console.info('selectedQuotation', this.selectedQuotation)
    const id = this.selectedQuotation.id
    await this.$store.dispatch('estimator/getAttachmentsByQuotationId', id)
    await this.$store.dispatch('estimator/getTopsByQuotationId', id)
    await this.$store.dispatch('estimator/getJaminansByQuotationId', id)
    await this.$store.dispatch('estimator/getPekerjaansByQuotationId', id)
    await this.$store.dispatch('estimator/getBarangsByQuotationId', id)
  },
  mounted() {
    console.info(`${pg} mounted()`)
    this.toggleSidebar(false)
    this.reset()

    if (!this.selectedQuotation.id) {
      this.$router.push({ path: '/management' })
    }
  },
  data() {
    return {
      valid: false,
      dialog: false,
      headers: [
        { text: 'Nomor',key: 'nomor_quotation',align: 'start',value: 'nomor'},
        { text: 'Tanggal', value: 'tanggal', align: 'center' }, 
        { text: 'Sales', value: 'nama_sales' },
        { text: 'Contact', value: 'contact_pic' },
        { text: 'No. Telp', value: 'contact_telp' },
        { text: 'Email', value: 'contact_email' },
        { text: 'Status', value: 'status' }, 
        { text: '', align: 'center', sortable: false, value: 'actions' }
      ],
      // upload attachments
      uploadedFiles: [],
      uploadError: null,
      currentStatus: null,
      uploadFieldName: 'photos',

      // top
      addTop: false,
      nama: '',
      tanggal: new Date().toLocaleString('id-ID', {
        dateStyle: 'short',
      }),
      prosentase: '',

      // jaminan
      nama_jaminan: '',
      selectedJenisJaminanKode: '',
      selectedJenisJaminanNama: '',
      selectedBankKode: '',
      selectedBankNama: '',
      nama_bank: '',
      tanggal_jaminan: new Date().toLocaleString('id-ID', {
        dateStyle: 'short',
      }),
      prosentase_jaminan: '',
      addJaminan: false,

      // quotation summary
      quotation_tax: 0,
      quotation_potongan: 0,

      // force reload
      barangKey: Math.random(),
      note: '',

      // management
      project_margin: 0,
      project_retensi: 0,
      project_pajak_retensi: 0,
    }
  },

  computed: {
    selectedQuotation() {
      return this.$store.state.estimator.selectedQuotation
    },
    selectedProject() {
      return this.$store.state.estimator.selectedProject
    },
    attachments() {
      return this.$store.state.estimator.selectedAttachments
    },
    tops() {
      return this.$store.state.estimator.selectedTops
    },
    jaminans() {
      return this.$store.state.estimator.selectedJaminans
    },
    pekerjaans() {
      return this.$store.state.estimator.selectedPekerjaans
    },
    barangs() {
      return this.$store.state.estimator.selectedBarangs
    },
    jenisJaminan() {
      return this.$store.state.masterData.jenisJaminan
    },
    banks() {
      return this.$store.state.masterData.namaBank
    },
    isDraf() {
      return (
        this.selectedQuotation.status_level === 0 ||
        this.selectedQuotation.status_level === 3
      )
    },
    isNego() {
      return (
        this.selectedQuotation.status_level === 1 ||
        this.selectedQuotation.status_level === 2
      )
    },
    isSent() {
      return this.selectedQuotation.status === 'sent'
    },
    isDeal() {
      return this.selectedQuotation.status_level === 5
    },
    isInitial() {
      return this.currentStatus === STATUS_INITIAL
    },
    isSaving() {
      return this.currentStatus === STATUS_SAVING
    },
    isSuccess() {
      return this.currentStatus === STATUS_SUCCESS
    },
    isFailed() {
      return this.currentStatus === STATUS_FAILED
    },
    roundedProsentasePekerjaan() {
      return Math.round(this.selectedQuotation.prosentase_project)
    },
    roundedProsentaseMaterial() {
      return Math.round(this.selectedQuotation.prosentase_material)
    },
    roundedProsentaseSOMaterial() {
      return Math.round(this.selectedProject.prosentase_material)
    },
    roundedProsentaseSOProject() {
      return Math.round(this.selectedProject.prosentase_project)
    },
    roundedSOMaterial() {
      return Math.round(this.selectedProject.nilai_so_material)
    },
    roundedSOProject() {
      return Math.round(this.selectedProject.nilai_so_project)
    },
    afterMargin() {
      return this.selectedProject.after_magin
    },
    afterRetensi() {
      return this.selectedProject.after_retensi
    },
    afterPajakRetensi() {
      return this.selectedProject.total_nilai_project_so
    },
  },

  methods: {
    capitalize(t) {
      return t.toUpperCase()
    },
    formatNumber(num) {
      const n = Number(num).toFixed(2)
      const numParts = n.toString().split('.')
      numParts[0] = numParts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',')
      return numParts.join('.')
    },
    reset() {
      // reset form to initial state
      this.currentStatus = STATUS_SUCCESS
      this.uploadedFiles = []
      this.uploadError = null
    },
    toggleSidebar(sidebar) {
      this.$store.dispatch('toggleSidebar', sidebar)
    },
    save(formData) {
      console.info(`detail_quotation.save`)
      // upload data to the server
      this.currentStatus = STATUS_SAVING

      const doc = formData
      this.$store.dispatch('estimator/addAttachment', doc).then((result) => {
        this.currentStatus = STATUS_SUCCESS
        if (result.error) {
          this.$store.dispatch('showError', result.msg)
        } else {
          this.$store.dispatch('showSuccess', 'Dokumen berhasil ditambahkan')
        }
        this.$fetch()
      })
    },
    filesChange(fieldName, fileList) {
      // handle file changes
      console.log(fieldName)
      console.log(fileList)
      const formData = new FormData()

      if (!fileList.length > 0) return

      // append the files to FormData
      Array.from(Array(fileList.length).keys()).map((x) => {
        const doc = {
          id: this.getNomor(),
          quotation_id: this.selectedQuotation.id,
          nama_file: fileList[x].name,
          download_url: '#',
          tanggal: new Date().toLocaleString('id-ID', {
            dateStyle: 'long',
          }),
          created_by: null,
          created_at: null,
          updated_by: null,
          updated_at: null,
          deleted_by: null,
          deleted_at: null,
        }

        this.save(doc)
      })
    },
    showUpload() {
      this.currentStatus = STATUS_INITIAL
    },
    showTop() {
      this.addTop = true
    },
    hideTop() {
      this.nama = ''
      this.prosentase = ''
      this.addTop = false
    },
    showJaminan() {
      this.addJaminan = true
    },
    hideJaminan() {
      this.nama_jaminan = ''
      this.selectedBankKode = ''
      this.selectedBankNama = ''
      this.selectedJenisJaminanKode = ''
      this.selectedJenisJaminanNama = ''
      this.prosentase_jaminan = ''

      this.addJaminan = false
    },
    getNomor() {
      var rdmString = ''
      for (
        ;
        rdmString.length < 6;
        rdmString += Math.random().toString(36).substr(2)
      );
      return rdmString.substr(0, 6).toUpperCase()
    },
    // attachments
    async removeAttachment(doc) {
      if (confirm(`Yakin mau hapus attachment: ${doc.nama_file} ini ?`)) {
        this.$store
          .dispatch('estimator/removeAttachment', doc)
          .then((result) => {
            if (result.error) {
              this.$store.dispatch('showError', result.msg)
            } else {
              this.$store.dispatch('showSuccess', 'Dokumen berhasil dihapus ')
            }
            this.$fetch()
          })
      }
    },
    // tops
    simpanTop() {
      console.info(`${pg} simpanTop()`)
      const tgl = this.tanggal
      console.info('tgl', tgl)
      if (!tgl) {
        this.$store.dispatch('showError', 'Tanggal tidak boleh kosong')
        return
      }

      const tanggal = tgl.toLocaleString('id-ID', {
        dateStyle: 'short',
      })

      if (this.nama === '') {
        this.$store.dispatch(
          'showError',
          'Nama Term of Payment tidak boleh kosong'
        )
        return
      }

      if (this.prosentase === '') {
        this.$store.dispatch(
          'showError',
          'Prosentase Term of Payment tidak boleh kosong'
        )
        return
      }

      if (this.tanggal === '') {
        this.$store.dispatch(
          'showError',
          'Tanggal Term of Payment tidak boleh kosong'
        )
        return
      }

      const id = this.selectedQuotation.id
      const top = {
        quotation_id: this.selectedQuotation.id,
        nama: this.nama,
        tanggal: tanggal,
        prosentase: this.prosentase,
        nominal: 0,
      }

      this.$store.dispatch('estimator/addTop', top).then((result) => {
        if (result.error) {
          this.$store.dispatch('showError', result.msg)
        } else {
          // reload tops
          this.$store.dispatch(
            'showSuccess',
            'Term of Payment berhasil ditambahkan'
          )
          this.$fetch()
        }
        this.hideTop()
      })
    },
    onTanggalChange(e) {
      console.log('date selected')
      console.log(e.target)
      const val = e.target.value
      console.log('date', e.target.selectedDate())
    },
    async removeTop(top) {
      if (confirm(`Yakin akan hapus term of payment: ${top.nama} ini ?`)) {
        this.$store.dispatch('estimator/removeTop', top).then((result) => {
          if (result.error) {
            this.$store.dispatch('showError', result.msg)
          } else {
            this.$store.dispatch('showSuccess', 'Dokumen berhasil dihapus')
            this.$fetch()
          }
        })
      }
    },
    async removeJaminan(jaminan) {
      console.info(`${pg} removeJaminan()`)
      if (confirm(`Yakin akan hapus term of payment: ${jaminan.nama} ini ?`)) {
        this.$store
          .dispatch('jaminan/removeJaminan', jaminan)
          .then((result) => {
            if (result.error) {
              this.$store.dispatch('showError', result.msg)
            } else {
              this.$store.dispatch('showSuccess', 'Jaminan berhasil dihapus')
              this.$fetch()
            }
          })
      }
    },
    simpanJaminan() {
      console.info(`${pg} simpanJaminan()`)
      const tgl = this.tanggal_jaminan
      const tanggal = tgl.toLocaleString('id-ID', {
        dateStyle: 'short',
      })

      if (this.nama_jaminan === '') {
        this.$store.dispatch('showError', 'Nama Jaminan tidak boleh kosong')
        return
      }

      if (this.prosentase_jaminan === '') {
        this.$store.dispatch(
          'showError',
          'Prosentase Jaminan tidak boleh kosong'
        )
        return
      }

      if (this.tanggal_jaminan === '') {
        this.$store.dispatch('showError', 'Tanggal Jaminan tidak boleh kosong')
        return
      }

      if (this.selectedJenisJaminanKode === '') {
        this.$store.dispatch('showError', 'Jenis Jaminan tidak boleh kosong')
        return
      }

      if (this.selectedBankKode === '') {
        this.$store.dispatch('showError', 'Bank Jaminan tidak boleh kosong')
        return
      }

      const id = this.selectedQuotation.id
      const newJaminan = {
        quotation_id: this.selectedQuotation.id,
        nama: this.nama_jaminan,
        jenis: this.selectedJenisJaminanKode,
        nama_bank: this.selectedBankKode,
        tanggal: tanggal,
        prosentase: this.prosentase_jaminan,
        nominal: 0,
      }

      this.$store
        .dispatch('estimator/addJaminan', newJaminan)
        .then((result) => {
          if (result.error) {
            this.$store.dispatch('showError', result.msg)
          } else {
            // reload
            this.$store.dispatch('showSuccess', 'Jaminan berhasil ditambahkan')
            this.$fetch()
          }
          this.hideJaminan()
        })
    },
    selectJenisJaminan(e) {
      console.log(e.target.options[e.target.selectedIndex].value)
      const kode = e.target.options[e.target.selectedIndex].value
      const nama = e.target.options[e.target.selectedIndex].text
      this.selectedJenisJaminanKode = kode
      this.selectedJenisJaminanNama = nama
      console.log(kode, nama)
    },
    selectBank(e) {
      console.log(e.target.options[e.target.selectedIndex].value)
      const kode = e.target.options[e.target.selectedIndex].value
      const nama = e.target.options[e.target.selectedIndex].text
      this.selectedBankKode = kode
      this.selectedBankNama = nama
      console.log(kode, nama)
    },
    async afterAddPekerjaan() {
      this.$fetch()
      const id = this.selectedQuotation.id
      await this.$store.dispatch('estimator/getQuotationById', id)
    },

    async updatePotongan() {
      console.info('detail_quotaion.updatePotongan')
      if (this.quotation_potongan > 100 || this.quotation_potongan < 0) {
        this.$store.dispatch(
          'showError',
          'Potongan hanya boleh antara 0-100 persen'
        )
        return
      }

      const id = this.selectedQuotation.id
      const potongan = this.quotation_potongan
      console.info('id, potongan', id, potongan)
      // action updatePotongan
      await this.$store
        .dispatch('estimator/updatePotongan', { id, potongan })
        .then((result) => {
          console.log('result', result)
          if (result.error) {
            this.$store.dispatch('showError', result.msg)
          } else {
            // update quotation
            this.$store.dispatch('estimator/getQuotationById', id)
          }
        })
    },
    async updateTax() {
      console.info('detail_quotaion.updateTax')
      if (this.quotation_tax > 100 || this.quotation_tax < 0) {
        this.$store.dispatch('showError', 'Tax hanya boleh antara 0-100 persen')
        return
      }

      console.info('selectedQuotation', this.selectedQuotation)
      const id = this.selectedQuotation.id
      const tax = this.quotation_tax

      console.info('id, tax', id, tax)
      // action updatePotongan
      await this.$store
        .dispatch('estimator/updateTax', { id, tax })
        .then((result) => {
          console.log('result', result)
          if (result.error) {
            this.$store.dispatch('showError', result.msg)
          } else {
            // update quotation
            this.$store.dispatch('estimator/getQuotationById', id)
          }
        })
    },
    async afterAddBarang() {
      const id = this.selectedQuotation.id
      await this.$store.dispatch('estimator/getBarangsByQuotationId', id)
      await this.$store.dispatch('estimator/getQuotationById', id)
    },
    async afterRemoveBarang() {
      const id = this.selectedQuotation.id
      await this.$store.dispatch('estimator/getBarangsByQuotationId', id)
      await this.$store.dispatch('estimator/getQuotationById', id)
    },
    async afterAddDetail() {
      const id = this.selectedQuotation.id
      await this.$store.dispatch('estimator/getBarangsByQuotationId', id)
      await this.$store.dispatch('estimator/getQuotationById', id)
      this.barangKey = Math.random()
    },
    async afterRemoveDetail() {
      console.info('afterRemoveDetail detail_quotation')
      const id = this.selectedQuotation.id
      await this.$store.dispatch('estimator/getBarangsByQuotationId', id)
      await this.$store.dispatch('estimator/getQuotationById', id)
      this.barangKey = Math.random()
    },
    kirimPenawaran() {
      console.log('kirimPenawaran')
      if (confirm('Yaki akan kirim penawaran ini kepada Customer?')) {
        const id = this.selectedQuotation.id
        const quotation = this.selectedQuotation
        this.$store
          .dispatch('estimator/kirimPenawaranKeCustomer', { id, quotation })
          .then((results) => {
            if (results.error) {
              this.$store.dispatch('showError', results.msg)
            } else {
              this.$store.dispatch(
                'showSuccess',
                'Penawaran berhasil dikirim !'
              )
              this.$router.push({ path: '/project_quotations' })
            }
          })
      }
    },
    kirimJawaban() {
      console.log('kirimJawaban')
      if (confirm('Yakin akan kirim jawaban penawaran ini kepada Customer?')) {
        const id = this.selectedQuotation.id
        const quotation = this.selectedQuotation
        this.$store
          .dispatch('quotation/kirimJawabanKeCustomer', { id, quotation })
          .then((results) => {
            console.log('result')
          })
        this.$store.dispatch('showSuccess', 'Penawaran berhasil dikirim !')
        this.$router.push({ path: '/project_quotations' })
      }
    },
    closeManual() {
      console.log('closeManual')
      if (confirm('Yakin akan mengubah status penawaran ini menjadi DEAL?')) {
        const id = this.selectedQuotation.id
        const quotation = this.selectedQuotation
        this.$store
          .dispatch('estimator/closeManual', { id, quotation })
          .then((results) => {
            if (results.error) {
              this.$store.dispatch('showError', results.msg)
            } else {
              this.$store.dispatch(
                'showSuccess',
                'Penawaran berhasil diubah menjadi DEAL !'
              )
              this.$router.push({ path: '/project_quotations' })
            }
          })
      }
    },
    async updateNote() {
      const id = this.selectedQuotation.id
      const note = this.note
      // action updatePotongan
      return await this.$store
        .dispatch('quotation/updateNote', { id, note })
        .then(async (result) => {
          console.log('result', result)
          if (result.error) {
            this.$store.dispatch('showError', result.msg)
          } else {
            // update quotation
            await this.$store.dispatch('estimator/getQuotationById', id)
          }
        })
    },
    async updateMargin() {
      if (this.project_margin > 100 || this.project_margin < 0) {
        this.$store.dispatch(
          'showError',
          'Margin hanya boleh antara 0-100 persen'
        )
        return
      }

      const id = this.selectedProject.id
      const margin = this.project_margin
      await this.$store
        .dispatch('estimator/updateMargin', { id, margin })
        .then(async (result) => {
          if (result.error) {
            this.$store.dispatch('showError', result.msg)
          } else {
            await this.$store.dispatch('estimator/getProjectsById', id)
            this.$store.dispatch('showSuccess', 'Data berhasil diupdate')
          }
        })
    },
    async updateRetensi() {
      if (this.project_retensi > 100 || this.project_retensi < 0) {
        this.$store.dispatch(
          'showError',
          'Retensi hanya boleh antara 0-100 persen'
        )
        return
      }

      const id = this.selectedProject.id
      const retensi = this.project_retensi
      await this.$store
        .dispatch('estimator/updateRetensi', { id, retensi })
        .then(async (result) => {
          if (result.error) {
            this.$store.dispatch('showError', result.msg)
          } else {
            await this.$store.dispatch('estimator/getProjectsById', id)
            this.$store.dispatch('showSuccess', 'Data berhasil diupdate')
          }
        })
    },
    async updatePajakRetensi() {
      if (this.project_pajak_retensi > 100 || this.project_pajak_retensi < 0) {
        this.$store.dispatch(
          'showError',
          'Pajak Retensi hanya boleh antara 0-100 persen'
        )
        return
      }

      const id = this.selectedProject.id
      const pajak = this.project_pajak_retensi
      await this.$store
        .dispatch('estimator/updatePajakRetensi', { id, pajak })
        .then(async (result) => {
          if (result.error) {
            this.$store.dispatch('showError', result.msg)
          } else {
            await this.$store.dispatch('estimator/getProjectsById', id)
            this.$store.dispatch('showSuccess', 'Data berhasil diupdate')
          }
        })
    },
    async confirmMargin() {
      if (confirm('Yakin akan approve project ini?')) {
        const id = this.selectedProject.id
        await this.$store
          .dispatch('estimator/konfirmMargin', id)
          .then((result) => {
            if (result.error) {
              this.$store.dispatch('showError', result.msg)
            } else {
              this.$store.dispatch(
                'showSuccess',
                'Project berhasil diconfirm !'
              )
              this.$router.push({ path: '/management' })
            }
          })
      }
    },
  }
};
</script>