<template>
  <div class="d-flex flex-grow-1 flex-column">
    <v-card-title>
      <v-btn rounded color="primary" dark to="/engineering">
        <v-icon left dark> mdi-arrow-left-bold </v-icon>
        Projects
      </v-btn>
      <v-spacer></v-spacer>
    PROJECT DETAIL
    </v-card-title>
    <v-row class="flex-grow-0" dense>
      <v-col cols="12" xl="6">
        <v-card>
          <v-card-title>
            <div>Project Info</div>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-row>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Nomor Project</div>
                </div>
                <div><strong>{{ selectedProject.nomor }}</strong></div>
                <div><strong>{{ selectedProject.tanggal | formatDate }}</strong></div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Nama Project</div>
                </div>
                <div><strong>{{ selectedProject.nama }}</strong></div>
                <div><strong>{{ selectedProject.jenis }}</strong></div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Lokasi</div>
                </div>
                <div><strong>{{ selectedProject.lokasi }}</strong></div>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Customer</div>
                </div>
                <div><strong>{{ selectedProject.nama_customer }}</strong></div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Email</div>
                  <div><strong>{{ selectedProject.email_customer }}</strong></div>
                </div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Contact</div>
                  <div><strong>{{ selectedProject.contact_pic }}</strong></div>
                </div>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Subtotal</div>
                </div>
                <div><strong>{{ new Intl.NumberFormat().format(selectedProject.total_nilai_project_so) }}</strong></div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Nominal SO Material (%)</div>
                  <div><strong>{{ new Intl.NumberFormat().format(roundedSOMaterial) }}</strong></div>
                  <div><strong>{{ new Intl.NumberFormat().format(roundedProsentaseSOMaterial) }}%</strong></div>
                </div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Total RAB</div>
                  <div><strong>Rp. {{ new Intl.NumberFormat().format(selectedRab.total_rab) }}</strong></div>
                </div>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>

    <v-row class="flex-grow-0" dense>
      <v-col cols="12" xl="6">
        <v-card v-show="false">
          <v-card-title>
            <div>Barang</div>
          </v-card-title>
          <v-card-text>
            <v-row>
              <v-col cols="2">
                <th>Nama Barang</th>
              </v-col>
              <v-col cols="2">
                <th>Qty</th>
              </v-col>
              <v-col cols="2">
                <th>Satuan</th>
              </v-col>
              <v-col cols="2">
                <th>Harga</th>
              </v-col>
              <v-col cols="2">
                <th>Total</th>
              </v-col>
            </v-row>
          </v-card-text>
          <v-row 
            v-for="barang in barangs"
            :key="barang.id"
            >
            <v-col cols="2">
                <th>{{ barang.nama }}</th>
              </v-col>
              <v-col cols="2">
                <th>{{ barang.qty }}</th>
              </v-col>
              <v-col cols="2">
                <th>{{ barang.satuan }}</th>
              </v-col>
              <v-col cols="2">
                <th>{{ formatNumber(barang.harga) }}</th>
              </v-col>
              <v-col cols="2">
                <th>{{ formatNumber(barang.total) }}</th>
              </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>

    <v-row class="flex-grow-0" dense>
      <v-col cols="12" xl="6">
        <v-card>
          <v-card-title>
            <div>Barang</div>
          </v-card-title>
          <v-card-text>
            <v-row>
              <v-col cols="3">
                <th>Nama Barang</th>
              </v-col>
              <v-col cols="3">
                <th>Qty</th>
              </v-col>
              <v-col cols="3">
                <th>Satuan</th>
              </v-col>
              <v-col cols="3">
                <th>Action</th>
              </v-col>
            </v-row>
          </v-card-text>
          <div :key="barangKey">
            <BarangEngineering
              v-for="barang in barangs"
              :key="barang.id"
              :header="barang"
              @afterRemoveBarang="afterRemoveBarang"
              @afterAddDetail="afterAddDetail"
              @afterRemoveDetail="afterRemoveDetail"
            />
          </div>

          <hr class="mb-2 mt-2" />
          <FormAddBarangEngineering @afterAddBarang="afterAddBarang" />
        </v-card>
      </v-col>
    </v-row>

    <v-row class="flex-grow-0" dense>
      <v-col cols="12" xl="6">
        <v-card>
          <v-card-title>
            <div>Note</div>
          </v-card-title>
          <v-card-text>
            <v-textarea
            filled
            auto-grow
            label="Note untuk WO Produksi."
            rows="4"
            row-height="30"
            shaped
            v-model="note"
          ></v-textarea>
          <v-btn
          color="blue"
          @click.prevent="kirimWOProduksi"
          >
          Kirim ke PPIC
          </v-btn>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
    

<script>
const pg = 'DetailProjectProject'
export default {
  created() {
    const t = localStorage.getItem("t");
    if (t === "engineering") {
      // user loggged in
      // do nothing
    } else {
      this.$router.push("/login");
    }
  },
  name:"DetailHeadProject",

  async asyncData() {
    console.info(`${pg} asyncData()`)
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} asynsData() after 0.1 second`)
        resolve('OK')
      })
    }, 100)
  },

  data() {
    return {
      valid: false,
      dialog: false,
      headers: [
        { text: 'Nomor',key: 'nomor_quotation',align: 'start',value: 'nomor'},
        { text: 'Tanggal', value: 'tanggal', align: 'center' }, 
        { text: 'Sales', value: 'nama_sales' },
        { text: 'Contact', value: 'contact_pic' },
        { text: 'No. Telp', value: 'contact_telp' },
        { text: 'Email', value: 'contact_email' },
        { text: 'Status', value: 'status' }, 
        { text: '', align: 'center', sortable: false, value: 'actions' }
      ],
      // barang
      addBarang: false,
      nama_barang: '',
      qty: 1,
      satuan: '',
      harga: 0,
      subtotal: 0,
      is_header: false,
      total: 0,

      // header
      header_nama: '',
      header_qty: 1,
      header_satuan: '',
      header_harga: 0,

      //
      note: '',
      barangKey: Math.random(),
    }
  },

  async fetch() {
    console.info(`${pg} fetch()`)
    const selectedProject = this.selectedProject
    console.info('selectedProject', selectedProject)
    const projectId = selectedProject.id
    const quotationId = selectedProject.deal_quotation

    // get selected quotation
    const rab = await this.$store.dispatch(
      'engineering/getRabByProjectId',
      projectId
    )
    if (rab.data) {
      const rabId = rab.data.id
      console.info('rabId', rabId)
      await this.$store.dispatch('engineering/getBarangsByRabId', rabId)
    }
    await this.$store.dispatch('engineering/getQuotationById', quotationId)
  },

  mounted() {
    console.info(`${pg} mounted()`)
    if (!this.selectedProject.id) {
      this.$router.push({ path: '/engineering' })
    }
  },

  computed: {
    selectedProject() {
      return this.$store.state.engineering.selectedProject
    },
    selectedRab() {
      return this.$store.state.engineering.selectedRab
    },
    selectedQuotation() {
      return this.$store.state.engineering.selectedQuotation
    },
    barangs() {
      return this.$store.state.engineering.selectedBarangs
    },
    isDraf() {
      return this.selectedProject.status_level == 5
    },
    isNego() {
      return this.selectedProject.status_level == 6
    },
    isApproved() {},
    roundedProsentasePekerjaan() {
      return Math.round(this.selectedQuotation.prosentase_project)
    },
    roundedProsentaseSOMaterial() {
      return Math.round(this.selectedProject.prosentase_material)
    },
    roundedSOMaterial() {
      return Math.round(this.selectedProject.nilai_so_material)
    },
    header_total() {
      return this.header_qty * this.header_harga
    },
    totalRAB() {
      const barangs = this.barangs
      let totalrab = 0
      barangs.map((item) => {
        totalrab = totalrab + item.total
      })
      return totalrab
    },
  },

  methods: {
    formatNumber(num) {
      const n = Number(num).toFixed(2)
      const numParts = n.toString().split('.')
      numParts[0] = numParts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',')
      return numParts.join('.')
    },
    toggleSidebar(sidebar) {
      this.$store.dispatch('toggleSidebar', sidebar)
    },
    capitalize(t) {
      return t.toUpperCase()
    },
    showBarang() {
      this.addBarang = true
    },
    hideBarang() {
      this.addBarang = false
    },
    resetBarang() {
      this.header_nama = ''
      this.header_qty = 1
      this.header_satuan = ''
      this.header_harga = 0
    },
    addHeader() {
      console.info('add header')
      if (this.header_nama == '') {
        this.$store.dispatch('showError', 'Nama Barang tidak boleh kosong')
        return
      }

      if (this.header_qty == '0') {
        this.$store.dispatch('showError', 'Qty tidak boleh kosong')
        return
      }

      if (this.header_satuan == '') {
        this.$store.dispatch('showError', 'Satuan tidak boleh kosong')
        return
      }

      if (this.header_harga == '') {
        this.$store.dispatch('showError', 'Harga tidak boleh kosong')
        return
      }

      // calcualte plafond rab dulu
      const plafondRAB = this.selectedRab.nilai_so_material
      const totalRAB = this.selectedRab.total_rab
      const hargaBarang = this.header_qty * this.header_harga

      console.info('plafondRAB', plafondRAB)
      console.info('totalRAB', totalRAB)
      console.info('hargaBarang', hargaBarang)
      console.info('total', +hargaBarang + +totalRAB)

      if (plafondRAB < +totalRAB + +hargaBarang) {
        this.$store.dispatch(
          'showError',
          'Harga barang tidak boleh melebihi plafond'
        )
        return
      }

      const id = this.selectedRab.id
      const barang = {
        rab_id: id,
        nama: this.header_nama,
        satuan: this.header_satuan,
        qty: this.header_qty,
        harga: this.header_harga,
        total: this.header_total,
        is_header: false,
      }

      this.$store.dispatch('engineering/addBarang', barang).then((results) => {
        if (results.error) {
          this.$store.dispatch('showError', results.msg)
        } else {
          this.$store.dispatch('showSuccess', 'Barang berhasil ditambahkan')
          this.resetBarang()
        }
      })
    },
    removePekerjaan(pekerjaan) {
      if (confirm(`Yakin mau hapus pekerjaan ${pekerjaan.nama} ini ?!`)) {
        this.$store.dispatch('pekerjaan/removePekerjaan', pekerjaan)
        this.$store.dispatch(
          'quotation/calculateQuotationTotal',
          this.selectedQuotation
        )
        this.$store.dispatch('showSuccess', 'Pekerjaan berhasil dihapus !')
      }
    },
    getToday() {
      return new Date().toLocaleString('id-ID', {
        dateStyle: 'short',
      })
    },
    getNomor() {
      var rdmString = ''
      for (
        ;
        rdmString.length < 6;
        rdmString += Math.random().toString(36).substr(2)
      );
      return rdmString.substr(0, 6).toUpperCase()
    },
    getNow() {
      return new Date().toLocaleString('id-ID', {
        dateStyle: 'long',
      })
    },
    getID() {
      var rdmString = ''
      for (
        ;
        rdmString.length < 15;
        rdmString += Math.random().toString(36).substr(2)
      );
      return rdmString.substr(0, 15)
    },
    kirimWOProduksi() {
      // approve rab untuk ppic
      // set is_approved = true
      // approved_by = engineering
      // status = approved enginering
      // status level = 1
      // status text = Approved By Engineering

      console.info('kirimWOProduksi')
      if (confirm(`Yakin mau kirim RAB ini ke PPIC ?!`)) {
        const data = {
          note: this.note,
          id: this.selectedRab.id,
        }
        this.$store
          .dispatch('engineering/kirimRabKePPIC', data)
          .then((result) => {
            if (result.error) {
              alert('Error, pesan: ['+ result.msg+']')
            } else {
              alert(
                'Success, WO Produksi berhasil dikirim'
              )
              this.$router.push({ path: '/engineering' })
            }
          })
      }
    },
    async afterRemoveBarang() {
      this.$fetch()
    },
    async afterAddDetail() {
      this.$fetch()
      this.barangKey = Math.random()
    },
    async afterRemoveDetail() {
      this.$fetch()
      this.barangKey = Math.random()
    },
    afterAddBarang() {
      this.$fetch()
    },
  }
};
</script>