<template>
  <div class="d-flex flex-grow-1 flex-column">
    <v-card-title>
      <v-btn rounded color="primary" dark to="/ppic">
        <v-icon left dark> mdi-arrow-left-bold </v-icon>
        List SO
      </v-btn>
      <v-spacer></v-spacer>
      PROJECT DETAIL
    </v-card-title>
    <v-row class="flex-grow-0" dense>
      <v-col cols="12" xl="6">
        <v-card>
          <v-card-title>
            <div>Project Info</div>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-row>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Nomor Project</div>
                </div>
                <div>
                  <strong>{{ selectedProject.nomor }}</strong>
                </div>
                <div>
                  <strong>{{ selectedProject.tanggal | formatDate }}</strong>
                </div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Nama Project</div>
                </div>
                <div>
                  <strong>{{ selectedProject.nama }}</strong>
                </div>
                <div>
                  <strong>{{ selectedProject.jenis }}</strong>
                </div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Lokasi</div>
                </div>
                <div>
                  <strong>{{ selectedProject.lokasi }}</strong>
                </div>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Customer</div>
                </div>
                <div>
                  <strong>{{ selectedProject.nama_customer }}</strong>
                </div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Email</div>
                  <div>
                    <strong>{{ selectedProject.email_customer }}</strong>
                  </div>
                </div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Contact</div>
                  <div>
                    <strong>{{ selectedProject.contact_pic }}</strong>
                  </div>
                </div>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Subtotal</div>
                </div>
                <div>
                  <strong>{{
                    new Intl.NumberFormat().format(
                      selectedProject.total_nilai_project_so
                    )
                  }}</strong>
                </div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Nominal SO Material (%)</div>
                  <div>
                    <strong>{{
                      new Intl.NumberFormat().format(roundedSOMaterial)
                    }}</strong>
                  </div>
                  <div>
                    <strong>{{ roundedProsentaseSOMaterial }}%</strong>
                  </div>
                </div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Total RAB</div>
                  <div>
                    <strong
                      >Rp.
                      {{
                        new Intl.NumberFormat().format(selectedRab.total_rab)
                      }}</strong
                    >
                  </div>
                </div>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>

    <!-- barang -->
    <v-row class="flex-grow-0" dense>
      <v-col cols="12" xl="6">
        <v-card>
          <v-card-title>
            <div>Barang</div>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-row>
              <v-col cols="2">
                <th>Nama Barang</th>
              </v-col>
              <v-col cols="2">
                <th>Qty</th>
              </v-col>
              <v-col cols="2">
                <th>Satuan</th>
              </v-col>
              <v-col cols="2">
                <th>Harga</th>
              </v-col>
              <v-col cols="2">
                <th>Total</th>
              </v-col>
              <v-col cols="2">
                <th>Action</th>
              </v-col>
            </v-row>
            <div v-for="barang in barangs" :key="barang.id">
              <BarangPpic
                :key="barangKey"
                :header="barang"
                @afterRemoveBarang="afterRemoveBarang"
                @afterAddDetail="afterAddDetail"
                @afterRemoveDetail="afterRemoveDetail"
                @afterUpdateHarga="afterUpdateHarga"
              />
            </div>

            <hr class="mb-2 mt-2" />
            <FormAddBarangPpic @afterAddBarang="afterAddBarang" />
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <!-- end of barang -->

    <!-- note -->
    <v-row class="flex-grow-0" dense>
      <v-col cols="12" xl="6">
        <v-card>
          <v-card-text>
            <div class="mt-4">
              <div class="p-6 bg-white rounded-md shadow-md">
                <div>
                  <v-menu
                    ref="menu1"
                    v-model="menu1"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="auto"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="tanggal"
                        label="Tanggal Deadline Produksi"
                        hint="DD/MM/YYYY format"
                        persistent-hint
                        prepend-icon="mdi-calendar"
                        v-bind="attrs"
                        @blur="date = parseDate(tanggal)"
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      v-model="date"
                      no-title
                      @input="menu1 = false"
                    ></v-date-picker>
                  </v-menu>
                </div>
                <div>
                  <label class="text-gray-700">Note</label>
                  <v-textarea
                    filled
                    auto-grow
                    label="Note untuk WO Produksi."
                    rows="4"
                    row-height="30"
                    shaped
                    v-model="note"
                  ></v-textarea>
                </div>
                <div class="flex justify-between">
                  <v-btn
                    color="blue"
                    @click.prevent="kirimWOProduksi"
                  >
                    Kirim WO Produksi
                  </v-btn>
                </div>
              </div>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <!-- end of note -->
  </div>
</template>
    

<script>
const pg = "DetailProjectPPIC";
export default {
  created() {
    const t = localStorage.getItem("t");
    if (t === "ppic") {
      // user loggged in
      // do nothing
    } else {
      this.$router.push("/login");
    }
  },
  name: "DetailProjectPPIC",
  async asyncData() {
    console.info(`${pg} asyncData()`);
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} asynsData() after 0.1 second`);
        resolve("OK");
      });
    }, 100);
  },
  mounted() {
    console.info(`${pg} mounted()`);
    // this.toggleSidebar(false);
    if (!this.selectedProject.id) {
      this.$router.push({ path: "/ppic" });
    }
  },
  watch: {
      date (val) {
        this.tanggal = this.formatDate(this.date)
      },
    },
  data() {
    return {
      date: new Date().toISOString().substr(0, 10),
      menu1: false,
      menu2: false,

      valid: false,
      dialog: false,
      headers: [
        {
          text: "Nomor",
          key: "nomor_quotation",
          align: "start",
          value: "nomor",
        },
        { text: "Tanggal", value: "tanggal", align: "center" },
        { text: "Sales", value: "nama_sales" },
        { text: "Contact", value: "contact_pic" },
        { text: "No. Telp", value: "contact_telp" },
        { text: "Email", value: "contact_email" },
        { text: "Status", value: "status" },
        { text: "", align: "center", sortable: false, value: "actions" },
      ],
      // barang
      addBarang: false,
      nama_barang: "",
      qty: 1,
      satuan: "",
      harga: 0,
      subtotal: 0,
      is_header: false,
      total: 0,

      // header
      header_nama: "",
      header_qty: 1,
      header_satuan: "",
      header_harga: 0,

      //
      note: "",
      barangKey: Math.random(),
      tanggal: this.formatDate(new Date().toISOString().substr(0, 10)),
    };
  },

  async fetch() {
    console.info(`${pg} fetch()`);
    const selectedProject = this.selectedProject;
    console.info("selectedProject", selectedProject);
    const projectId = selectedProject.id;
    const quotationId = selectedProject.deal_quotation;

    // get selected quotation
    const rab = await this.$store.dispatch(
      "engineering/getRabByProjectId",
      projectId
    );
    if (rab.data) {
      const rabId = rab.data.id;
      console.info("rabId", rabId);
      await this.$store.dispatch("engineering/getBarangsByRabId", rabId);
    }
    await this.$store.dispatch("engineering/getQuotationById", quotationId);
  },

  computed: {
    computedDateFormatted () {
        return this.formatDate(this.date)
      },
    selectedProject() {
      return this.$store.state.engineering.selectedProject;
    },
    selectedRab() {
      return this.$store.state.engineering.selectedRab;
    },
    selectedQuotation() {
      return this.$store.state.engineering.selectedQuotation;
    },
    barangs() {
      return this.$store.state.engineering.selectedBarangs;
    },
    isDraf() {
      return this.selectedProject.status_level == 5;
    },
    isNego() {
      return this.selectedProject.status_level == 6;
    },
    isApproved() {},
    roundedProsentasePekerjaan() {
      return Math.round(this.selectedQuotation.prosentase_project);
    },
    roundedProsentaseSOMaterial() {
      return Math.round(this.selectedProject.prosentase_material);
    },
    roundedSOMaterial() {
      return Math.round(this.selectedProject.nilai_so_material);
    },
    header_total() {
      return this.header_qty * this.header_harga;
    },
    totalRAB() {
      const barangs = this.barangs;
      let totalrab = 0;
      barangs.map((item) => {
        totalrab = totalrab + item.total;
      });
      return totalrab;
    },
  },

  methods: {
    formatDate (date) {
        if (!date) return null

        const [year, month, day] = date.split('-')
        return `${day}/${month}/${year}`
      },
      parseDate (date) {
        if (!date) return null

        const [day, month, year] = date.split('/')
        return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
      },
    formatNumber(num) {
      const n = Number(num).toFixed(2);
      const numParts = n.toString().split(".");
      numParts[0] = numParts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      return numParts.join(".");
    },
    toggleSidebar(sidebar) {
      this.$store.dispatch("toggleSidebar", sidebar);
    },
    capitalize(t) {
      return t.toUpperCase();
    },
    showBarang() {
      this.addBarang = true;
    },
    hideBarang() {
      this.addBarang = false;
    },
    resetBarang() {
      this.header_nama = "";
      this.header_qty = 1;
      this.header_satuan = "";
      this.header_harga = 0;
    },
    getToday() {
      return new Date().toLocaleString("id-ID", {
        dateStyle: "short",
      });
    },
    getNomor() {
      var rdmString = "";
      for (
        ;
        rdmString.length < 6;
        rdmString += Math.random().toString(36).substr(2)
      );
      return rdmString.substr(0, 6).toUpperCase();
    },
    getNow() {
      return new Date().toLocaleString("id-ID", {
        dateStyle: "long",
      });
    },
    getID() {
      var rdmString = "";
      for (
        ;
        rdmString.length < 15;
        rdmString += Math.random().toString(36).substr(2)
      );
      return rdmString.substr(0, 15);
    },
    kirimWOProduksi() {
      // approve rab untuk ppic
      // set is_approved = true
      // approved_by = engineering
      // status = approved enginering
      // status level = 1
      // status text = Approved By Engineering

      console.info("kirimWOProduksi");
      if (confirm(`Yakin akan confirm RAB Produksi ini ?!`)) {
        const data = {
          tanggal: this.tanggal,
          note: this.note,
          id: this.selectedRab.id,
        };
        this.$store
          .dispatch("engineering/kirimWOProduksi", data)
          .then((result) => {
            if (result.error) {
              alert("Error, pesan:["+ result.msg+']');
            } else {
              alert(
                "Success, WO Produksi berhasil dikirim"
              );
              this.$router.push({ path: "/ppic" });
            }
          });
      }
    },
    async afterRemoveBarang() {
      await this.$fetch();
    },
    async afterAddDetail() {
      await this.$fetch();
      this.barangKey = Math.random();
    },
    async afterRemoveDetail() {
      await this.$fetch();
      this.barangKey = Math.random();
    },
    async afterAddBarang() {
      await this.$fetch();
    },
    async afterUpdateHarga() {
      await this.$fetch();
    },
  },
};
</script>