<template>
  <v-card>
    <div class="d-flex flex-column flex-grow-1">
      <v-card-title>
        RAB PRODUKSI (STATUS: APPROVED)
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
        <v-spacer></v-spacer>
      </v-card-title>

      <v-data-table
        :headers="headers"
        :items="projects.data"
        :search="search"
        :items-per-page="10"
        class="elevation-1"
      >
        <template v-slot:[`item.nomor`]="{ item }">
        <div>{{ item.nomor }}</div>
          <v-chip
            small
            class="font-weight-bold"
            :class="{
              orange: item.jenis === 'trading',
              green: item.jenis === 'custom',
              blue: item.jenis === 'after sales services',
              purple: item.jenis === 'maintenance',
            }"
            >{{ item.jenis }}</v-chip
          >
          <div>{{ item.tanggal | formatDate }}</div>
        </template>

        <template v-slot:[`item.nama`]="{ item }">
          <div>{{ item.nama }}</div>
          <div>{{ item.lokasi }}</div>
        </template>

        <template v-slot:[`item.nama_customer`]="{ item }">
          <div class="green--text">{{ item.nama_customer }}</div>
          <div>{{ item.email_customer }}</div>
          <div>{{ item.contact_pic }}</div>
        </template>

        <template v-slot:[`item.subtotal`]="{ item }">
          <div>{{ new Intl.NumberFormat().format(item.subtotal) }}</div>
        </template>
        <template v-slot:[`item.total_nilai_project`]="{ item }">
          <div>{{ new Intl.NumberFormat().format(item.total_nilai_project) }}</div>
        </template>

        <template v-slot:[`item.email_customer`]="{ item }">
          <div><copy-label :text="item.email_customer" /></div>
        </template>

        <template v-slot:[`item.status`]="{ item }">
          <v-chip
            label
            small
            color="secondary"
            class="font-weight-bold"
            :class="{
              warning: item.status === 'nego',
            }"
            >{{ item.status }}</v-chip
          >
        </template>

        <template v-slot:[`item.potongan`]="{ item }">
          <div>Persentase: {{ item.potongan }} %</div>
          <div>Nominal: {{ new Intl.NumberFormat().format(item.nominal_potongan) }}</div>
        </template>
        <template v-slot:[`item.tax`]="{ item }">
          <div>Persentase: {{ item.tax }} %</div>
          <div>Nominal: {{ new Intl.NumberFormat().format(item.nominal_tax) }}</div>
        </template>

        <template v-slot:[`item.actions`]="{ item }">
          <div class="d-flex">
            <v-btn
              class="mx-1"
              dark
              color="cyan darken-2"
              @click="gotoRAB(item)"
            >
              Lihat RAB
            </v-btn>
          </div>
        </template>
      </v-data-table>
    </div>
  </v-card>
</template>

<script>
const pg = 'Management'
import CopyLabel from "../../components/common/CopyLabel";

export default {
  created() {
    const t = localStorage.getItem("t");
    if (t === "ppic") {
      
    } else {
      this.$router.push("/login");
    }
  },
  name: 'Management',
  layout: "dashboard",
  components: {
    CopyLabel,
  },
  data() {
    return {
      search: "",
      notesProject: "",
      headers: [
        { text: "Nomor,jenis,tanggal", key: "nomor", align: "start", value: "nomor" },
        { text: "Nama,lokasi", value: "nama" },
        { text: "Customer,email,contact", value: "nama_customer" },
        { text: "Subtotal", value: "subtotal" },
        { text: "Potongan", value: "potongan" },
        { text: "Tax", value: "tax" },
        { text: "Total nilai project", value: "total_nilai_project" },
        { text: "Status", value: "status" },
        { text: "", align: "center", sortable: false, value: "actions" },
      ],
    };
  },
  async fetch() {
    console.info(`${pg} fetch()`)
    await this.$store.dispatch('engineering/getProjectsForPPIC')
  },
  async asyncData({ $axios }) {
    let projects = {};
    try {
      const response = await $axios.$get("/api/projects/ppic");
      projects = response;
    } catch (error) {
      alert("Oops data tidak ditemukan, silahkan hubungi administrator!");
    }
    return { projects };
  },
  computed: {
    selectedProject() {
      return this.$store.state.engineering.selectedProject
    },
    hasProjects() {
      return this.projects.length > 0
    },
  },
  methods: {
    formatNumber(num) {
      const n = Number(num).toFixed(2)
      const numParts = n.toString().split('.')
      numParts[0] = numParts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',')
      return numParts.join('.')
    },
    getPpicProjects() {
      this.$store.dispatch('project/getPpicProjects')
    },
    async gotoRAB(project) {
      console.info('engineering.gotoRAB')
      console.info('project', project)
      const selectProject = await this.$store.dispatch(
        'engineering/selectProject',
        project
      )
      // this.$store.dispatch('showSuccess', 'OK')
      this.$router.push({ path: '/ppic/detail_project' })
    },
  },
};
</script>