<template>
  <div class="d-flex flex-grow-1 flex-column">
    <v-card-title>
      <v-btn rounded color="primary" dark to="/head_production">
        <v-icon left dark> mdi-arrow-left-bold </v-icon>
        Projects
      </v-btn>
      <v-spacer></v-spacer>
      WO PRODUKSI (STATUS: APPROVED)
    </v-card-title>
    <v-row class="flex-grow-0" dense>
      <v-col cols="12" xl="6">
        <v-card>
          <v-card-title>
            <div>Project Info</div>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-row>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Nomor Project</div>
                </div>
                <div><strong>{{ selectedProject.nomor }}</strong></div>
                <div><strong>{{ selectedProject.tanggal | formatDate }}</strong></div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Nama Project</div>
                </div>
                <div><strong>{{ selectedProject.nama }}</strong></div>
                <div><strong>{{ selectedProject.jenis }}</strong></div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Lokasi</div>
                </div>
                <div><strong>{{ selectedProject.lokasi }}</strong></div>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Customer</div>
                </div>
                <div><strong>{{ selectedProject.nama_customer }}</strong></div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Email</div>
                  <div><strong>{{ selectedProject.email_customer }}</strong></div>
                </div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="caption">
                  <div>Contact</div>
                  <div><strong>{{ selectedProject.contact_pic }}</strong></div>
                </div>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>

      <v-col cols="12" xl="6">
        <v-card>
          <v-card-title>
            <div>Work Order Info</div>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-row>
              <v-col cols="12" md="3">
                <div class="caption">
                  <div>Nomor</div>
                </div>
                <div><strong>{{ selectedWo.nomor }}</strong></div>
                <div><strong>{{ selectedWo.tanggal | formatDate }}</strong></div>
              </v-col>
              <v-col cols="12" md="3">
                <div class="caption">
                  <div>Llimit Plafond Produksi</div>
                </div>
                <div><strong>{{ new Intl.NumberFormat().format(selectedWo.limit_plafond_produksi) }}</strong></div>
              </v-col>
              <v-col cols="12" md="3">
                <div class="caption">
                  <div>Deadline</div>
                </div>
                <div><strong>{{ selectedWo.deadline }}</strong></div>
              </v-col>
              <v-col cols="12" md="3">
                <div class="caption">
                  <div>Note</div>
                </div>
                <div><strong>{{ selectedWo.note }}</strong></div>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>

      <v-col cols="12" xl="6" v-if="false">
        <v-card>
          <v-card-title>
            <div>Barang</div>
          </v-card-title>
          <v-card-text>
            <v-simple-table>
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-center">Nama Barang</th>
                    <th class="text-center">Qty</th>
                    <th class="text-center">Satuan</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="barang in barangs" :key="barang.id">
                    <td class="text-center">{{ barang.nama }}</td>
                    <td class="text-center">{{ barang.qty }}</td>
                    <td class="text-center">{{ barang.satuan }}</td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-card-text>
        </v-card>
      </v-col>

      <v-col cols="12" xl="6">
        <v-card>
          <v-card-title>
            <div>Barang</div>
          </v-card-title>
          <v-card-text>
            <v-row>
              <v-col cols="2">
                <th class="text-left">Nama Barang</th>
              </v-col>
              <v-col cols="2">
                <th class="text-left">Qty</th>
              </v-col>
              <v-col cols="2">
                <th class="text-left">Satuan</th>
              </v-col>
            </v-row>
                <div v-for="barang in barangs" :key="barang.id">
            <BarangWo
              :key="barangKey"
              :header="barang"
              @afterRemoveBarang="afterRemoveBarang"
              @afterAddDetail="afterAddDetail"
              @afterRemoveDetail="afterRemoveDetail"
            />
          </div>

          <hr class="mb-2 mt-2" />
          <FormAddBarangWo
            @afterAddBarang="afterAddBarang"
            v-show="selectedWo.status === 'draf'"
          />
          </v-card-text>
        </v-card>
      </v-col>

      <v-col cols="12" xl="6">
        <v-card>
          <v-card-title>
            <div>Note</div>
          </v-card-title>
          <v-card-text>
            <v-textarea
              rows="5"
              class="appearance-none border border-sdarkblue w-full py-2 px-3 text-xs text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-none"
              v-model="note"
              placeholder="Note untuk WO Produksi."
            ></v-textarea>
            <v-btn
              color="blue"
              @click.prevent="confirmWO"
            >
              Confirm Work Order Produksi
            </v-btn>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
    

<script>
const pg = 'DetailProjectHeadProduction'
export default {
  created() {
    const t = localStorage.getItem("t");
    if (t === "head_production") {
      // user loggged in
      // do nothing
    } else {
      this.$router.push("/login");
    }
  },
  name:"DetailHeadProject",
  components: {
  },

  data() {
    return {
      valid: false,
      dialog: false,
      headers: [
        { text: 'Nomor',key: 'nomor_quotation',align: 'start',value: 'nomor'},
        { text: 'Tanggal', value: 'tanggal', align: 'center' }, 
        { text: 'Sales', value: 'nama_sales' },
        { text: 'Contact', value: 'contact_pic' },
        { text: 'No. Telp', value: 'contact_telp' },
        { text: 'Email', value: 'contact_email' },
        { text: 'Status', value: 'status' }, 
        { text: '', align: 'center', sortable: false, value: 'actions' }
      ],
      addBarang: false,
      nama_barang: '',
      qty: 1,
      satuan: '',
      harga: 0,
      subtotal: 0,
      is_header: false,
      total: 0,

      // header
      header_nama: '',
      header_qty: 1,
      header_satuan: '',
      header_harga: 0,

      //
      note: '',
      barangKey: Math.random(),
    }
  },

  mounted() {
    console.info(`${pg} mounted()`)
    if (!this.selectedProject.id) {
      this.$router.push({ path: '/head_production' })
    }
  },

  async fetch() {
    console.info(`${pg} fetch()`)
    const id = this.selectedRab.id
    console.info('getWosByRabId id', id)
    if (id) {
      const wo = await this.$store.dispatch('engineering/getWosByRabId', id)
      if (!wo.error) {
        const woId = wo.data.id
        await this.$store.dispatch('engineering/getBarangsByWoId', woId)
      }
    }
  },

  computed: {
    // for test
    selectedProject() {
      return this.$store.state.engineering.selectedProject
    },
    wo() {
      return this.$store.state.engineering.selectedWo
    },
    selectedRab() {
      return this.$store.state.engineering.selectedRab
    },
    barangs() {
      return this.$store.state.engineering.selectedBarangsWo
    },
    hasWo() {
      return this.selectedWos.length > 0
    },
    selectedWo() {
      return this.$store.state.engineering.selectedWo
    },
    barangs() {
      return this.$store.state.engineering.selectedBarangsWo
    },
    isDraf() {
      return this.selectedProject.status_level == 5
    },
    isNego() {
      return this.selectedProject.status_level == 6
    },
    roundedProsentasePekerjaan() {
      return Math.round(this.selectedQuotation.prosentase_project)
    },
    roundedProsentaseSOMaterial() {
      return Math.round(this.selectedProject.prosentase_material)
    },
    roundedSOMaterial() {
      return Math.round(this.selectedProject.nilai_so_material)
    },
    header_total() {
      return this.header_qty * this.header_harga
    },
    totalRAB() {
      const barangs = this.barangs
      let totalrab = 0
      barangs.map((item) => {
        totalrab = totalrab + item.total
      })
      return totalrab
    },
  },

  methods: {
    formatNumber(num) {
      const n = Number(num).toFixed(2)
      const numParts = n.toString().split('.')
      numParts[0] = numParts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',')
      return numParts.join('.')
    },
    getPpicProjects() {
      this.$store.dispatch('hprod/getPpicProjects')
    },
    toggleSidebar(sidebar) {
      this.$store.dispatch('toggleSidebar', sidebar)
    },
    async gotoSko(project) {
      console.info('engineering.gotoRAB')
      console.info('project', project)
      const selectProject = await this.$store.dispatch(
        'engineering/selectProject',
        project
      )
      // this.$store.dispatch('showSuccess', 'OK')
      // this.$store.dispatch('showSuccess', 'OK')
      this.$router.push({ path: '/detail_wo' })
    },
    showBarang() {
      this.addBarang = true
    },
    hideBarang() {
      this.addBarang = false
    },
    resetBarang() {
      this.header_nama = ''
      this.header_qty = 1
      this.header_satuan = ''
      this.header_harga = 0
    },
    addHeader() {
      console.info('add header')
      if (this.header_nama == '') {
        alert('Error, Nama Barang tidak boleh kosong')
        return
      }

      if (this.header_qty == '0') {
        alert('Error, Qty tidak boleh kosong')
        return
      }

      if (this.header_satuan == '') {
        alert('Error, Satuan tidak boleh kosong')
        return
      }

      if (this.header_harga == '') {
        alert('Error, Harga tidak boleh kosong')
        return
      }

      // calcualte plafond rab dulu
      const plafondRAB = this.selectedRab.nilai_so_material
      const totalRAB = this.selectedRab.total_rab
      const hargaBarang = this.header_qty * this.header_harga

      console.info('plafondRAB', plafondRAB)
      console.info('totalRAB', totalRAB)
      console.info('hargaBarang', hargaBarang)
      console.info('total', +hargaBarang + +totalRAB)

      if (plafondRAB < +totalRAB + +hargaBarang) {
        alert('Error, Harga barang tidak boleh melebihi plafond'
        )
        return
      }

      const id = this.selectedRab.id
      const barang = {
        rab_id: id,
        nama: this.header_nama,
        satuan: this.header_satuan,
        qty: this.header_qty,
        harga: this.header_harga,
        total: this.header_total,
        is_header: false,
      }

      this.$store.dispatch('engineering/addBarang', barang).then((results) => {
        if (results.error) {
          alert('Error, pesan:['+ results.msg+']')
        } else {
          alert('Success, Barang berhasil ditambahkan')
          this.resetBarang()
        }
      })
    },
    removePekerjaan(pekerjaan) {
      if (confirm(`Yakin mau hapus pekerjaan ${pekerjaan.nama} ini ?!`)) {
        this.$store.dispatch('pekerjaan/removePekerjaan', pekerjaan)
        this.$store.dispatch(
          'quotation/calculateQuotationTotal',
          this.selectedQuotation
        )
        alert('Success, Pekerjaan berhasil dihapus !')
      }
    },
    confirmWO() {
      // approve rab untuk ppic
      // set is_approved = true
      // approved_by = engineering
      // status = approved enginering
      // status level = 1
      // status text = Approved By Engineering

      console.info('confirmWO')
      if (confirm(`Yakin akan confirm Work Order ini ?!`)) {
        const id = this.selectedWo.id || this.selectedWo._id
        const note = this.note
        this.$store
          .dispatch('engineering/confirmWO', { id, note })
          .then((result) => {
            if (result.error) {
              alert('Error, pesan:['+ result.msg+']')
            } else {
              alert(
                'Success, WO Produksi berhasil dikirim'
              )
              this.$router.push({ path: '/head_production' })
            }
          })
      }
    },
    async afterRemoveBarang() {
      this.$fetch()
    },
    async afterAddDetail() {
      this.$fetch()
      this.barangKey = Math.random()
    },
    async afterRemoveDetail() {
      this.$fetch()
      this.barangKey = Math.random()
    },
    afterAddBarang() {
      this.$fetch()
    },
  }
};
</script>