<template>
  <v-card>
    <div class="d-flex flex-column flex-grow-1">
      <v-card-title>
        WO PRODUKSI (STATUS: APPROVED)
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
        <v-spacer></v-spacer>
      </v-card-title>

      <v-data-table
        :headers="headers"
        :items="projects.data"
        :search="search"
        :items-per-page="10"
        class="elevation-1"
      >
        <template v-slot:[`item.jenis`]="{ item }">
          <v-chip
            small
            class="font-weight-bold"
            :class="{
              orange: item.jenis === 'trading',
              green: item.jenis === 'custom',
              blue: item.jenis === 'after sales services',
              purple: item.jenis === 'maintenance',
            }"
            >{{ item.jenis }}</v-chip
          >
        </template>

        <template v-slot:[`item.nama_customer`]="{ item }">
          <div class="green--text">{{ item.nama_customer }}</div>
        </template>

        <template v-slot:[`item.tanggal`]="{ item }">
          <div>{{ item.tanggal | formatDate }}</div>
        </template>

        <template v-slot:[`item.email_customer`]="{ item }">
          <div><copy-label :text="item.email_customer" /></div>
        </template>

        <template v-slot:[`item.status`]="{ item }">
          <v-chip
            label
            small
            color="secondary"
            class="font-weight-bold"
            :class="{
              warning: item.status === 'nego',
            }"
            >{{ item.status }}</v-chip
          >
        </template>

        <template v-slot:[`item.actions`]="{ item }">
          <div class="d-flex">
            <v-btn
              class="mx-1"
              dark
              color="cyan darken-2"
              @click="gotoWO(item)"
            >
              Detail
            </v-btn>
          </div>
        </template>
      </v-data-table>
    </div>
  </v-card>
</template>

<script>
const pg = "Management";
import CopyLabel from "../../components/common/CopyLabel";

export default {
  created() {
    const t = localStorage.getItem("t");
    if (t === "head_production") {
    } else {
      this.$router.push("/login");
    }
  },
  name: "Management",
  layout: "dashboard",
  components: {
    CopyLabel,
  },
  data() {
    return {
      search: "",
      notesProject: "",
      headers: [
        { text: "Nomor", key: "nomor", align: "start", value: "nomor" },
        { text: "jenis", value: "jenis" },
        { text: "tanggal", value: "tanggal" },
        { text: "Nama", value: "nama" },
        { text: "lokasi", value: "lokasi" },
        { text: "Customer", value: "nama_customer" },
        { text: "email", value: "email_customer" },
        { text: "contact", value: "contact_pic" },
        { text: "Status", value: "status" },
        { text: "", align: "center", sortable: false, value: "actions" },
      ],
    };
  },
  async fetch() {
    console.info(`${pg} fetch()`);
    await this.$store.dispatch("estimator/getProjectsManagement");
  },
  async asyncData({ $axios }) {
    let projects = {};
    try {
      const response = await $axios.$get("/api/projects/wo");
      projects = response;
    } catch (error) {
      alert("Oops data tidak ditemukan, silahkan hubungi administrator!");
    }
    return { projects };
  },
  computed: {
    hasProjects() {
      return this.projects.length > 0;
    },
    selectedProject() {
      return this.$store.state.estimator.selectedProject;
    },
    selectedQuotation() {
      return this.$store.state.estimator.selectedQuotation;
    },
  },
  methods: {
    formatNumber(num) {
      const n = Number(num).toFixed(2);
      const numParts = n.toString().split(".");
      numParts[0] = numParts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      return numParts.join(".");
    },
    async gotoWO(project) {
      console.info('engineering.gotoWO => get data rab dulu')
      await this.$store.dispatch('engineering/selectProject', project)

      const id = project.id
      if (id) {
        await this.$store
          .dispatch('engineering/getRabByProjectId', id)
          .then((rab) => {
            // resolved
            this.$router.push({ path: '/head_production/detail_project' })
          })
          .catch((err) => {
            // rejected
            console.info('err', err)
            alert('Error, pesan:['+ err.msg+']')
          })
      }
    },
  },
};
</script>