<template>
  <v-app>
    <div
      v-shortkey="['ctrl', '/']"
      class="d-flex flex-grow-1"
      @shortkey="onKeyup"
    >
      <!-- Navigation -->
      <v-navigation-drawer
        v-model="drawer"
        app
        floating
        class="elevation-1"
        :right="$vuetify.rtl"
        :light="menuTheme === 'light'"
        :dark="menuTheme === 'dark'"
      >
        <!-- Navigation menu info -->
        <template v-slot:prepend>
          <div class="pa-2">
            <div class="title font-weight-bold text-uppercase primary--text">{{ product.name }}</div>
            <div class="overline grey--text">{{ product.version }}</div>
          </div>
        </template>

        <!-- Navigation menu -->
        <main-menu :menu="navigation.menu" />

        <!-- Navigation menu footer -->
        <template v-slot:append>
          <!-- Footer navigation links -->
          <div class="pa-1 text-center">
            <v-btn
              v-for="(item, index) in navigation.footer"
              :key="index"
              :href="item.href"
              :target="item.target"
              small
              text
            >
              {{ item.key ? $t(item.key) : item.text }}
            </v-btn>
          </div>

          <!-- REMOVE ME - Shop Demo purposes -->
        </template>
      </v-navigation-drawer>

      <!-- Toolbar -->
      <v-app-bar
        app
        :color="isToolbarDetached ? 'surface' : undefined"
        :flat="isToolbarDetached"
        :light="toolbarTheme === 'light'"
        :dark="toolbarTheme === 'dark'"
      >
        <v-card class="flex-grow-1 d-flex" :class="[isToolbarDetached ? 'pa-1 mt-3 mx-1' : 'pa-0 ma-0']" :flat="!isToolbarDetached">
          <div class="d-flex flex-grow-1 align-center">

            <!-- search input mobile -->
            <v-text-field
              v-if="showSearch"
              append-icon="mdi-close"
              placeholder="Search"
              prepend-inner-icon="mdi-magnify"
              hide-details
              solo
              flat
              autofocus
              @click:append="showSearch = false"
            ></v-text-field>

            <div v-else class="d-flex flex-grow-1 align-center">
              <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

              <v-spacer class="d-none d-lg-block"></v-spacer>

              <!-- search input desktop -->
              <!-- <v-text-field
                ref="search"
                class="mx-1 hidden-xs-only"
                :placeholder="$t('menu.search')"
                prepend-inner-icon="mdi-magnify"
                hide-details
                filled
                rounded
                dense
              ></v-text-field> -->

              <v-spacer class="d-block d-sm-none"></v-spacer>

              <!-- <v-btn class="d-block d-sm-none" icon @click="showSearch = true">
                <v-icon>mdi-magnify</v-icon>
              </v-btn> -->

              <!-- <toolbar-language /> -->

              <!-- <div class="hidden-xs-only mx-1">
                <toolbar-currency />
              </div> -->

              <!-- <toolbar-apps /> -->

              <!-- <div :class="[$vuetify.rtl ? 'ml-1' : 'mr-1']">
                <toolbar-notifications />
              </div> -->

              <toolbar-user />
            </div>
          </div>
        </v-card>
      </v-app-bar>

      <v-main>
        <v-container class="fill-height" :fluid="!isContentBoxed">
          <v-layout>
            <nuxt />
          </v-layout>
        </v-container>

        <!-- <v-footer app inset>
          <v-spacer></v-spacer>
          <div class="overline">
            Built with <v-icon small color="pink">mdi-heart</v-icon> <a class="text-decoration-none" href="https://indielayer.com" target="_blank">@indielayer</a>
          </div>
        </v-footer> -->
      </v-main>
    </div>
  </v-app>
</template>

<script>
import { mapState } from 'vuex'

// navigation menu configurations
import config from '../configs'

var sidebarMenu = {}
var t = localStorage.getItem("t")

if (t === "estimator") {
  sidebarMenu = { icon: 'mdi-graph', key: '', text: 'Estimator', 
                  items: [
                    { text: 'Prospect Project List', link: '/estimator' }
                  ] 
                }
}else if (t === "management") {
  sidebarMenu = { icon: 'mdi-graph', key: '', text: 'Management', 
                  items: [
                    { text: 'List SO', link: '/management' }
                  ] 
                }
}else if (t === "head_project") {
  sidebarMenu = { icon: 'mdi-graph', key: '', text: 'Head Project', 
                  items: [
                    { text: 'Projects', link: '/head_project' },
                    { text: 'WO Projects', link: '/wo_project' },
                    { text: 'Input SKL', link: '/skl' },
                  ] 
                }
}else if (t === "head_production") {
  sidebarMenu = { icon: 'mdi-graph', key: '', text: 'Head Production', 
                  items: [
                    { text: 'RAB Produksi', link: '/head_production' },
                    { text: 'WO Produksi', link: '/wo_produksi' },
                    { text: 'Realisasi SKO', link: '/realisasi_sko' },
                  ] 
                }
}else if (t === "engineering") {
  sidebarMenu = { icon: 'mdi-graph', key: '', text: 'Engineering', 
                  items: [
                    { text: 'List SO', link: '/engineering' }
                  ] 
                }
}else if (t === "ppic") {
  sidebarMenu = { icon: 'mdi-graph', key: '', text: 'PPIC', 
                  items: [
                    { text: 'List SO', link: '/ppic' }
                  ] 
                }
}else if (t === "customer") {
  sidebarMenu = { icon: 'mdi-graph', key: '', text: 'Customer', 
                  items: [
                    { text: 'Quotations', link: '/customer' }
                  ] 
                }
}
config.navigation.menu = [sidebarMenu]

import MainMenu from '../components/navigation/MainMenu'
import ToolbarUser from '../components/toolbar/ToolbarUser'
// import ToolbarApps from '../components/toolbar/ToolbarApps'
// import ToolbarLanguage from '../components/toolbar/ToolbarLanguage'
// import ToolbarCurrency from '../components/toolbar/ToolbarCurrency'
// import ToolbarNotifications from '../components/toolbar/ToolbarNotifications'

export default {
  components: {
    MainMenu,
    ToolbarUser,
    // ToolbarApps,
    // ToolbarLanguage,
    // ToolbarCurrency,
    // ToolbarNotifications
  },
  data() {
    return {
      drawer: null,
      showSearch: false,

      navigation: config.navigation
    }
  },
  computed: {
    ...mapState('app', ['product', 'isContentBoxed', 'menuTheme', 'toolbarTheme', 'isToolbarDetached'])
  },
  methods: {
    onKeyup(e) {
      this.$refs.search.focus()
    }
  }
}
</script>

<style scoped>
.buy-button {
  box-shadow: 1px 1px 18px #ee44aa;
}
</style>
