<template>
  <div class="container mx-auto px-6 py-4 text-xs overflow-auto mb-4">
    <div class="mt-2 overflow-auto">
      <div class="flex justify-between items-center">
        <nuxt-link
          to="/wo_produksi"
          class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center"
        >
          <svg
            class="fill-current w-4 h-4 mr-2"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 32 32"
          >
            <path
              d="M12.586 27.414l-10-10c-0.781-0.781-0.781-2.047 0-2.828l10-10c0.781-0.781 2.047-0.781 2.828 0s0.781 2.047 0 2.828l-6.586 6.586h19.172c1.105 0 2 0.895 2 2s-0.895 2-2 2h-19.172l6.586 6.586c0.39 0.39 0.586 0.902 0.586 1.414s-0.195 1.024-0.586 1.414c-0.781 0.781-2.047 0.781-2.828 0z"
            />
          </svg>
          <span>Work Order </span>
        </nuxt-link>
        <h4
          class="text-gray-700 pb-2 uppercase float-right font-bold align-middle"
        >
          Work Order Detail
        </h4>
      </div>

      <div class="mt-4">
        <div class="p-6 bg-white rounded-md shadow-md">
          <h2 class="text-sm text-gray-700 font-semibold capitalize">
            Work Order Info
          </h2>
          <hr class="mb-2 mt-2" />
          <div v-for="wo in selectedWos" :key="wo.id">
            <WorkOrderRow :wo="wo" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { formatNumber } from '../../utils/format'

const pg = 'RealisasiSKO'
export default {
  name: 'RealisasiSKO',
  layout: 'dashboard',
  validate() {
    console.info(`${pg} validate()`)
    return true
  },
  async asyncData() {
    console.info(`${pg} asyncData()`)
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} asynsData() after 0.1 second`)
        resolve('OK')
      })
    }, 100)
  },
  created() {
    console.info(`${pg} created()`)
  },
  async fetch() {
    console.info(`${pg} fetch()`)
    await this.$store.dispatch('wop/getApprovedWo')
  },
  mounted() {
    console.info(`${pg} mounted()`)
    // this.$store.dispatch('setSelectedMenu', 'realisasi_sko')
  },
  data() {
    return {}
  },
  computed: {
    selectedWos() {
      return this.$store.state.wop.selectedWos
    },
    selectedWo() {
      return this.$store.state.wop.selectedWo
    },
  },
  methods: {
    formatNumber(val) {
      console.info('formatNumber', val)
      return formatNumber(val)
    },
    gotoSKO(wo) {
      // select sko
      console.info('gotoSKO', sko)
    },
  },
}
</script>