<template>
  <div class="container mx-auto px-6 py-4 text-xs overflow-auto mb-4">
    <div class="mt-2 overflow-auto">
      <div class="flex justify-between items-center">
        <nuxt-link
          to="/realisasi_sko"
          class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center"
        >
          <svg
            class="fill-current w-4 h-4 mr-2"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 32 32"
          >
            <path
              d="M12.586 27.414l-10-10c-0.781-0.781-0.781-2.047 0-2.828l10-10c0.781-0.781 2.047-0.781 2.828 0s0.781 2.047 0 2.828l-6.586 6.586h19.172c1.105 0 2 0.895 2 2s-0.895 2-2 2h-19.172l6.586 6.586c0.39 0.39 0.586 0.902 0.586 1.414s-0.195 1.024-0.586 1.414c-0.781 0.781-2.047 0.781-2.828 0z"
            />
          </svg>
          <span>Work Order </span>
        </nuxt-link>
        <h4
          class="text-gray-700 pb-2 uppercase float-right font-bold align-middle"
        >
          Work Order Detail
        </h4>
      </div>

      <div class="mt-4">
        <div class="p-6 bg-white rounded-md shadow-md">
          <h2 class="text-sm text-gray-700 font-semibold capitalize">
            Work Order Info
          </h2>
          <hr class="mb-2 mt-2" />
          <div class="grid grid-cols-1 sm:grid-cols-3 gap-2 mt-2">
            <div>
              <span>Nomor</span><br /><span class="font-bold">{{
                selectedWo.nomor
              }}</span
              ><br />
              <span class="font-bold">{{ selectedWo.tanggal }}</span>
            </div>
            <div>
              <span>Plafond Produksi</span><br /><span class="font-bold">{{
                formatNumber(selectedWo.limit_plafond_produksi)
              }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-4">
        <div class="p-6 bg-white rounded-md shadow-md">
          <h2 class="text-sm text-gray-700 font-semibold capitalize">
            Surat Kerja Operator Info
          </h2>
          <hr class="mb-2 mt-2" />
          <div :key="skoKey">
            <div v-for="sko in selectedSkos" :key="sko.id">
              <SkoRow :sko="sko" @afterAddRealisasi="afterAddRealisasi" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { formatNumber } from '../../utils/format'

const pg = 'SKOInputRealisasi'
export default {
  name: 'SKOInputRealisasi',
  layout: 'dashboard',
  validate() {
    console.info(`${pg} validate()`)
    return true
  },
  async asyncData() {
    console.info(`${pg} asyncData()`)
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} asynsData() after 0.1 second`)
        resolve('OK')
      })
    }, 100)
  },
  created() {
    console.info(`${pg} created()`)
  },
  async fetch() {
    /**
     * selected WO provided from prev screen
     * get SKO list, all status
     * show in SKORow.vue
     */
    console.info(`${pg} fetch()`)
    const woId = this.selectedWo.id
    if (woId) {
      await this.$store.dispatch('wop/getSkosByWoId', woId)
    }
  },
  mounted() {
    console.info(`${pg} mounted()`)
    if (!this.selectedWo.id) {
      this.$router.push({ path: '/realisasi_sko' })
    }
  },
  data() {
    return {
      skoKey: Math.random(),
    }
  },
  computed: {
    selectedSkos() {
      return this.$store.state.wop.selectedSkos
    },
    selectedWo() {
      return this.$store.state.wop.selectedWo
    },
    selectedRealisasis() {
      return this.$store.state.wop.selectedRealisasis
    },
  },
  methods: {
    formatNumber(val) {
      console.info('formatNumber', val)
      return formatNumber(val)
    },
    afterAddRealisasi() {
      console.info('afterAddRealisasi')
      this.$fetch()
      this.skoKey = Math.random()
    },
  },
}
</script>