<template>
<div class="d-flex flex-grow-1 flex-column">
    <v-card-title>
      <v-btn rounded color="primary" dark to="/wo_project">
        <v-icon left dark> mdi-arrow-left-bold </v-icon>
        Projects
      </v-btn>
      <v-spacer></v-spacer>
      DETAIL WO PROJECT
    </v-card-title>
    <v-row class="flex-grow-0" dense>
      <v-col cols="12" xl="6">
        <ProjectInfoWo :project="selectedProject" />
      </v-col>
      <v-col cols="12" xl="6">
        <ListPekerjaanWoProject
        :wo="selectedWo"
        :pekerjaans="selectedPekerjaans"
        @afterUpdateHarga="afterUpdateHarga"
        @afterAddDetailPekerjaan="afterAddDetailPekerjaan"
        @afterRemoveDetail="afterRemoveDetail"
        @afterAddPekerjaan="afterAddPekerjaan"
        @afterUpdatePekerjaanDetail="afterUpdatePekerjaanDetail"
      />
      </v-col>
      <v-col cols="12" xl="6" v-show="selectedWo.status_level === 0">
        <v-card>
          <v-card-title>
            <div>Confirm WO Project</div>
          </v-card-title>
          <v-card-text>
            <v-btn
            color="blue"
            @click.prevent="confirmWo">
            Confirm WO Project
            </v-btn>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" xl="6" v-show="selectedWo.status_level > 0">
        <v-card>
          <v-card-title>
            <div>WO ini sudah dikonfirmasi</div>
          </v-card-title>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { formatNumber } from '../../utils/format'
const pg = 'DetailWoProject'
export default {
  name: 'DetailWoProject',
  layout: 'dashboard',
  validate() {
    console.info(`${pg} validate()`)
    return true
  },
  async asyncData() {
    console.info(`${pg} asyncData()`)
    setTimeout(() => {
      return new Promise((resolve, reject) => {
        console.info(`${pg} asynsData() after 0.1 second`)
        resolve('OK')
      })
    }, 100)
  },
  created() {
    console.info(`${pg} created()`)
  },
  async fetch() {
    console.info(`${pg} fetch()`)
    const wo_id = this.selectedWo.id
    const project_id = this.selectedWo.project_id
    if (wo_id) {
      await this.$store.dispatch('project/getWoProjectById', wo_id)
      await this.$store.dispatch('project/getPekerjaansWoByWoId', wo_id)
      await this.$store.dispatch('project/getProjectById', project_id)
    }
  },
  data() {
    return {}
  },
  mounted() {
    console.info(`${pg} mounted()`)
    if (!this.selectedWo.id) {
      this.$router.push({ path: '/wo_project' })
    }
  },
  computed: {
    selectedWo() {
      return this.$store.state.project.selectedWo
    },
    selectedProject() {
      return this.$store.state.project.selectedProject
    },
    selectedPekerjaans() {
      return this.$store.state.project.selectedPekerjaans
    },
  },
  methods: {
    formatNumber(val) {
      return formatNumber(val)
    },
    async afterUpdateHarga() {
      this.$fetch()
    },
    async afterAddDetailPekerjaan() {
      this.$fetch()
    },
    async afterRemoveDetail() {
      this.$fetch()
    },
    async afterAddPekerjaan() {
      this.$fetch()
    },
    async afterUpdatePekerjaanDetail() {
      this.$fetch()
    },
    async confirmWo() {
      const id = this.selectedWo.id
      if (id) {
        if (confirm(`'Yakin akan confirm WO Project ini ?!`)) {
          const c = await this.$store.dispatch('project/confirmWo', id)
          if (c.error) {
            alert('Error, pesan:['+ c.msg+']')
          } else {
            alert('Success, WO berhasil dikonfirmasi')
            this.$router.push({ path: '/wo_project' })
          }
        }
      }
    },
  },
}
</script>